[2017-10-27 09:06] libBletchley commented on #897
I ran `configure.autosetup` and got: `Error: Unable to find xsltproc`

This is in the INSTALL file:
[code]
I already have the `docbook-xsl` package installed (it's a requirement of okular).  What am I missing?

[2017-10-27 09:12] gahr commented on #897
Uhm, that's installed by libxslt on FreeBSD, dunno about Debian.

[2017-10-27 09:12] gahr commented on #897
https://packages.debian.org/search?keywords=xsltproc does this help?

[2017-10-27 09:14] gahr commented on #900
I would try with a minimal muttrc, and incrementally add suspect settings like anything mentioning pgp.

[2017-10-27 09:21] libBletchley commented on #897
Thanks, i got past the xsltproc error.  Now I have this: `Error: Unable to find ncursesw library`

I do have the `libncursesw5` package installed.  So I tried this: `./configure.autosetup --with-ncurses=/lib/x86_64-linux-gnu/libncursesw.so.5` and same problem: `Error: Unable to find ncursesw library`.

[2017-10-27 09:36] libBletchley commented on #900
I'm no longer being redundantly asked for a gpg password, so gpgme must be in play.  And so a minimal config wouldn't make a difference.

[2017-10-27 09:41] gahr commented on #897
I think it's custom on Linux to provide shared libraries and headers in two different libraries. I think you're looking for `libncursesw5-dev`.

[2017-10-27 09:42] gahr commented on #897
https://www.neomutt.org/distro/debian mentions using `apt-get build-dep mutt` to install all build dependencies.

[2017-10-27 09:43] libBletchley commented on #898
**workaround** Enabling gpgme by configuring with `set crypt_use_gpgme = yes` will avoid the redundant password entry.  But it's not a solution because gpgme breaks other things, like ability to send encrypted messages to hushmail and protonmail users (gpgme breaks traditional inline pgp).

[2017-10-27 09:47] libBletchley commented on #897
Thanks, that should normally make it easy.. but things are getting dicey:
[code]

[2017-10-27 10:03] gahr commented on #897
I am totally not familiar with Debian, so I can't help much. Do you have `libncursesw5-dev` installed by now? Does it still say `Error: Unable to find ncursesw library` ?

[2017-10-27 13:15] libBletchley commented on #897
I had the `libncurses5-dev` package installed before I even started.  ATM i'm stuck.  `./configure.autosetup` gives "Error: Unable to find ncursesw library" and `aptitude --log-level=debug build-dep mutt` gives:
[code]
even though I've been able to install `libgpgme11-dev`.

[2017-10-27 13:26] gahr commented on #897
Can you post your config.log?

[2017-10-27 13:29] libBletchley commented on #897
[code]

[2017-10-27 13:38] mgedmin commented on #897
@libBletchley note that libncurses5-dev and libncurses**w**5-dev are different packages.  Be sure you have the wide-char version installed too!

If `sudo aptitude build-dep mutt` fails, can you try `sudo apt-get build-dep mutt` instead?

[2017-10-27 13:57] libBletchley commented on #897
@mgedmin
Good catch!  Indeed I did not have libncurses**w**5-dev, and to my surprise `apt-get build-dep mutt` works.  I suppose that's an aptitude bug I should report.  So now `./configure.autosetup` works, ending with:
[code]
What next?  Instructions say to run `make install`, skipping the `make all` that normally runs before that.  I don't really want to install the thing and muddy things w/the

[2017-10-27 14:09] gahr commented on #897
config.log seems to confirm @mgedmin's suspects, in that the compiler cannot find libncursesw.so

[code]

[2017-10-27 14:10] gahr commented on #897
Ah, I came late to the party. @libBletchley good to know you could configure it. Please just run `make`, it will create a `neomutt` executable in the working directory.

[2017-10-27 14:28] libBletchley commented on #897
okay, i simply ran `make`.  Looks like possibly an unhappy ending:
[code]

[2017-10-27 14:44] gahr commented on #897
`./configure.autosetup --gpgme`

[2017-10-27 15:48] libBletchley commented on #900
So I have a bleeding-edge version now, gpgme enabled, and `decrypt-copy` still produces an encrypted msg.

[2017-10-27 15:49] libBletchley commented on #897
Bleeding-edge version 20171013-49-42f391 still fails in the same way.. dos2unix chokes.

[2017-10-27 16:17] gahr commented on #897
Ok so we figured it's not about PGP or GPGMe. Let's put them aside and concentrate on dos2unit's input. Can you post that?

[2017-10-28 07:56] libBletchley commented on #897
I changed the config to this: `message-hook '~f .*@hushmail.com'  "set display_filter='tee -a /tmp/sample_msg.txt'"` which produced a file with the same contents that was fed to `dos2unix`.  The file is attached:
[sample_msg.txt](https://github.com/neomutt/neomutt/files/1424037/sample_msg.txt)

[2017-10-28 08:02] libBletchley opened #901 "segmentation fault when doing a "copy-message" to an unpermitted path"
* Expected behavior
If you tell mutt to write a file to a directory where you do not have write permission, mutt should simply state the problem and take no action.
 * Actual behavior
Mutt crashes with a segmentation fault:
[code]
 * Steps to reproduce
Select a message as a user, and issue the `copy-message` command.  Specify the file is `/foo.txt` (assuming the user does not have write permission

[2017-10-28 16:22] libBletchley opened #903 "Warn mutt-S/MIME users when they're about to (unwittingly) hack iOS users"
I've accidentally discovered a security bug in iPhones while using mutt's very flexible behavior w.r.t address matching on S/MIME certs.  That is, mutt will allow a sender's e-mail address to mismatch the address associated to the S/MIME signing key.  This can cause problems for iPhone users.  Here is the reproducer:

1. Create an S/MIME key pair and import it into mutt using the `smime_keys` scri

[2017-10-29 17:13] libBletchley opened #904 "crypt_use_gpgme does not default as documented"
The [documentation for crypt_use_gpgme](https://dev.mutt.org/doc/manual.html#crypt-use-gpgme) states that gpgme is disabled by default, but in the absence of a setting for `crypt_use_gpgme` neomutt uses it.  It's evident because when I try to send an inline PGP message to a protonmail recipient, mutt refuses and attempts to force the use of PGP/MIME.  I could only workaround the problem by explici

[2017-10-29 19:38] libBletchley commented on #897
I repeated the process with the old working version of mutt, and it produced the same output.  And so I fed the old mutt output to the new `dos2unix` and it choked on the binary.  This means `dos2unix` changed and there is no regression in mutt.

**workaround**
Adding a `-f` to `dos2unix` to force processing of binary input works in the case of filtering hushmail msgs in mutt.

**remaining problem

[2017-10-30 11:53] mjk-gh opened #905 ""ifdef" ignores user-defined variables"
* Expected behavior
"ifdef" should honor user-defined variables. In the example below, it should honor the
variable "my_positive", and mutt thusly should show the index in black on green.

    * Actual behavior
"ifdef" ignores user-defined variables. In the example below, it ignores the
variable "my_positive", and mutt thusly shows the index in green on black.

    * Steps to reproduce
$ mutt -v |

[2017-10-30 12:39] gahr commented on #905
@mjk-gh, could you please give the branch devel/issue-905 a try?

[2017-10-30 12:40] mgedmin commented on #897
That's a terminal control command.  ESC ] is "Operating System Command (OSC)", but OSC 9 is not defined by http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-Operating-System-Commands.  Was that one of the digits you changed?

Maybe consider an alternative filter that leaves doesn't get confused by terminal control sequences, e.g. `tr -d '\r'`?

[2017-10-30 13:02] mjk-gh commented on #905
Quickly tested (w/o Debian patches/compile time options): Works like a charm! Thank you!

[2017-10-30 13:08] gahr commented on #905
Thanks for the prompt test!

[2017-10-30 15:01] gahr commented on #904
Please post the ouputs from `neomutt -v` and `neomutt -DS`, plus any additional `:set...` commands you specify interactively to reach this point.

[2017-10-30 15:09] gahr commented on #901
Would you please try to test a newer version? The current master branch gives me `/foo.txt: Permission denied (errno = 13)`, and no crash.

[2017-10-30 15:44] #905 closed

[2017-10-31 08:50] gahr commented on #903
The smime_sign_as variable is secretly documented in a "Thawte and Mutt - playing nicely?" article, but does not appear in the mutt manual.

`smime_sign_as` is a synonym for `smime_default_key`.

[2017-10-31 09:08] gahr commented on #898
I cannot reproduce. Copy message here correctly copies the encrypted message without trying to decrypt it.

Again, please try with a recent version of neomutt, trim your config to a minimum, and try to incrementally add to it until you figure which setting is causing the misbehaviour. Thanks!

[2017-10-31 14:26] VladimirPal commented on #589
Same issue. Nothing of described above didn't helped.

[2017-10-31 14:37] gahr commented on #589
Does building with `make EXTRA_CFLAGS=-DNCURSES_WIDECHAR` help?

[2017-10-31 14:57] VladimirPal commented on #589
I think my issues was fixed after brew update and reinstall neomutt.
But i'm not sure, because i've tried many different build versions with different args.
At some point, everything worked. i've tried to reproduce the bug, but currently it works with default build. Also i've installed ncurses separately(brew install ncurses), but after uninstall ncurses and rebuild mutt, it still working. Sorry g

[2017-10-31 15:06] lrosenman opened #907 "Compile/Link issues on master"
* **bug reports**

    * Expected behavior
      Clean Compile
    * Actual behavior
      link errors: https://pastebin.com/D6XJ1eX0
    * Steps to reproduce
      git clone https://github.com/neomutt/neomutt.git neomutt
      PATH=$PATH:/usr/local/Cellar/gettext/0.19.8.1/bin
      autoreconf -i
      ./configure '--prefix=/usr/local/Cellar/neomutt/20171027' '--with-ssl=/usr/local/opt/openssl' '-

[2017-10-31 17:37] libBletchley commented on #904
I've reproduced the problem in a more recent version.
[code]
I've attached the `neomutt -DS` output:
[muttcfg.txt](https://github.com/neomutt/neomutt/files/1431653/muttcfg.txt)

As far as interactive commands, I'll have to guess at the hooks that would have run.  These settings may be relevant:
[code]
If I compose a new msg to a protonmail user who is not aliased, the interactive PGP menu excludes

[2017-10-31 17:44] libBletchley commented on #901
When I repeat this in a version of neomutt that is only 2 weeks old, there is no crash, just a proper error msg.

[2017-10-31 18:10] libBletchley commented on #898
First of all, I need to be clear that the output is correct.  Mutt produces the ciphertext, as it should.  The problem is the mere prompting for a GPG password.  It asks for a password, and perhaps it uses the password internally, but the GPG output is not used.

BTW, I just tested with a minimal config, both NeoMutt `20170113 (1.7.2)` and NeoMutt `20171013-49-42f391` and the bug does not manifest

[2017-10-31 18:16] libBletchley commented on #898
So apparently I need to run `copy-message` many times with different configs.  Is there a way I can automate that?  I don't suppose I can do something like `mutt -e copy-message <msgid> output.mbox`?

[2017-10-31 18:49] libBletchley commented on #898
So what I've found is quite baffling.  These two settings togther are all that's needed to reproduce the bug:
[code]
That hook is not my idea, just something I inherited when copying Sven Guckes configs to have a starting point.  If I `grep -i euc-kr my.mbox`, there are no matches, so it's astonishing that a save-hook that would never trigger is causing gpg to execute.

[2017-10-31 19:34] #898 closed

[2017-11-01 11:25] #901 closed

[2017-11-01 16:05] libBletchley commented on #897
Ah, sorry, i shouldn't have tampered with that number.  It's `9;5491425466969332505`.  Indeed I can see the shade of black in the background change on the lines that have that code.

[2017-11-02 08:52] mgedmin commented on #897
What terminal program do you use?  What's the value of the `TERM` environment variable?  I'm now very curious about OSC 9, but it's hard to google for, and the hits I find seem unlikely ([ConEmu on windows uses these](https://conemu.github.io/en/AnsiEscapeCodes.html#OSC_Operating_system_commands) for all sorts of things; [iTerm2 uses these for Growl notifications](https://blog.vucica.net/2017/07/w

[2017-11-02 08:55] libBletchley commented on #802
We might consider giving notice upon receipt of a non-zero exit code from an external process such as that of a `message-hook`-triggered filter.  The particular scenario I have in mind is this:
https://github.com/neomutt/neomutt/issues/897.  In that case, the error output overwrites the screen.  A better approach would be to properly display the unfiltered message, and create an error notification

[2017-11-02 08:59] immae opened #909 "SIGPIPE when using imap"
I get a SIGPIPE at random time (usually after ~1 day of use) when I use mutt with imap.

This is a summary of the subsequent discussion in IRC (channel neomutt):

Running it with gdb gives this backtrace and `p *data`:
https://paste.ee/p/Lfcp4

`p *conn`: https://paste.ee/p/cR0yn

`p *data->ssl` and `p *data->ctx` both give `<incomplete type>`

[2017-11-02 09:00] immae commented on #909
(gdb is still open, please contact immae on IRC for further investigation)

[2017-11-02 09:00] libBletchley commented on #897
IMO, the elegant fix of defering the terminal control command injection until after the filter runs is perhaps not worth the effort.  But I do think the error handling could improve so that error output is handled by the new notification logic: https://github.com/neomutt/neomutt/issues/802, while unfiltered content is presented.

[2017-11-02 09:02] libBletchley commented on #897
I use _terminator_ for the terminal, and _GNU screen_ within that, giving a `$TERM` of `screen.xterm-256color`.

[2017-11-02 09:04] libBletchley commented on #897
I use _terminator_ for the terminal, and _GNU screen_ within that, giving a `$TERM` of `screen.xterm-256color`.

[2017-11-02 09:10] mgedmin commented on #897
If even possible -- it might be gpg that's adding those terminal control sequences.

Terminator uses libVTE which [doesn't know anything about OSC 9](https://github.com/GNOME/vte/blob/d8146f747f3b55aff3e5b838f77da08653d117a3/src/caps.cc#L228-L229).

GNU screen doesn't either, according to https://www.gnu.org/software/screen/manual/html_node/Control-Sequences.html

I remain mystified.

[2017-11-02 09:35] libBletchley commented on #897
This is a screen capture of a hushmail msg in my terminal (w/sensitive bits clipped).  You can see the alternating shade of the black background.

![mutt_hushmail_screencap](https://user-images.githubusercontent.com/18015852/32319068-812ea020-bfb9-11e7-93c8-bac9b1d9cbb2.png)

[2017-11-02 09:36] gahr commented on #802
From #897

This is still in a very early stage of discussion, but I don't see it as a runtime notification system. The way I see it, it's more about fixed compile-time / startup things. I wouldn't expect the notifications list to change while running.

[2017-11-02 09:38] immae commented on #909
`sudo netstat --all --program | grep 29661` is empty

[2017-11-02 20:03] carlytinnerello commented on #722
@nobrowser: Is there any progress on this?

[2017-11-02 20:25] reisradomil commented on #815
chrisbra's suggestion works in that use case and for editors/readers which accept input from stdin.

If it still seems be nice to have a more integrated solution as outlined above (i.e. a more uniform handling of the 'e' key-stroke), I would still be willing to implement this if someone gives me some support regarding my questions.

[2017-11-03 08:36] gahr commented on #909
So, your peer closes the connection while you're writing to the socket, which causes the SIGPIPE. I'm wondering why it's not being ignored, as `mutt_signal_init` seems to [imply](https://github.com/neomutt/neomutt/blob/master/signal.c#L119-L122).

[2017-11-03 08:37] gahr commented on #909
Could you please try to send neomutt a PIPE signal manually and see how it behaves?

[2017-11-03 08:38] immae commented on #909
Maybe gdb is responsible for catching the signal before mutt?

[2017-11-03 08:40] immae commented on #909
Sending a SIGPIPE is ignored by mutt

[2017-11-03 09:29] gahr commented on #909
So this was an artifact of debugging. SIGPIPE was correctly caught by gdb but would otherwise have been ignored by neomutt. I'll close this pending fresh info on the actual crash.

[2017-11-03 09:29] #909 closed

[2017-11-03 12:45] gahr commented on #815
Thank you @reisradomil, I think this is going to be a nice enhancement.

Yes, that seems the only place where `OP_EDIT_MESSAGE` is used. The function `edit` is available in both `OpMain` and `OpPager` (see `functions.h`), `mutt_index_menu` handles both.

ACL is finer-grained than READONLY. I'd say for edit-message requires `CHECK_READONLY` and `!CHECK_ACL(MUTT_ACL_INSERT, ...)` - as it is now. For

[2017-11-03 20:42] libBletchley commented on #904
We can blame this on Debian package maintainers.  I found this in `/etc/Muttrc.d/gpg.rc`:
[code]
Yikes!

In NEWS.Debian:
[code]

[2017-11-03 21:54] lbschenkel opened #910 "Segmentation fault: 11 / Abort trap: 6"
This was reported on MacPorts bug tracker: https://trac.macports.org/ticket/55236
- version: 20171027

I'm quoting the relevant part of the original report plus the crash dumps below.

~I was not able to reproduce the issue on my environment.~ Scratch that, I can also reproduce the same crashes on macOS 10.13 using the exact config files reported. This is the (shortened) version info for **my** ne

[2017-11-03 22:34] lbschenkel commented on #910
I have bisected the the code, and the reported issue started happening on commit 4ac1c81ed710c8b27dc23821330b2005f7122214

[2017-11-04 12:15] gahr commented on #910
@sileht

[2017-11-04 14:06] gahr commented on #910
Thanks @lbschenkel for finding the culprit. I shall have a look tomorrow if Mehdi doesn’t get to it first.

[2017-11-04 15:58] reisradomil commented on #815
I have now the following code (slightly simplified)

[code]

The variable `mode` in the case-statement gets set depending on whether we should edit or only view the raw message. This depends on whether the mailbox is read-only and which of the three operations (edit, view, edit-or-view) was given. It is then passed to `mutt_edit_message()` which does all the heavy work.

The question is what type

[2017-11-05 11:38] gahr commented on #910
The branch devel/issue-910 should fix this.

[2017-11-05 11:53] lbschenkel commented on #910
I am having trouble building this branch:
[code]

Is there something I'm forgetting or doing wrong?

[2017-11-05 11:56] gahr commented on #904
I'm closing this, as I think if you would like to pursue solution 2, it would be better to do that in a separate dedicated issue. Thanks!

[2017-11-05 11:56] #904 closed

[2017-11-05 11:57] gahr commented on #910
Nothing wrong at your side, you're experiencing #907 . I'm working on it.

[2017-11-05 12:07] lbschenkel commented on #910
FYI: I have cherry-picked the commit in `devel/issue-910` (dbe897cda903b859a90d6a2ec998d1c700f59194) on top of latest tag `neomutt-20171027` to verify the fix and confirmed that it does not crash.

[2017-11-05 12:15] gahr commented on #910
Thank you @lbschenkel !

[2017-11-05 12:35] gahr commented on #907
Does the devel/issue-907 branch fixes the issue for you? @lbschenkel @lrosenman

[2017-11-05 12:38] lbschenkel commented on #907
Yes, I can build this branch.

[2017-11-05 12:42] #910 closed

[2017-11-05 12:42] #907 closed

[2017-11-05 13:25] libBletchley opened #913 "Remove the crypt_use_gpgme variable"
The `crypt_use_gpgme` variable is not needed and has proven to cause problems (e.g. https://github.com/neomutt/neomutt/issues/904).

**the current state**
Users are permitted to set `pgp_*_command` options and at the same time enable `crypt_use_gpgme`.  That makes no sense.  When a user (or their systemwide settings) does this, neomutt parses the config without warning or error.  And worse, the be

[2017-11-05 13:26] libBletchley commented on #904
I've opened https://github.com/neomutt/neomutt/issues/913

[2017-11-05 14:19] gahr opened #914 "HCACHEVER is 0x on macOS Sierra"
* **bug reports**

    * Expected behavior
`make hcache/hcversion.h` generates a header file containing the hashing of the structures required by the header cache. With current master as of fe03e2b1, it should be `0xabf39e6c`. The script `hcache/hcachever.h` has logic to figure out the supported way to generate an md5 hash in a format compatible to binutils'. If OpenSSL is installed, it uses `open

[2017-11-05 14:38] gahr commented on #914
@lbschenkel @lrosenman might I ask you for a double check on your macOS instances? Thanks!

[2017-11-05 14:44] lbschenkel commented on #914
I cannot really tests this because I have High Sierra (10.13) installed and `/usr/bin/openssl` **does** support `md5 -r`. The port for MacPorts also uses MacPorts' `openssl`, not the system version, so at least in MacPorts land we're not affected by this in any platform.

[2017-11-05 14:45] gahr commented on #914
Makes sense, thanks anyway!

[2017-11-05 14:59] gahr opened #916 "Fix usage of --with-openssl"
The path specified with `--with-openssl=/path`is only used by the linker during configure time.

[2017-11-05 15:59] gahr opened #918 "Long-term solution for per-library globals"
This is a follow-up of #907 , which was hurry-fixed in #912 .

Here, a better solution to modularize globals into per-library modules is sought.

[2017-11-05 16:13] gahr commented on #918
It turns out I had overlooked the fact that variables in conn_globals.h were declared as `extern`. That was wrong and caused the actual variable definition in conn_globals.c to never be visible outside the TU.

No big deal or long-term thing to be sought.

[2017-11-05 16:17] #918 closed

[2017-11-05 19:57] nobrowser commented on #722
No, unfortunately I have been very distracted :-(  Too many CVEs and similar to fend off.
Should I unassign myself?

[2017-11-05 20:39] gahr commented on #722
I'll take this. I think the reason for this conversion (which has been there since "Initial revision") is due to a (mis?)interpretation of this note in rfc1341:

            NOTE ON TRANSLATING  ENCODINGS:   The  quoted-printable  and
            base64  encodings  are  designed  so that conversion between
            them is possible. The only  issue  that  arises  in  such  a
            convers

[2017-11-05 21:06] gahr commented on #722
@carlytinnerello could you by any chance give the branch devel/issue-722 a try? I couldn't find many emails with such an encoding + CRLF in my mailbox (just one actually) so I'm not sure of any potential fallout.

[2017-11-06 00:27] lrosenman commented on #907
Sorry for the lack of response, I was offline as I out of town, and on crappy internet.  I see the issue was resolved.  Thank!

[2017-11-06 10:11] RichiH opened #921 "[FR] Safe autosync"
Not having read states etc synced back to IMAP makes multi-seat setups cumbersome and is horrible with mobile clients.

The old, and valid, concern is that autosync of any sort could delete email accidentally marked as deleted.

My proposed workaround would be an autosync which only syncs states which are on a safe list of commands; the user being able to change said list.

The lack of a backgroun

[2017-11-06 10:11] RichiH opened #922 "[FR] Create hooks for SIGUSR1 and SIGUSR2"
Currently, there's no way to control mutt from the outside. Hooks for SIGUSR[12] could solve that.

This idea is not exactly new; see also:
* https://dev.mutt.org/trac/ticket/2202
* https://github.com/neomutt/neomutt/pull/625
* https://github.com/neomutt/neomutt/issues/921

[2017-11-06 13:54] #916 closed

[2017-11-07 00:55] flatcap commented on #897
OK, I understand what's going on now.  It took a couple of hours, though.
It's been a part of the upstream code since 2001.

NeoMutt is inserting the strange escape sequence.  It does it so that it can confidently identify the PGP lines it's added.
There are a couple of solutions, neither are particularly good:

1. Filter out the escape sequence using the `ansifilter` program
   `message-hook '~g'

[2017-11-07 02:12] flatcap commented on #722
I've had a good look at this and I agree it's a bit odd.
(Neo)Mutt is trying to do the user a favour by "fixing" the line-endings,
but as you point out there are a lot of times when that might be the wrong thing to do.

Options:
1. Do nothing.  Mutt's always worked this way.
2. Use @gahr's fix.  "Save attachment" should do exactly that, no more.
3. Auto-magically fix the file (examine the file to

[2017-11-07 13:51] mimaoffice opened #927 "Syntax highlighting broken while composing email with vim in neomutt"
Since the new version of `neomutt` (20171027) the syntax highlighting in `vim` is broken while composing emails. The problem is caused by the fact, that the temporary filename for the email begins now with `neomutt-`... and no more with `mutt-...`.

One could solve the problem by modifying the `vim` config file `/usr/share/vim/vimNN/filetype.vim`, but this is not the best solution...

What do you

[2017-11-07 14:04] gahr opened #928 "Bring consistency among sizes"
Currently, a mix of `size_t`, `unsigned long`, `unsigned`, and `int` is used in our code base to express sizes, which are usually conveying information about the length of a string or the capacity of a buffer.

Scope of this issue is to perform a single swipe over the code base and convert all sizes to `size_t`.

[2017-11-07 14:17] lbschenkel commented on #927
Chiming in: there's also NeoVim to consider. Although we can try to get all mainstream editors to recognize NeoMutt, it might take months/years for these changes to be pulled downstream and be visible to users. I think a more pragmatic solution would be for NeoMutt to leverage the existing "knowledge" of the installed base of editors and keep using the `mutt` prefix when composing mail (or maybe m

[2017-11-07 14:27] chrisbra commented on #927
Neomutt runtime files have been included in Vim as of https://github.com/vim/vim/commit/01164a6546b4c635daf96a1f17d1cb2d07f32a66
Neovim will merge those eventually

[2017-11-07 14:54] gahr commented on #589
@andreas-bulling pull request #908 was merged into master. Could you please try with that?

[2017-11-07 17:51] d-k-c commented on #722
I think @gahr is mostly right. The confusion must come from the original authors' interpretation of line break conversion to CRLF. From [RFC2045 Section 6.8](https://tools.ietf.org/html/rfc2045#section-6.8)

[code]

But there is no way to know if a conversion occured on the sender side or not. For simple text emails, this probably doesn't have an impact, but I would clearly expect my email client

[2017-11-07 18:15] libBletchley commented on #747
For reference, this is what it looks like on the receiving side when sending an attachment to a protonmail user using PGP/MIME:
![protonmime](https://user-images.githubusercontent.com/18015852/32510161-ed53ba94-c3ef-11e7-91a8-eff362596f73.png)

[2017-11-07 18:30] gahr commented on #747
`<only-half-joking>` perhaps we should just drop support for inline pgp altogether (deemed deprecated, wrong, evil, a loooong time ago) and stop worry? `</only-half-joking>`

[2017-11-07 18:40] libBletchley commented on #747
PGP/MIME is quite old.. I don't get why a new project like protonmail would start off using old standards.  I think it was only 2 yrs ago that they became PGP/MIME compliant for msgs w/out attachments.

[2017-11-07 21:16] carlytinnerello commented on #722
Thanks @gahr for the proposed patch.

I tested it against my minimal working example in the initial report and saving the attachment worked fine, i.e. `CRLF` was preserved.
I also tested it against a real life example which previously saved a broken pdf. This worked also.

I did some further tests.

* Mails without CRLF are still displayed and saved correctly (as you might expect)
* Mail with a te

[2017-11-08 08:59] rlue commented on #589
Confirming @VladimirPal's comment.

On a Mac, I saw this issue when the Region (in System Preferences) was set to Taiwan. The output of `locale` is below:

[code]

`export LC_ALL=en_us.UTF-8` fixes it, as does switching the region to US in System Preferences. Haven't tried other locales.

[2017-11-08 09:37] mgedmin opened #930 "Does not handle Ctrl-Z correctly"
## Expected behavior

Pressing Ctrl-Z should suspend Mutt and return me to shell.  Typing `fg` should return me to Mutt

## Actual behavior

When I `fg` after a ^Z, Mutt redraws the screen, then gets suspended again, immediately, with the cursor in the middle of the screen.  If I `fg` again, I'm back in Mutt, but the terminal mode remains cooked (local echo, no action taken until I press Enter), w

[2017-11-08 09:43] mgedmin commented on #930
Note: this only happens if I run `mutt` from a wrapper shell script.  I've updated the steps to reproduce to make this clear (running `sh -c mutt` is sufficient).  Note that `/bin/sh` is dash on Ubuntu.

I can also reproduce this with neomutt from today's git master (20171027-27-7ba07d).

[2017-11-08 10:35] mgedmin commented on #229
I cannot commit to doing a full translation, but I would like to at least fix some problems with **Lithuanian**.
E.g. currently it's nearly impossible for me to disable PGP signing, since the "PGP (e)ncrypt, (s)ign, sign (a)s, (b)oth, s/(m)ime or (c)lear?" prompt is untranslated, but the response letters ("esabmc") *are* translated (to "usablp"?!).

[2017-11-08 10:53] Natureshadow commented on #930
Running a script does not start an interactive shell, and you cannot
expect to have a functioning terminal associated to it.

Likewise, the ^Z is probably not handled by mutt, but by the shell
running it.

Running curses or other directly terminal dependent applications from a
script does not work, and this is not a bug in mutt.

(JM2C, I am not a mutt developer.)

[2017-11-08 11:17] flatcap commented on #229
@mgedmin Thanks, that would be brilliant!

You'll just need to edit `po/lt.po` -- https://www.neomutt.org/dev/translate-strings

IIRC, there are about 15 prompts and variations for the 'letter' menus.
They're the trickiest part of the translations to get right.
They're all commented, now, but if you have any problems just ask.

Not a problem.  If you can translate 13 strings then you'll overtake G

[2017-11-08 12:01] #914 closed

[2017-11-08 12:01] #722 closed

[2017-11-08 12:06] flatcap commented on #930
I've tried a few shells and I can reproduce your problem with `tcsh -c neomutt` (bash, dash, ksh, zsh work for me) and any shell script.  (I see the same broken behaviour using `mutt-1.9.1`)

I thought, as @Natureshadow did, the wrapper must be at fault.
A bit more testing makes me think otherwise...

- `tcsh -c links`
- `tcsh -c vim`
- `tcsh -c top`

All these curses apps suspend and restore corr

[2017-11-08 13:06] DebXWoody commented on #416
Hello,
from time to time I get an error message “rename: Datei oder Verzeichnis nicht gefunden (errno = 2)”.
I guess it happens when I have mutt running more than once.

I’m not familiar with maildir. I also didn’t check the implementation. Anyway, just some idea,…

It seems to me that there is an issue with sync of filename in Maildir and the state of the virtual notmuch folder. Some like @eblau

[2017-11-08 13:42] Natureshadow commented on #930
No… they do not suspend either, because they don't run under job control
either. They just react differently when *not* running under job
control. You can easily see that by your shell's output when suspending
one of them (it will say that "tcsh -c foo" was suspended instead of
foo).

Or they implement their own job control (which mutt could probably do as
well, but I think it's the shell's job.).

[2017-11-08 14:35] yourealwaysbe opened #931 "folder-hook executes "too soon""
Using neomutt r8261.51fea281d-1 with Arch Linux  4.13.9-1-ARCH.  In my muttrc
[code]
earns the message "Not available in this menu" each time the folder is changed.  If i switch the order
[code]
the message goes away, but after sending a mail and returning to the mailbox, neomutt appears to go into message compose mode and "To: irst-entry>" is displayed in the status bar, awaiting my input.  The l

[2017-11-08 15:24] flatcap commented on #897
OK, there's been a change of plan.
After a lot of discussion on IRC, I've made the decision to not fix this.

We thought up and shot down a **lot** of possible alternatives, but...

- Mutt's behaved this way for a long time
- The escape sequence was introduced to avoid false positives when colouring headers
- Simple workarounds exist
  * `ansifilter`
  * `sed 's/^\x1b]9;[0-9]\+\x7//'`

For your sp

[2017-11-08 15:55] RichiH commented on #930
As the canonical way to set PWD, i.e. the attachment saving directory, is via `cd foo; mutt; cd -`, this actually impacts users.

[2017-11-08 16:09] Natureshadow commented on #930
A command list does not spawn a sub-shell, so this works perfectly.

One can force the shell to interactive mode with job sontrol by passing
the -i or -m option, or doing `set -m` in a script. However, what is
really interesting, is that mutt then catches a SIGHUP and exits when
using ^Z (which, in contrast to the other behaviour, really looks like a
bug).

[2017-11-08 17:01] #897 closed

[2017-11-08 17:16] mgedmin commented on #930
FWIW here's [the script I use](https://github.com/mgedmin/scripts/blob/c71e4019f013d6c590cc154678b2432442fca801/pmutt).  I can work around this issue by replacing `mutt -f ...` with `exec mutt -f ...`.

[2017-11-08 17:35] gahr commented on #930
Which replaces the shell process with mutt’s, thus resulting to the same as not calling mutt through a shell command.

[2017-11-09 09:59] libBletchley opened #933 "smime_keys script fails if ~/.mutt/muttrc is not used"
The `smime_keys` script is hard-coded to presume that mutt is using the default config file location.  This limitation is also undocumented.  So if a user normally runs `mutt -F /media/usb0/muttrc`, and then tries to manage their S/MIME keys, `smime_keys` operates on the wrong keystore.  `mutt -Q` returns hard-coded default values in the absence of `~/.mutt/muttrc`, so there is no warning either (

[2017-11-09 10:11] EdwardBetts opened #934 "Only need to warn about missing SSL once"
I have multiple mailboxes that I access via secure IMAP. I managed to build neomutt without SSL supporter. It complains about SSL being missing for each mailbox, with a pause between each message. It only needs to tell me once that SSL is missing and it doesn't need to pause between messages.

$ ./neomutt
SSL is unavailable.
SSL is unavailable.
SSL is unavailable.
SSL is unavailable.
SSL is unavai

[2017-11-09 10:32] gahr commented on #934
Heh, this has been bugging me from time to time too. Thanks for making it clear someone else is unhappy, I now have a driver to work on this.

[2017-11-09 11:48] libBletchley opened #935 "Self-signed certs rejected by smime_keys when coupled with a private key"
When running: `smime_keys add_p12 my_self-signed_key.p12`, the result is:
[code]
There are a few bugs here:
1. If a cert is self-signed, `smime_keys` should not expect to find a root or intermediate cert.
2. The `add_p12` command is to add one's **own** key pair.  The private key is in the same container.  Having the private key for a corresponding certificate is as authentic as ownership gets.  O

[2017-11-09 12:21] libBletchley opened #936 "smime_keys forces private keys to be encrypted (even if the key is already encrypted by other means)"
**feature request**
When a user attempts to introduce a key pair without supplying a password, this occurs:
[code]
Whether a private key is encrypted on local storage should be that users choice.  Responsibility and accountability should go to the same person, so that someone is not held accountable for someone elses security decision.  A user who utilizes encrypted local storage may find in their

[2017-11-09 12:34] libBletchley commented on #897
That's conventional wisdom.  I would hope that old bugs would not persist on the basis of being old.

That's kind of reasonable.. but OTOH, it seems like overengineering; overengineering that can still go wrong.  That is, what if the user is on a mono terminal- wouldn't those codes be printed literally?

Fair enough.. that's actually the strongest argument.  It should have very low priority in the

[2017-11-09 13:09] flatcap opened #938 "MacOS build on Travis (Developer needed)"
We use [TravisCI](https://travis-ci.org/neomutt/neomutt) to do automated builds of NeoMutt.
This helps us quickly find lots of build bugs.

Unfortunately, though, we've recently come across a few build bugs that are specific to MacOS.

Travis supports MacOS, but we need help setting it up.
If possible, I'd like to see both Homebrew and MacPorts supported.

Having a test platform for MacOS would me

[2017-11-09 13:37] flatcap commented on #897
It was less of an excuse, more an expression of surprise.

Certainly not.
There are so many features and so many users of (Neo)Mutt...
Whatever changes we make, they're certain to break someone's workflow.
We just want to cause as little harm as possible.

They **shouldn't** be.
The standard practices for escape sequences that aren't understood/supported is to completely ignore them.  Which is why

[2017-11-09 13:38] lbschenkel commented on #938
That's great. Although I'm the maintainer of the port in MacPorts, I'm not really familiar or involved with the infrastructure set-up (buildbots, etc.) but I'll relay your message to the list and figure out what we can do.

[2017-11-09 13:49] flatcap commented on #938
@lbschenkel Thanks.

It **should** be quite simple.

For Linux, the Travis VM has most common build tools pre-installed.
Travis also clones our source locally.

Then we install our build deps, e.g. LMDB, etc
Finally we perform our normal build steps.

[2017-11-09 13:55] lbschenkel commented on #938
I have relayed your issue to the MacPorts list.

My two cents: Theoretically all you need is a clean macOS with MacPorts installed, and then you need to put the source package (`.tar.gz`) in the MacPorts distfiles directory, and you need a patched version of the [Portfile](https://github.com/macports/macports-ports/blob/master/mail/neomutt/Portfile) in an empty directory (you need to change the ve

[2017-11-09 14:07] flatcap commented on #938
Our main Travis build does 29 compiles, testing a wide variety of configure options.
Travis has a build matrix that us to do this easily.
It'd be good to test all the combinations that you allow your users to use.

[2017-11-09 14:16] lbschenkel commented on #938
In theory all combinations of the variants listed in the `Portfile` I linked can be turned on/off independently (unless your `autosetup` script reject specific combinations), but I think some combinations will be redundant/unnecessary. In case it's not clear what the variants do, I can clarify.

The MacPorts buildbots only build the default variants, which result in the default binaries that you g

[2017-11-09 14:16] jmroot commented on #938
Unfortunately there's a combinatorial explosion - 17 variants that can be on or off means there are 131072 combinations. A lot are just adding support for various databases and such though, so the default set plus "everything on" and a couple more for slang instead of ncurses and gnutls instead of openssl is probably sufficient.

[2017-11-09 14:21] jmroot commented on #938
Our repo's CI config should be helpful to you: https://github.com/macports/macports-ports/blob/master/_ci

About the first half of bootstrap.sh is setting up and configuring MacPorts. The rest is less relevant for your simpler case of building one port. You should just be able to `port sync` and then `cd path/to/yourport && port install`.

[2017-11-09 14:26] flatcap commented on #938
@jmroot
hehe, yeah.  We've reduced the number of build options in neomutt to avoid the need for astronomical numbers of builds.  All the features that had no build dependencies are now built by default: IMAP, POP, SMTP, Compress, ...

Also, there's good isolation between the header cache database backends, so we trust that one build will cover them all.

Also, we expect that packagers will make so

[2017-11-09 14:27] lbschenkel commented on #938
@jmroot is there a way to disable or comment out the port checksum verification? I guess it's not an issue for NeoMutt, and it would make things easier.

[2017-11-09 14:28] jmroot commented on #938
If you fetch from git there's no (additional) checksum step.

[2017-11-09 14:35] gahr commented on #934
So, the reason why the error `SSL is unavailable` is displayed more than once is because of this code path:

[code]
`mutt_expand_path` is required, e.g., for `set` and for trying to create the `folder` open startup, and it calls `mutt_conn_find` because for IMAP, it has to figure out the server-specific separator.

A potential solution would be not to dump the error in `mutt_conn_find`, but only i

[2017-11-09 14:36] gahr commented on #934
@neomutt/reviewers any thoughts?

[2017-11-09 14:48] lbschenkel commented on #938
@flatcap I took out all the unnecessary stuff from the `Portfile`, and just tested right now by doing a build of the latest commit in `master`:
[code]
I hope that this is mostly self-explanatory, but I will be glad to clarify any questions you might have.

[2017-11-09 15:00] flatcap commented on #938
@lbschenkel Thanks it looks lovely, but I have no clue how the MacPorts build fits together :-)

I've just created a branch [devel/macports](https://github.com/neomutt/neomutt/tree/devel/macports) with a [.travis.yml](https://github.com/neomutt/neomutt/blob/devel/macports/.travis.yml) in it.

Commented out are all the deps I install in the Linux build.

If anyone wants to start experimenting, let

[2017-11-09 15:02] lbschenkel commented on #938
I can try giving it a shot.

[2017-11-09 15:06] flatcap commented on #938
Thanks.  As a member you already have privs.
Each commit you make to that branch will be automatically built.
Travis: https://travis-ci.org/neomutt/neomutt/branches

Note: there's sometimes a lag before the build starts (due to the load on Travis)

[2017-11-09 15:10] gahr commented on #934
Option 2: just remove the `sleep(2)` call.

[2017-11-09 15:24] EdwardBetts commented on #934
I was thinking it would just be during initialisation, before the mutt window is displayed.
We could set a global flag that says mutt is initialising and check for the flag when showing the "SSL is unavailable." error. If we're initialising then we set another flag saying the SSL unavailable error has been shown. Next time we try to show the error we check both flags and find their true and we don

[2017-11-09 15:32] l2dy commented on #938
@lbschenkel I pushed a prototype to the [devel/macports](https://github.com/neomutt/neomutt/tree/devel/macports) branch.

[2017-11-09 16:49] jmroot commented on #938
The build failed because the github portgroup is still being included; just need to remove it as it's not being used. Also the log with port -v is longer than travis likes, it seems.

[2017-11-09 16:51] gahr commented on #934
How about this? You'd still see the error message in the UI (because of `mutt_sleep(0)` up the stack).
[code]

[2017-11-09 16:54] EdwardBetts commented on #934
I think this makes sense.

[2017-11-09 19:08] libBletchley opened #940 "GPGME creates i/o errors for S/MIME operations"
When GPGME is enabled, S/MIME has problems with file i/o.  This reproducer script demonstrates the problem:
[code]
Precondition to running this demo script: there does not exist a `~/.muttrc` file (a limitation due to https://github.com/neomutt/neomutt/issues/933).

When mutt runs the first time, open the message and notice the `Error: verification failed: End of file`.  That error shows an i/o pr

[2017-11-09 20:37] lbschenkel commented on #938
Hey, I made a small tweak and got a green build: https://travis-ci.org/neomutt/neomutt/builds/299828630

[2017-11-09 22:10] flatcap commented on #938
Nice work!  Thanks.
Please can you make one more small change.
After a successful build, can you run `neomutt -v`

[2017-11-09 22:14] lbschenkel commented on #938
Will do.

[2017-11-10 05:48] lbschenkel commented on #938
https://travis-ci.org/neomutt/neomutt/jobs/299892962

[2017-11-10 11:34] flatcap commented on #938
Fantastic.  Thank you all.

[2017-11-10 12:12] #934 closed

[2017-11-10 18:21] EdwardBetts opened #943 "When IMAP server becomes unreachable behaviour depends on timeout setting"
Steps:
1. run test IMAP server
2. connect to IMAP server with neomutt
3. kill IMAP server
4. trigger IMAP fetch mail in neomutt (imap-fetch-mail command)

If the muttrc contains a low timeout value (set timeout=2) then neomutt will close the mail box, the mailbox name in the status bar is replaced with "(no mailbox)".

Alternatively if timeout is set high or left as the default then neomutt gives

[2017-11-10 19:54] libBletchley opened #944 "pgp_decrypt_command fails to decrypt saved outbound PGP/MIME msgs w/self encryption"
`gpg.conf` includes the `encrypt-to` parameter to ensure that all outbound messages are encrypted to myself (in addition to the recipient).  So I can go into my _sent_ mail and review an encrypted message that I've sent if I sent it in the old PGP/inline format.  Since I've recently discovered that protonmail can handle PGP/MIME for messages that have no attachment, I've switched to PGP/MIME for t

[2017-11-11 19:58] mojca commented on #938
@l2dy might be able to help you if you need any clarification of our setup. As @jmroot pointed out, you could start with our ci setup, but you could simplify it a lot. For example, there's no need to install `getopt`, no need to install `mpbb` etc.

Basically all you need to do is install macports, `cd` to the folder where you have your own version of a `Portfile` that fetches from git and then ru

[2017-11-11 20:16] flatcap opened #945 "Renaming functions"
So far we've taken over a hundred functions moved then into a library.
All of them are fully documented and independent of neomutt.
As such, they can be easily unit-tested.

Now it's time to sort out the naming.
These are my suggestions, all of which are open to discussion.

## 1. Rename the directory

`lib` is meaningless.  These are utility functions so, perhaps:

* `util/` and `libutil`
* `util

[2017-11-11 20:30] flatcap commented on #938
@mojca Thanks for the info.
@l2dy and @lbschenkel have got a basic build working.
The next step is to get it to perform a wider set of compiles (there's no rush on this, though).

For now, this will allow me (a non-Mac user) to do some regular testing.
Thanks.

[2017-11-12 01:23] flatcap commented on #93
Thanks for contributing, but this enhancement seems abandoned.
The code branch will be archived in the [neomutt-old](https://github.com/neomutt/neomutt-old) repo.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:23] #93 closed

[2017-11-12 01:24] flatcap commented on #149
Thanks for the suggestions @dannyob, but nobody seems to have the time to work on it.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:24] #149 closed

[2017-11-12 01:24] flatcap commented on #199
Adequately documented: https://www.neomutt.org/dev/doxygen

[2017-11-12 01:24] #199 closed

[2017-11-12 01:24] #200 closed

[2017-11-12 01:24] flatcap commented on #294
It's a good idea, but nobody seems to have any time to code it.
If someone volunteers to work on it we can re-open the issue.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:24] #294 closed

[2017-11-12 01:24] flatcap commented on #310
As a discussion, this has ended.  It's raised some interesting ideas.
As a issue, it's no longer useful.  The goals it proposes are huge and known.

[2017-11-12 01:24] #310 closed

[2017-11-12 01:25] flatcap commented on #319
It's a good idea, but it's more likely that we will split up all the big repos and builds into smallers repos and build.

[2017-11-12 01:25] #319 closed

[2017-11-12 01:25] flatcap commented on #552
I think this can be closed now.
`prepare.sh` will go away when the autotools dies.
`LIBS` vs `MUTTLIBS` has been sorted
#547 --enable-everything-available has been closed (no thanks)
PR #946 expanded `--everything` in the autosetup build.

[2017-11-12 01:25] #552 closed

[2017-11-12 01:26] flatcap commented on #622
Committed to vim upstream: https://github.com/vim/vim/commit/01164a65

[2017-11-12 01:27] flatcap commented on #658
It's an interesting idea, but nobody seems to have any time to code it.
If someone volunteers to work on it we can re-open the issue.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:27] #658 closed

[2017-11-12 01:27] flatcap commented on #672
Thanks for the suggestion, but have a lot of work ahead of us before we could ever benefit from a framework like libyui.

[2017-11-12 01:27] #672 closed

[2017-11-12 01:27] flatcap commented on #678
It's an interesting idea, but nobody seems to have any time to code it.
If someone volunteers to work on it we can re-open the issue.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:27] #678 closed

[2017-11-12 01:28] flatcap commented on #735
Thanks for the suggestion, but have a lot of work ahead of us before we could ever benefit from a framework like libyui.

[2017-11-12 01:28] #735 closed

[2017-11-12 01:28] flatcap commented on #741
Thanks for telling us about Memory Hole, @libBletchley.
We'd love to add support, but we simply don't have the developers.
If someone volunteers to work on it we can re-open the issue.
This issue will now be closed and listed on the [closed discussions page](https://www.neomutt.org/dev/discussions)

[2017-11-12 01:28] #741 closed

[2017-11-12 10:22] libBletchley commented on #945
The coding standards I've worked with require function names to be a _noun_, the reason being that functions return an object, and exceptionally boolean functions return the meaning of truth.  I've not touched C code for a long time, but my first thought when I see all those leading `u_`s is that it looks like an abbreviation for _unsigned_.  So I wonder if going the cryptic route could alienate n

[2017-11-12 10:27] reisradomil opened #947 "lib/mbyte.c does not exists"
The commit "Add missing source file to po/POTFILES.in" 7e2efa280d44a8da024e454140b2a8d90aaf7da5 introduced lib/mbyte.c in po/POTFILES.in. However, this file does not exists and thus lets make fail with

[code]

Note that there is a file mbyte.c in the root directory.

[2017-11-12 11:13] flatcap commented on #947
That, my friend, is because flatcap is an idiot :-)
In one of my many branches, I noticed that POTFILES.in was missing a file.
I pushed the fix thinking that the corresponding code was already in master.
I've (force) fixed master.

[2017-11-12 11:13] #947 closed

[2017-11-12 12:04] flatcap commented on #945
That sounds reasonable.

The table above is an attempt to quick-fix the problem.
Many of Mutt's functions were poorly designed and named.
Renaming them will only get us only a bit of uniformity.

If you have the time and patience to analyse all 100 of the functions and suggest better names, I'll gladly consider them :-)

We're slowly working through all of NeoMutt boolean functions:
Converting the

[2017-11-12 12:33] libBletchley commented on #404
@Polichronucci
That group config is ignored by the `gpg --list-keys` command, which I find unfortunate.  Here's a feature request to improve that in gpg: https://dev.gnupg.org/T3495

I think mutt could improve as well.  That is, when a msg is sent to someone for whom there is no `crypt-hook` set, mutt doesn't even try to get a shortlist of possible matches.  It just bluntly asks for the key ID (wh

[2017-11-12 13:04] nuclearsandwich commented on #93
Sorry I wasn't able to get this all the way across the line. I do think about it often but haven't had the time to get back to it.

[2017-11-12 18:04] libBletchley commented on #944
I got this working.  It wasn't broken code, just a change to the config file.  Apparently the passphrase had to be an optional parameter.

[2017-11-13 08:28] gahr commented on #945
My .2$:

How about we get back to `libmutt`? I came to hate general names like helpers and utils, which usually mean nobody's found a good name for the thing. Anyway, anything that has little chance of clashing is good, so definitely not `libutil`.

I'd go for `mu_`.

They look good :)

[2017-11-13 08:31] #944 closed

[2017-11-13 12:08] flatcap commented on #945
I originally wanted to use the name `libmutt` for something else, but I've changed my mind.
So, `libmutt` and `mutt/` are fine.

[2017-11-14 09:19] tbrk opened #951 "Change in change-folder/? behaviour"
In NeoMutt 20170113 (1.7.2) running on Debian doing a `change-folder` and then pressing `?` drops to the file system (pressing `tab` shows the list of watched mailboxes) as in standard Mutt.

In NeoMutt 20171027 running on MacOS/brew doing a `change-folder` and then pressing `?` shows the list of watched mailboxes.

Is this change in behaviour intentional?

[2017-11-14 13:21] pprw commented on #687
`set auto_tag = yes`

always apply actions for all tagged emails (no need to use tag-prefix)

[2017-11-14 14:45] libBletchley opened #952 "non-modifiable artifacts not commented as such"
I was making some changes and edited `Makefile`, did a rollback, then did some investigation on why the rollback apparently didn't happen, only to discover that I edited a bit of auto-generated code.  Auto-generated code should normally contain a fairly loud header at the top to prevent this, and ideally it should also say what produced it so that someone tempted to edit the code knows where to lo

[2017-11-14 15:18] flatcap commented on #952
OK.  `Makefile` has always been auto-generated.
Mutt is an autotools project and NeoMutt is an autosetup project.
Also, `Makefile` isn't under revision control, which should be a clue.

Yes a big warning would be nice, but `Makefile` is generated by pre-processing `Makefile.autosetup`.
If we want a header in `Makefile`, it would also be visible in `Makefile.autosetup`!

Our build process depends o

[2017-11-14 15:18] #952 closed

[2017-11-15 17:11] rnav opened #954 "neomutt/notmuch ignores non-maildir files"
I use notmuch to index certain mailing lists that are downloaded over nntp. These emails do not use maildir (so, there are no cur/new/tmp directories), but they work with notmuch since it doesn't enforce any directory structure.

However, when using neomutt/notmuch, none of these emails show up since we seem to be explicitly looking for maildir directories (*). Could those checks be made optional,

[2017-11-16 04:35] flatcap commented on #945
Final decision:

**base64**

| Old function     | New function    |
| :--------------- | :-------------- |
| mutt_from_base64 | mutt_b64_decode |
| mutt_to_base64   | mutt_b64_encode |

**buffer**

| Old function       | New function       |
| :----------------- | :----------------- |
| mutt_buffer_addch  | mutt_buffer_addch  |
| mutt_buffer_addstr | mutt_buffer_addstr |
| mutt_buffer_free   | mut

[2017-11-16 17:42] #927 closed

[2017-11-16 18:16] #945 closed

[2017-11-16 22:08] libBletchley opened #956 "s/mime decryption fails if one key is used for one operation, then a different key is used on the next operation"
I signed an S/MIME msg using the key associated to the address I was sending from, and supplied my password when asked - which is all normal and it worked as expected.  Then I opened an S/MIME-encrypted email that was addressed to a different address than I just sent from (thus needing a different key and different password for the decryption).  I was not prompted for a password, and was shown som

[2017-11-17 09:48] libBletchley commented on #921
Normally I would say it's a bad idea for mutt to have implemented _imap_ or _pop3_ in the first place, since those jobs are best delegated to _fetchmail_.  But what's interesting with your request is that if implemented, it would create justification for mutt doing imap.

[2017-11-17 10:24] libBletchley commented on #587
@mrzool

HTML is a bit extreme.  Did you try `text/enriched`?  I've used `text/enriched` with good results.  I didn't test it extensively, but using Gnus (an emacs mail client) to compose an enriched text message and sending it to an MS Outlook user worked well.  In that case, MS Outlook converted the `text/enriched` email to `text/html` before presenting to the user.  I was happy that all the HTM

[2017-11-17 11:42] mrzool commented on #587
@libBletchley Thanks for your suggestion, but my point here is not about formatting in emails, nor hyperlinking, embedded images and least of all about fancy CSS (as somebody brought up a while ago in here in a now deleted comment). As explained above, literally *my **only** issue with plain text emails are hard line breaks that render emails hardly readable on the (now ubiquitous) small display*.

[2017-11-17 11:47] libBletchley commented on #587
@mrzool

I understand.  That's why I suggested `text/enriched`.  It gives the effect of `format=flowed` without actually using that parameter.  If you have a better workaround, great.  I didn't follow the whole thread in detail to the end, but I saw that `text/html` was your apparent hack for word-wrapping, in which case `text/enriched` is better for that minimal purpose.

[2017-11-17 11:51] mrzool commented on #587
@libBletchley

That sounds really interesting and might be a better solution than `quoted-printable`. I will look into it, many thanks for bringing this up!

[2017-11-18 12:13] libBletchley commented on #736
Just a heads-up, the _mixmaster_ package will be removed from Debian soon due to death of the upstream mixmaster project (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=880101).  So fixing or enhancing any of mutt's mixmaster capability should perhaps get a low priority until the state of mixmaster improves.

[2017-11-18 15:14] antoyo commented on #930
For those having this issue and wanting to restore the process (to avoid losing what you were doing), you can use `kill` to do so:
[code]

[2017-11-18 20:12] libBletchley opened #959 "New unread msg flag is improperly cleared when an S/MIME password is incorrectly entered"
If an S/MIME password is incorrectly entered in the course of trying to display an inbound S/MIME msg, then an error is displayed where the message text would normally appear -- and right so.  But then mutt incorrectly marks the message as _read_.

version NeoMutt 20170113

[2017-11-20 05:32] nobrowser opened #960 "Replace mutt_mktemp() with mkstemp()"
Ultimately all the ways in mutt to create a temporary file come down to `mutt_mktemp_full()` in `muttlib.c`.  The varying part of the name that function creates, not counting totally predictable things like the PID, is a 64 bit random number.  That is less randomness than I have in freaking _shell scripts_, by using the `mktemp(1)` program with a suffix of 12 Xs (roughly 6*12 = 72 bits), as the Tu

[2017-11-20 08:52] gahr commented on #960
One potential issue is that mktemp is legacy in POSIX 2001 and is not mentioned in 2008. The newer variants mkstemp and mkdtemp do not exist in POSIX-2001.

[2017-11-20 12:05] flatcap commented on #960
Actually, this **does** exist in POSIX-2001 (and 2008).
http://pubs.opengroup.org/onlinepubs/009695399/functions/mkstemp.html

As for why we're not using it... who knows!
There's a lot of filesystem code in NeoMutt that works around problems that probably don't exist any more.

Would you like to make us a proposal?

[2017-11-20 13:10] gahr commented on #960
I stand corrected - shall we turn this issue into "switch to using mkstemp" ?

[2017-11-20 13:25] flatcap commented on #960
There are nearly 100 calls to `mutt_mktemp()`.
Some of NeoMutt's temporary files are immediately deleted (just an open handle is kept).
There may be more common behaviour that can be refactored.

[2017-11-20 14:55] gahr opened #961 "Enhance struct Buffer"
Scope of this ticket is to enhance how `struct Buffer` is used and behaves, with the ultimate goal to reduce the number of malloc/free calls related to using this structure.

1. make sure all instances of `struct Buffer` are allocated on the stack
2. make sure internal members are updated only via functions, not manually
3. implement Small String Optimization to avoid most (re)allocations

Goals 1

[2017-11-20 16:25] #815 closed

[2017-11-22 04:09] komond opened #963 "Notmuch integration not working with Mutt 1.9.1"
I am a user of Ubuntu 14.04. I was using NeoMutt all the while, downloaded from this PPA: https://launchpad.net/~jonathonf. Yesterday, there was an update to 1.9.1-1~14.04.york0   on this PPA. After I installed the update neomutt seems to have a problem working with notmuch. When I start neomutt I get the following error messages:

Error in /etc/Muttrc.d/notmuch.rc, line 6: change-vfolder: no such

[2017-11-22 04:27] nobrowser commented on #960
Well, hmm.  Is there an assumption that the files will be created in a safe private directory?  The fact that `mutt_mktemp()` just constructs the name and leaves the caller to actually `open()` it suggests that there is, because otherwise we suffer from the classic _symlink-to-passwd_ vulnerability.  OTOH `/tmp` is the ultimate default, and it is not safe this way.  So I am confused.  Either this

[2017-11-22 12:16] flatcap commented on #963
Hi @komond.  Sorry about this.

Debian is currently trying to sort Mutt and NeoMutt into two separate packages.
It seems that the 'Mutt' package has been reverted to plain upstream Mutt (which doesn't have Notmuch).
Your PPA provider has probably automatically rebuilt this causing your downgrade.

Debian are working on a separate NeoMutt package which should be available soon (I'm told :-)

There

[2017-11-23 03:58] komond commented on #963
Thanks for your quick response. I understand what you are saying.

However, I also tried downloading neomutt's latest tar file, building it, and running it. Even this binary refused to recognize notmuch-specific configuration variables like nm_default_uri.

[2017-11-23 11:19] flatcap commented on #963
There are two parts to Notmuch support:
- Build dependencies, called something like `notmuch-dev` (I don't have Ubuntu to hand)
- Configure option, either: (we're in the process of moving to autosetup)
   * ./configure --enable-notmuch
   * ./configure.autosetup --notmuch

If all goes well, then `neomutt -v` should show `+notmuch`.

[2017-11-23 12:48] komond commented on #963
Thank you so much for your help.

  ./configure.autosetup --enable-notmuch

did the trick for me (after installing notmuch-dev). I guess this option is not specified in the INSTALL file.

[2017-11-23 13:14] flatcap commented on #963
Sorry, that file has become out-of-date as we improved the build process.
We tend to point people to our [distro pages](https://www.neomutt.org/distro.html).
As yet, we haven't had an Ubuntu user to offer some instructions.

No problem.

[2017-11-23 18:13] flatcap commented on #922
While playing with the signal handling, I knocked this up: [devel/usr1](https://github.com/neomutt/neomutt/compare/devel/usr1)
It works when you're in the index or the pager, but it will only fire on `$timeout`.
It's just a quick hack.  I haven't investigated how it interacts with other commands / connections.

SIGUSR1 and SIGUSR2 trigger `$usr1_command` and `$usr2_command` to be parsed.
e.g.
[cod

[2017-11-24 07:24] gahr commented on #922
How about Neomutt opens a pipe and accepts command from there? It could be checked synchronously in the event loop and we could avoid playing with signal handlers, where you can do very little safely.

[2017-11-24 09:24] RichiH commented on #922
https://www.youtube.com/watch?v=vgk-lA12FBk

[2017-11-24 11:16] flatcap commented on #960
Yes.  We'll still create the directory.  We'll just let `mkstemp()` do the 'random' bit.

Possibly for the situation where we have a single db file in a cache dir that we don't own.
Mutt sets the umask to `077` on startup to mitigate any problems.

It's worth doing because all the duplicated code makes it hard to maintain and test.

[2017-11-25 11:13] flatcap commented on #960
Absolutely.  Once the function has `mkstemp()`, we need to pull in much of the surrounding code (completely abstracting the temp file).

Phew :-)

[2017-11-25 22:47] aradici opened #964 "autosetup problems with doc/ dir"
When the package is build by:
    dh $@ --builddirectory=debian/build

Then this exports all the directories to debian/build and launches the relevant build commands there, including configure.autosetup, make, etc

Unfortunately it seems that the doc/ directory is not copied, so the build files when it comes to add doc/

I don't know exactly what copies the directory, but it worked with autoconf a

[2017-11-25 22:49] aradici opened #965 "/usr/lib/neomutt binaries incorrectly named"
currently neomutt builds 3 binaries and ship them in /usr/lib/neomutt:
* pgpewrap
* pgpring
* smime_keys

Unfortunately the man pages of those binaries are pgpewarp_neomutt, so the binaries should be built with the _neomutt prefix, otherwise it will overlap with mutt (which ships the same binaries with the same names)

[2017-11-26 00:12] flatcap commented on #964
This simple patch against neomutt-20171027 fixes your out-of-tree build.

**Note**: This has already been fixed in master.

[2017-11-26 00:22] flatcap commented on #965
Argh! :-)

Yes, there will be multiple binaries with the same name, but there shouldn't be a clash.
The binaries are in `/usr/lib/neomutt` but they're not expected to be on the PATH.
(They're referenced in the default config file by their full path)

If the binary and man pages **must** match, then I'll go back to:
- `/usr/bin/pgpewrap_neomutt`
- `/usr/share/man/man1/pgpewrap_neomutt.1`
etc

[2017-11-26 07:18] aradici commented on #965
yes they won't clash becuase they are in different directories, but then the manpage will clash :) The manpage have to be named like the binaries, so I would say to go to _neomutt for the binaries as well

[2017-11-26 07:19] aradici commented on #964
Sorry for not checking master, I was only using the tar file :(

[2017-11-26 07:19] #964 closed

[2017-11-26 11:09] gahr commented on #965
Do they? Why?

[2017-11-26 11:25] aradici commented on #965
I suppose if you have /usr/bin/pgpewrap_neomutt and you want to know the options, you would do "man pgpewrap_neomutt", which will require to have a manpage named like that, unless I'm missing something

[2017-11-28 15:37] justinvasel commented on #928
I can give this a go.

[2017-11-28 20:47] craftyguy opened #969 "virtual mailbox view periodically reverts to full imap inbox view"
My setup:

muttrc contains:
[code]

I have an external program (mbsync) that periodically (2min) updates a single maildir over imap.

On startup, neomutt correctly uses my 'inbox' virtual mailbox, which is a notmuch query on `tag:inbox`.

#### Expected behavior
I expect the pager view to always stay at my 'inbox' virtual mailbox unless I explicitly change to another virtual mailbox, or open a mail

[2017-11-29 18:08] nicowilliams opened #970 "RFE: Better offline/async IMAP support"
* Why do you not like the current state?

Opening IMAP mailboxes is slow, even with the header cache.  IMAP disconnects -> mailbox close.

    * What would you like to see to change?

More caching.  Async loading of mailbox changes on open.  On connection reset or close by server, reconnect automatically and transparently.

A lot like using offlineimap, but without using offlineimap.

[2017-11-29 18:31] 4nd3r commented on #970
blue sky!

[2017-11-29 19:23] nicowilliams commented on #970
:(

Depending on how well abstracted the internal mutt interface to mailboxes is, it might be easy, or it might require refactoring lots of code to make that interface well abstracted.

What I'm thinking I'd really like is a SQLite3 mailbox type, and then a pseudo-mailbox type that combines a SQLite3 mailbox with an IMAP mailbox, with the former acting as a cache for the latter, and with an option

[2017-11-29 21:03] nicowilliams commented on #921
@libBletchley POP3 should be implemented by an external program, sure, because that's the point of POP3: to fetch mail.  But IMAP is not about fetching mail.  It's about remotely accessing your mailbox.  If you have multiple devices accessing your email, then IMAP is for you.

[2017-11-30 00:27] nicowilliams commented on #970
At a quick glance it looks like this would be a huge undertaking :(

The assumption that there's a list of all the messages in the folder is too baked in.

Instead, what I'd like is for each page of the index menu to be computed by querying the mailbox backend.  A lot like a SQL query with `ORDER BY` and `OFFSET`/`LIMIT` clauses.  Restructuring the code to do this seems like the first requirement.

[2017-11-30 00:55] flatcap commented on #970
hehe, you don't ask for much :-)

It's a reasonable request, but we have quite a bit of work to get there.

Currently, NeoMut is single-threaded and consists of a large heap of structures that are badly intertwined with the user interface (ncurses) and a mass of global variables.

One of the sub-systems that we're currently trying to make independent is the socket layer.
When that's done we could

[2017-11-30 01:15] nicowilliams commented on #970
Eh, I know.  I've looked at mutt source a number of times to think about how to implement this.  Each time I find it so daunting that I end up thinking it would be better to write a new MUA from scratch.

I don't think threads are needed here, provided there's an event loop that's entered often enough (there is, at the top of each menu).  Though I agree that threads would make some of this easier.

[2017-11-30 02:32] changbindu opened #972 "Build error on master branch (commit 6559d43807687eedff6ded1d89c53a510db83adb 'Fix reference to neomuttrc')"
neomutt$ make
( echo '#include "config.h"'; echo '#include "mutt.h"'; \
echo '#include "address.h"'; echo '#include "lib/list.h"'; \
echo '#include "lib/buffer.h"'; echo '#include "parameter.h"'; \
echo '#include "body.h"'; echo '#include "envelope.h"'; \
echo '#include "header.h"';) | cc -E -g -O2 -std=c99 -D_ALL_SOURCE=1 -D_GNU_SOURCE=1 -D__EXTENSIONS__ -I/usr/include -I/usr/include/lua5.3  -DNC

[2017-11-30 03:03] justinvasel commented on #972
I encountered a similar issue earlier today. For me it was due to the move similar to the one you mentioned. The name changes leave some old files laying around if you don't have a clean build.

This solution did the trick for me:
- make distclean
- rm *.Po (not sure if this was strictly necessary, but I did it)
- reconfigure
- make

[2017-11-30 03:11] changbindu commented on #972
yeah, it works.  I just 'make clean' and reconfigure.

[2017-11-30 03:47] justinvasel commented on #972
Great! Don't forget to close this issue if it's resolved for you :)

[2017-11-30 03:49] #972 closed

[2017-11-30 13:10] #227 closed

[2017-11-30 14:59] flatcap commented on #922
Hmm... I like this idea better, but both suffer from NeoMutt's modal nature.
Whatever commands are queued, the user needs to be sure they aren't going to cause side-effects.
Commands for the index may not apply if the user is in the pager.

[2017-11-30 16:05] nicowilliams commented on #922
And then there's `SIGINFO`, though that one is less portable, sadly.

[2017-11-30 21:13] aradici commented on #965
I think at the moment we decided to keep these names as is, if there is the need (i.e.: someone opens a bug or tells us that it is against the policy, we will rename them).

[2017-11-30 21:13] #965 closed

[2017-11-30 21:16] aradici opened #974 "could you support /etc/mailname?"
We talked about this in the chat, given that /etc/mailname is present on both Debian and Ubuntu, I was wondering if you could support /etc/mailname to determine the Fqdn.

I wrote this patch for the latest neomutt stable:
https://anonscm.debian.org/cgit/pkg-mutt/neomutt.git/tree/debian/patches/debian-specific/882690-use_fqdn_from_etc_mailname.patch

But probably this one for the latest mut stable

[2017-11-30 22:49] flatcap commented on #965
OK, thanks.

[2017-11-30 22:57] flatcap commented on #974
Note to self (or anyone who wants an easy task):

Debian looks for `/etc/mailname`
OpenBSD looks for `/etc/mail/mailname`

`libmutt` has functions `mutt_file_read_keyword()` or `mutt_file_read_line()` which may be of use.

Rather than configure which one to read, it might be simpler to look for both.

[2017-12-01 12:42] #963 closed

[2017-12-01 12:47] flatcap commented on #969
@neomutt/notmuch-users Please can you take a look and find out what's going on.

[2017-12-01 13:07] bremner commented on #969
Richard Russon <notifications@github.com> writes:

Sorry, I don't know enough about mutt internals to contribute much at
this point. If you can narrow things down to unwanted libnotmuch
behaviour I'm happy to take a look.

d

[2017-12-01 15:48] RichiH commented on #922
Valid point; `SIGINFO` could be implemented on supported platforms and come with a disclaimer.

[2017-12-01 18:02] craftyguy commented on #922
There's also `SIGRTMIN`, which some other projects (e.g. i3blocks) use. I think it might be a more portable alternative to `SIGINFO`?

[2017-12-01 18:06] nicowilliams commented on #922
@craftyguy What makes SIGINFO useful is that you can set a control key in the tty to generate that signal.

Certainly, mutt could have hooks for most signals, and maybe that's just as well.  But SIGINFO is useful because it can be generated by the tty, therefore it can be elicited by the user on the tty.

[2017-12-01 18:28] craftyguy commented on #922
@nicowilliams interesting, thanks for the lesson :)

[2017-12-01 20:33] nicowilliams commented on #922
Usually it's `^T` that is bound to generating `SIGINFO`, FYI.

[2017-12-01 21:56] craftyguy commented on #922
I see. I don't really have any preference which signal(s) y'all decide on, since my primary way of interacting with neomutt this way is using something like `pkill` to generate the signal in a script.

[2017-12-01 22:04] nicowilliams commented on #922
A hook on any and all asynchronous signals that may be caught would be fine.

[2017-12-02 00:10] mjk-gh opened #977 "Folder-hooks for outgoing folder are run upon sending mail, but after return to index, hooks for original folder are not."
*  Actual behavior
When an email is sent (with "record" set), folder-hooks for the outoing mail folder are executed, but upon return to the index of the currently viewed folder, neither the default folder-hooks nor the folder-hooks for the currently viewed folder are executed.

When the email is not sent, but postponed instead, the outoing folder-hooks do not seem to be executed (or at least nothi

[2017-12-02 14:18] flatcap commented on #922
Fascinating and educational as this is, I think we've wandered from the path a little... :-)

Pressing <kbd>Ctrl-T</kbd> which is captured by the terminal, which generates `SIGINFO` which is trapped by NeoMutt, which runs a command...  seems a little complicated.
Why not bind a key in NeoMutt?

NeoMutt can pass some information out when hooks are triggered.
We want a way to pass information **into

[2017-12-02 16:45] mjk-gh commented on #977
The described bug seems to be a regression from an older version, namely "mutt 1.8.3+neomutt20170609-2+b1", in which this bug does not occur; the currently viewed folder does not get changed in any way after sending an email.

Debian packages for this version:
- Source: http://snapshot.debian.org/archive/debian/20170624T221511Z/pool/main/m/mutt/mutt_1.8.3%2Bneomutt20170609.orig.tar.gz
- Patches: h

[2017-12-02 16:58] flatcap commented on #977
Thanks for all the info.
I've traced it back to 4aaf1ef7 which was for #886 (call the folder-hook before saving to $record).
The first release with this was 2017-10-27.

[2017-12-03 10:00] aradici opened #980 "add the correct buildflags when building makedoc"
Currently, when building doc/makedoc, a CC_FOR_BUILD command is used; that command does not include CFLAGS and CPPFLAGS from the environment, which in Debian, will cause the hardening flags not to be included.

This bug is not tagged distro:debian because it's not really debian specific. This patch should fix the issue:
https://anonscm.debian.org/cgit/pkg-mutt/neomutt.git/tree/debian/patches/neomu

[2017-12-03 10:06] aradici commented on #980
It seems taht I forgot to add @LDFLAGS@ to the list :( that should be there too. I'll prepare a better patch

[2017-12-03 10:10] aradici commented on #980
This should be correct now and does not generate any warnings:
https://anonscm.debian.org/cgit/pkg-mutt/neomutt.git/tree/debian/patches/neomutt-devel/0005-add-flags-to-cc-for-build.patch

[2017-12-04 06:31] marcvs opened #982 "Display SMTP message when sending"
## bug reports

* Expected behavior
When in a network that does not allow smtp, our network guys display an informational message why one cannot send email. My older mutt did display this message

* Actual behavior
No message dsplayed, message not sent. I'm left in the same dialogue without acutally sending the mail.

* Steps to reproduce
Find a network that returns an erronous message when attemp

[2017-12-04 10:30] esovetkin opened #983 "query_command ignores the first line of output"
I have noticed the following issue, when using the following address autocomplete command:
[code]

The query result of the bash command:
[code]
contains one more result comparing to the `query_command` output in mutt (the very first line is being lost).

When the query output contains only one resulting line then no completion in mutt is done at all.

p.s. I am using 20171013 version.

[2017-12-04 11:38] flatcap commented on #983
[According to the guide](https://www.neomutt.org/guide/advancedusage.html#query):

The first line is a header which is ignored.
If we find that the first line contains `<tab>`s, then it might be possible to use it.

[2017-12-04 11:48] flatcap commented on #982
Thanks for the bug report, @marcvs

Hmm...  Occasionally, when a message gets lost it's actually been overwritten (or cleared) before the user can read it.
Try running with logging enabled `neomutt -d2` and see if the message shows up in `~/.neomuttdebug0`

[2017-12-04 12:11] libBletchley opened #984 "S/MIME decryption fails if mutt receives a relative path for the -f option, or a path not under $HOME"
Running `neomutt -f Mail/in/my.mbox` launches mutt straight into an mbox as it should, but when trying to open S/MIME-encrypted messages it prompts for the passphrase then fails as if the passphrase had been incorrectly entered.  It also fails if an absolute path is supplied, but where the path is not in $HOME.  E.g. `neomutt -f /tmp/my.mbox`.  The error msg is also wrong/misleading ("unable to lo

[2017-12-04 12:46] esovetkin commented on #983
Thanks, I missed that there should be a header! The following query command solves the issue:
[code]

[2017-12-04 12:46] #983 closed

[2017-12-04 12:56] marcvs commented on #982
Yes it shows up in that log.

In old mutt this message is displayed in the last line on screen.

[2017-12-04 13:54] gahr commented on #980
The reason for having a separate `CFLAGS_FOR_BUILD` variable is to be able to differentiate between flags used to compile programs to be used on the host system vs. target system.  `CFLAGS_FOR_BUILD` are used for the former, while `CPPFLAGS` and `CFLAGS` are used for the latter.

If you need to specify additional flags for the former case, I'd suggest augmenting the `CC_FOR_BUILD` definition with

[2017-12-04 14:34] flatcap commented on #982
OK, we're getting the message and it's being displayed.
After an error, neomutt goes back to the compose screen and waits for input.

I've tested the scenario and I see the messages every time.
I've tested unknown users and had the server return meaningless error codes.
I've also tried tmux and screen (just in case).
I've tried resizing the screen to see if that clears the message.  It doesn't.

S

[2017-12-04 15:06] #843 closed

[2017-12-04 15:15] #982 closed

[2017-12-04 15:40] flatcap commented on #938
Branch renamed to [distro/macports](https://github.com/neomutt/neomutt/tree/distro/macports).
Backed up to [management repo](https://github.com/neomutt/management/tree/master/travis).

[2017-12-04 15:40] #938 closed

[2017-12-04 15:47] flatcap commented on #758
Sorry for the slow reply.
Unfortunately this is a limitation of the colours in (neo)mutt.
"default" doesn't mean transparent (like it would in vim), it just means the normal colour.
The colour of the item "underneath" is lost.

[2017-12-04 15:47] #758 closed

[2017-12-04 15:48] #576 closed

[2017-12-04 15:52] flatcap commented on #850
It's a lovely idea, but unfortunately it's not practical.  Yet...
We're working to make neomutt more modular.  (It'll take time).
- Header cache library - nearly independent of neomutt
- Connection library - some dependencies
- IMAP library - lots of dependencies

When these three are separated from neomutt, it will be trivial for someone to create a offline-cacher.

[2017-12-04 15:52] #850 closed

[2017-12-04 16:05] flatcap commented on #931
Sorry for the slow reply.
I've given this a try and sorry, I can't repeat it.
Which ever way I had the `folder-hook`s it still worked.

Hmm... that's a classic sign of an interrupted macro.

I've a couple of suggestions, depending on your time, skills and patience.
- Strip down your config to the absolute minimum
  It's possible that some other config is interfering with the hooks.
- `git bisect`

[2017-12-04 16:07] flatcap commented on #960
@jelly
Are you still interesting in working on this?
Need some help?
Or just busy with real life?

[2017-12-04 16:11] flatcap commented on #827
I did some more experiments on this.
I wondered if a `SIGALRM` signal from `alarm(2)` might be able to interrupt the system call.
The answer, on Linux at least, is no.

@gahr has suggested moving the name lookup to after we read the config.
Then, `set hostname` would mean we could skip `getaddrinfo()` completely.

[2017-12-04 16:13] flatcap commented on #684
Done :-)

@sileht Are you still interested in this?

[2017-12-04 16:38] yourealwaysbe commented on #931
Thanks for looking into this.  I found i could workaround by using exec blah instead of push <blah> on both lines.

I tried to reproduce the old error.  For the first ordering i get "threading not enabled" each time (reliably), for the second ordering things work as expected.  I will get back to you if i find time to bisect.

I discovered with the following config

    folder-hook . 'push <collaps

[2017-12-05 13:15] marcvs opened #986 "Forwarding selected part of an email"
## bug reports
I select (one or more) attachments of an email in the attachments dialogue ('v'). Then I hit 'f' for forward, compose my email and finally send it.

* Expected behaviour
I'm back in the index view

* Actual behavior
The email is sent, but then I'm displayed a new editor window. If I continue sending this email, it appears to be going to the original recipients (just like a reply-all

[2017-12-05 19:03] kiplingw commented on #850
Thanks flatcap. In the mean time I'm trying to make do with mbsync(1).

[2017-12-05 21:32] aradici commented on #974
the proposed fix in the mutt upstream code is to do
set hostname="`cat /etc/mailname`" in /etc/Muttrc which could also make sense

[2017-12-05 22:21] gahr commented on #974
Yes, although that would be something distro maintainers would need to do basing on where - if anywhere - that file is in a particular distribution.

So, it’s either we support some common use cases or say “not our business” and let distros - or end users - deal with that.

I don’t have a strong opinion. My mild opinion is we should go either the full-way or no-way-at-all. The full-way way would b

[2017-12-06 13:42] flatcap commented on #974
I'm not too worried about adding this, for now.
We already have a precedent: nntp reads `/etc/nntpserver`

Is `/etc/mailname` always going to be the case?
Or should the code reference `SYSCONFDIR/mailname`?
`/usr/local/etc/mailname` for example?

[2017-12-06 20:00] jelly commented on #960
I'm busy, trying to work on it tonight. I believe the whole function should be changed? Since mutt_mktemp_full just generates a "random" string, I believe we want it to call mkstemp. So to change mutt_mktemp into something along these lines:

[code]

Which would involve a lot of refactoring.

BTW, I've also found another occurrence of a custom mkstemp-a-like in mh.c
[code]

[2017-12-06 20:00] gahr commented on #974
Neither [Debian](https://wiki.debian.org/EtcMailName) nor the smtpd reference you mentioned talk about sysconfdir.. I think we should be fine with the patch as is.

[2017-12-06 20:02] gahr commented on #960
Except `n < 0` is always false ;)

[2017-12-06 20:06] jelly commented on #960
Ah true, bytes written so it shouldn't write 0 :)

[2017-12-06 20:16] jelly commented on #960
I'v unassigned since I probably won't have time soon, if I do I don't mind doing duplicate work.

[2017-12-07 12:38] #928 closed

[2017-12-07 12:52] #977 closed

[2017-12-07 12:57] #974 closed

[2017-12-07 13:47] ralpheeee88 opened #987 "ncurses error arch install"
## bug reports
`configure: WARNING: ncurses.h: present but cannot be compiled
configure: WARNING: ncurses.h:     check for missing prerequisite headers?
configure: WARNING: ncurses.h: see the Autoconf documentation
configure: WARNING: ncurses.h:     section "Present But Cannot Be Compiled"
configure: WARNING: ncurses.h: proceeding with the compiler's result
configure: WARNING:     ## -------------

[2017-12-07 14:05] flatcap commented on #987
@ralpheeee88
Can you tell us some more about your setup?
When did it last work?
Was that the new community build or the AUR build?
Have you tried building from the source manually?

[2017-12-07 14:06] #796 closed

[2017-12-07 14:28] ralpheeee88 commented on #987
hey @flatcap the community build is working fine (although from the mailing list the maintainer did say he was a good month behind). The AUR build is causing the issue for me. I will now try to build manually and update this post.

[2017-12-07 14:34] flatcap commented on #987
Ah.  Since we got _Community_ status, the AUR build hasn't been updated.
I'll get some advice on how best to deprecate our AUR repo.

[2017-12-07 20:56] toogley commented on #945
Curiosity: why mutt_* instead of mu_* functions?

[2017-12-07 21:43] libBletchley commented on #945
@toogley

I'm not sure, but IMO "mu_" could risk being misinterpreted as "**M**ember function, returning **U**nsigned integer".. it could even be hungarian notation for that, perhaps.

[2017-12-07 22:48] flatcap commented on #945
It was agreed that `mu_` would imply a directory of `mu` and a library of `libmu.a`.
That sounds a bit weird.

In retrospect, I should have insisted on `util_`, `util/` and `libutil.a` as the naming's getting a little complicated.

[2017-12-08 12:11] toogley commented on #945
@flatcap can't we change it again?

[2017-12-08 12:47] flatcap commented on #945
Yes.  But these big changes mean fixing all the PRs and branches which takes a while.
Soon.

[2017-12-08 23:33] #198 closed

[2017-12-11 01:56] protist opened #990 "view-attach opens pre-existing file with the same name"
## Bug report

* Expected behavior: selected attachment should be opened
* Actual behavior: if a file already exists with the same name, this old version is opened instead
* Steps to reproduce:
1. `view-attachments` for a message
2. Select and open an attachment with `view-attach` or `view-mailcap`
3. File is opened and saved to `$tmpdir` (which is `/tmp/mutt` for me)
4. Repeat 1–2 for another ema

[2017-12-11 07:48] mrunge opened #991 "Can not display specific pgp signed messages"
## bug reports

* Used program versions
neomutt-20171208-1.fc27.x86_64
* Operating System and its version
Fedora 27

At first glance, I can't spot anything in .neomuttdebug. For reference, the file is listed here, while trying to display a mail sent to Fedora development mailing list.

http://www.matthias-runge.de/fedora/neomuttdebug0

[2017-12-11 08:40] mrunge commented on #991
Not *all* pgp signed messages are affected.

The only ones found defunct so far were ones signed via evolution. That being said, even if the integrity of a message can not be verified, it still should be able to display the message itself.

[2017-12-11 14:04] flatcap commented on #991
Thanks for the bug report, @mrunge
Could you send yourself an email from Evolution and attach it here?

[2017-12-11 15:24] mrunge commented on #991
Sending myself a signed (unencrypted) mail via Evolution works.

The (trimmed) debug is here: http://www.matthias-runge.de/fedora/neomuttdebug-works

Is there anything, what I can do to support you with this?

[2017-12-11 17:23] nobrowser opened #993 "changing folders in this nifty way bypasses folder-hook"
I noticed something odd quite a long time ago, but I haven't fingered it until today.

Here are four increasingly complex ways to switch to another folder:

1. execute the change-folder command from the index menu (bound to `c`) and just accept the default
2. same from the pager menu
3. in the index menu, enter the mailbox browser with `c ?` or `y` , change the highlighted line and hit `Enter`
4.

[2017-12-11 18:32] flatcap commented on #993
Nice find!

There's one other method: `<sidebar-open>`, but that seems to trigger the hook from the index or the pager.

Yes, it is :-)

[2017-12-12 09:11] toogley commented on #166
saved to the website. (https://github.com/neomutt/neomutt.github.io/commit/ad8d3ca8c96fb6d0c2601f1827390a318199efd7)

[2017-12-12 09:11] #166 closed

[2017-12-12 13:39] flatcap commented on #813
@justinvasel
Thanks, merged.

Are you interested in implementing the second half of the proposal?
Where `sidebar_strip_component = -N` => just the **last N** components.

[2017-12-12 14:56] gahr commented on #980
@aradici

Does Debian really care about having those flags used for binaries used only at build time?

[2017-12-12 20:06] justinvasel commented on #813
Yeah I can probably take a crack at that soon. We may as well leave this issue open for now.

[2017-12-13 11:54] flatcap commented on #993
This is a bit annoying.
When I first tested it, I could repeat it reliably.
Then a while later, I couldn't.
Later still it happened again.

I looked through the code and the hook is being called unconditionally just before the mailbox is opened.
If the hook isn't reached, then the folder wouldn't be opened -- which would be noticeable.

[2017-12-13 14:04] gahr commented on #993
This does trigger a `folder-hook` on pattern `.` here.

[2017-12-13 14:08] flatcap commented on #961
There are ~80 functions that take (buf, buflen) and another ~180 with very similar (char*,int) pairs.
The large majority of these functions fill the buffer using `snprintf()` or `strfcpy()`.
We could replace `snprintf()` with `mutt_buffer_printf()` and create a new `mutt_buffer_strfcpy()`.

Using `struct Buffer`, the caller wouldn't care about the length any more.
If the function needs to add lots

[2017-12-13 14:46] gahr opened #995 "Erroneous DSN paramters to RCPT TO"
## bug reports

[This commit](https://github.com/neomutt/neomutt/commit/81c0337d15de1697122061046a555bcd1b4293ba#diff-e46f4f635296f7610b2779e95c2c89b7R683) introduced an unwanted substitution of the SMTP parameter `RET` with `rc`.

[2017-12-13 14:55] #995 closed

[2017-12-13 15:10] mvdan opened #997 "ncurses window size issues after update to 20171208 on Arch"
* Expected behavior

`st -e neomutt` working fine, the way I usually fire up neomutt. Worked fine on all previous versions, including 20171013.

* Actual behavior

![2017-12-13-15 02 56](https://user-images.githubusercontent.com/3576549/33945579-57b8b3ba-e017-11e7-81b7-44ed1edf1256.png)

* Steps to reproduce

Running `st -e neomutt` or any other equivalent, such as `xterm -e neomutt` (happens on x

[2017-12-13 15:11] mvdan commented on #997
In case the problem isn't obvious - neomutt appears to just use 80x60 on the top left, instead of using most of the terminal window as usual.

This is on Awesome, a tiling window manager, in a mode where all windows are maximised a. If the window is resized, neomutt does fix itself.

[2017-12-13 15:14] flatcap commented on #997
This is my fault.  I put in a line of code to stop macros being eaten on startup.
I'll revert my change.
(Neo)Mutt's keyboard/macro handling needs a big overhaul.

[2017-12-13 15:17] mvdan commented on #997
Great - thanks for taking this on so quickly. I was fearing it would be a tricky issue to reproduce or nail down :)

[2017-12-13 15:21] #997 closed

[2017-12-14 04:24] protist opened #998 "[Regression] Cannot send mail with PGP sign/encrypt; fails with `gpg: conflicting commands`"
* Expected behavior: sign and encrypt outgoing mail.
* Actual behavior: sending fails. After attempting to `send-message` from the `Compose` window, the error message is shown: `gpg: conflicting commands`.
* Steps to reproduce: sign and encrypt outgoing mail (PGP/MIME), then attempt to send.
* Used program versions: neomutt 20171208-1 (bug not present in 20171013-2)
* Operating System and its vers

[2017-12-14 06:45] aradici commented on #980
yes we need the output of dpkg-buildflags, it also apply to the linker flags

[2017-12-14 07:47] gahr opened #999 "segfault with `neomutt -a $file'"
## bug reports

See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=884324

[2017-12-14 07:55] gahr commented on #998
Are you using GPGME? If not, could the changes introduced by #949 to the gpg.rc file be related?

[2017-12-14 10:17] cyphar opened #1001 "optional construct acts weirdly when it sees ">""
####  Expected behavior ####

If you try doing something like

[code]

You get a status line of

[code]

If "%d" is zero. This also happens if you put this construct anywhere in a statusline as far as I can tell (and I believe it also happens in other situations where you have optional formatting).

#### Actual behavior ####

One would expect an empty staus line.

####  Steps to reproduce ####

Se

[2017-12-14 10:22] protist commented on #998
I'm not 100% if I'm using gpgme, but I do have it installed. I also have the following set:
[code]

I tried reverting the `gpg.rc` file to the version from neomutt 20171013-2, and that fixes the problem. I also tried reverting the following line alone, which also worked.
[code]

[2017-12-14 10:32] gahr commented on #1001
This is because of the [nested-if](https://www.neomutt.org/feature/nested-if) construct. Please can you switch to the new `%< ... >` syntax for conditionals and escape your `>` char?

[2017-12-14 10:37] gahr commented on #998
@libBletchley can you please comment on this one? Is there anything wrong with the new command?

[2017-12-14 12:59] #999 closed

[2017-12-15 05:58] cyphar commented on #1001
Yeah, it looks like this is a bug in the "conversion" code in `neomutt` for if constructs. Would you be interested in a patch that fixes this bug? I'd prefer if I could use the same `muttrc` between stock Mutt and NeoMutt if possible -- especially for features that exist in both versions.

[code]

[2017-12-15 09:06] gahr commented on #1001
You can do that by double-escaping the offending char. This should work both with stock Mutt and NeoMutt: `set status_format="%?d?%d deleted \\>abc?"`

[2017-12-15 09:07] gahr commented on #1001
Or course, we should look into fixing the conversion bug.

[2017-12-15 15:53] l2dy opened #1005 "Cannot specify BerkeleyDB version to use when building NeoMutt"
## bug reports

* Expected behavior
NeoMutt starts normally.
* Actual behavior
Crash.
[code]
* Steps to reproduce
Start NeoMutt.
* Used program versions
NeoMutt 20171215

* Operating System and its version
macOS 10.13.2

[2017-12-15 16:07] l2dy commented on #1005
Crash:
[code]
Normal:
[code]

[2017-12-15 16:13] l2dy commented on #1005
When both db48 and db53 are installed, NeoMutt would link to db53, build succeeds but NeoMutt crashes on start.

[code]

[2017-12-15 16:22] l2dy commented on #1005
When both db48 and db53 are installed, NeoMutt would be built mixing db48 and db53 (in MacPorts), build succeeds but NeoMutt crashes on start.

[code]

Crash:
[code]
Normal:
[code]

[2017-12-15 16:31] l2dy commented on #1005
Notifying MacPorts maintainer: @lbschenkel

[2017-12-16 07:26] cyphar commented on #1001
I tried to use `\\` and it appears to cause the entire construct to not display.

[code]

But single-escaping works for NeoMutt (since it incorrectly translates it to a correct string). I can work on a patch for the above bug.

[2017-12-16 13:35] flatcap commented on #1001
@cyphar

That would be really appreciated, thanks.
Be warned though, that code is quite fragile :-)

[2017-12-16 13:43] flatcap commented on #1005
Please can you paste the output from `./configure --debug [OPTIONS]`

[2017-12-16 13:46] l2dy commented on #1005
[code]

[2017-12-16 13:55] l2dy commented on #1005
If I remove [these lines](https://github.com/macports/macports-ports/blob/c9364cd8608ee492488d3d4547deee0acc0a822a/mail/neomutt/Portfile#L51-L53) from the Portfile, NeoMutt links to db53 and starts just fine. So MacPorts needs a way to specify the BerkeleyDB version to use.
[code]

[2017-12-16 17:17] lbschenkel commented on #1005
Thanks for the report, @l2dy. I'm seeing something different when I have both `db48` and `db53` installed and run `port configure`:
[code]

[2017-12-16 19:52] mimaoffice opened #1006 "Recipient's S/MIME certificate disappears after sending an encrypted email"
(Tested with NeoMutt 20171208 on macOS - installed with MacPort - and also with mutt-1.9.1 on Fedora 26)

I already reported this bug [here](https://dev.mutt.org/trac/ticket/3982) and it has already been [fixed](https://gitlab.com/muttmua/mutt/commit/9eedfd4e1b62d1749f7e93d85fb0930e7d2cdf8f) in mutt-1.9.2. Can you please also fix it in neomutt?

How to reproduce:

- start neomutt (with default smi

[2017-12-16 21:01] flatcap commented on #1006
Thanks for the bug report, @mimaoffice.
All of Mutt's fixes get folded into NeoMutt, but it just missed out on the latest NeoMutt release.

As there's a workaround, the fix will have to wait until the next release (in a few weeks).
I'll leave this issue open until the fix is committed.

**Workaround**

- enable `smime_self_encrypt`
- set a value for `smime_self_encrypt_as`

This will cause the cer

[2017-12-16 21:55] mimaoffice opened #1007 "smime_keys not in $PATH and old path in smime.rc"
Just some remarks and a question:

1. In one of the last versions of `neomutt` (I thing 20171208), `smime_keys` was installed in `/opt/local/lib/neomutt/`.
2. Now it is installed in `/opt/local/libexec/neomutt/`.
3. In `smime.rc` the command `smime_import_cert_command` has not been updated with the new path (please fix).

Why don't you install `smime_keys` in `bin` as `mutt` does? This would be us

[2017-12-16 22:04] mimaoffice commented on #1006
Should the workaround not be the default?

[2017-12-17 10:47] Dabsen opened #1008 "[Regression] Neomutt now lags on sending email"
Mutt (and later neomutt) used to send mail instantaneously with my setup (I am using msmtpqueue). I updated to the latest version from the arch repos yesterday (20171208) from the previous arch repo version (20171013), and now neomutt annoyingly lags whenever I send an email (around 4 seconds; I am using fairly old hardware). Downgrading solves the issue. I tried commenting out the abort_noattach

[2017-12-17 11:45] lbschenkel commented on #1005
Interesting that I get this failure with `ccache` installed, but when I uninstall it then autosetup links with `db53` instead. @flatcap, is there any way the autosetup script can be improved in order to "prefer" a specific `db` version? Otherwise a workaround would be to depend on `db53` instead, since it seems that it's the version `autosetup` prefers to pick up.

[2017-12-17 12:22] lbschenkel commented on #1005
In the meantime, I've implemented a workaround downstream:
https://github.com/macports/macports-ports/pull/1125

[2017-12-17 13:47] cyphar commented on #1001
@flatcap I've written a patch that I believe solves the problem in #1009.

[2017-12-17 14:05] flatcap commented on #1001
Thanks!  I shall give it a test later.

[2017-12-17 14:20] flatcap commented on #1008
Hmm.... Sorry about that.  I can't think of anything obvious that might have cause this.

Would you mind doing some detective work, to help us narrow down the problem?
First, could you try neomutt-20171027.
If you have the time and knowledge to `git bisect` the problem that would be marvellous.

An alternative approach would be to "bisect" your config file.
Cut out / restore sections and try to id

[2017-12-17 14:39] flatcap commented on #1005
OK, this is @gahr's area of expertise, so anything I say may be wrong :-)

There are two configure options for each database: `--X` and `--with-X=PATH`
Using just `--bdb` will tell `configure` to find the headers and libraries for that db type.

`configure` looks in lots of places for lots of variant names (dirs vary amongst distros).
`configure` "knows" that 5.3/53 is newer than 4.8/48, so it wil

[2017-12-17 14:56] Dabsen commented on #1008
Thanks for the prompt reply. Yes, I can do a bisect, but probably not
this week. I'll come back to you around Christmas, if that's ok.

[2017-12-17 15:07] flatcap commented on #1008
That's great.  Thanks.

[2017-12-17 15:17] l2dy commented on #1005
@flatcap Even with `--with-bdb=/opt/local`, `configure` is still searching for paths within `/opt/local`.
https://github.com/neomutt/neomutt/blob/neomutt-20171215/auto.def#L641

[2017-12-17 16:03] Dabsen commented on #1008
In fact, I had time to do it today. The culprit is
4aaf1ef7670b37c54320161a8fc3386479588dc0
so my folder-hooks would probably be partly to blame (although there is
no lag at all when I switch folders in other contexts). Anyway, let me
know if it's just my machine being slow on a reasonable operation or if
there's something fishy.

[2017-12-17 16:10] Dabsen commented on #1008
Btw I suspect this commit is only part of the story. There is no lag
before it, but it only introduces a 1-2s delay. The lag is significantly
longer in the latest release.

Le 17/12/2017 à 17:03, Dabsen a écrit :

[2017-12-17 16:20] flatcap commented on #1005
Ah, I see what you mean.  Tricky.

Perhaps an ugly workaound might work...
- `EXTRA_CFLAGS=-I/opt/local/include/db48"`
- `EXTRA_LDFLAGS=-l/opt/local/lib/db48"`
- Mislead `configure` by giving it a non-existant dir `--with-bdb=/tmp/empty`

This is probably a very bad idea :-)

[2017-12-17 16:33] flatcap commented on #1008
Ah, that commit make sense.
When you send an email, it's saved to `$record`.
That folder might not be on the same host as the folder you have open, so we need to run the folder-hook twice.  Once for the save folder and again for the current folder.

Are your folder-hooks doing anything unusual?

It might be worth building and running with debug logging enabled, `neomutt -d2` (`~/.neomuttdebug0`)
T

[2017-12-17 17:19] Dabsen commented on #1008
Aaah! neomutt calls my folder-hooks on `$record` on the sly! I get it.
Long story short, I call collapse-all on most folders (for a
conversation-level view). Without this call, the lag seems to disappear,
which makes sense as my `$record` folders are big.

Two issues here:
- I never expected my folder-hooks to be run non-interactively (i.e. on
  folders I would not see open);
- more specifically,

[2017-12-17 18:05] lbschenkel commented on #1005
Check the diff here: https://github.com/macports/macports-ports/pull/1125/files, maybe making the `bdb_versions` configurable via a switch in `configure` could be enough?

[2017-12-17 20:37] flatcap commented on #1008
Aha!

Yes, it's a bit sneaky.  I'll update the docs to make it clear.

Great.

[2017-12-17 20:37] #1008 closed

[2017-12-17 23:52] nobrowser commented on #993
It's possbile this is just a symptom of a memory corruption somewhere else.  Has anyone tried to run neomutt with valgrind or a similar tool?

[2017-12-18 08:54] rtlanceroad commented on #1007
I also see the problem. When using `./prepare`, those three libraries `pgpewrap` `pgpring` `smime_keys` were installed to `/usr/lib/neomutt/` in the past. but since I update it today, they are installed to `/usr/libexec/neomutt/`. I checked `./configure --help`, there is no option to self define where to put executable libraries. You can see my problem in the footprint from [commit](https://github

[2017-12-18 11:24] flatcap commented on #1007
Ah, yes.  This is to do with our divorce from Mutt.
We renamed and moved lots of files to avoid clashes with Mutt, so both could be installed at the same time.
Sorry, they files and config are out of sync.

The alternative is that we edit the config files at install time to point to the right locations.
I'll discuss it with the other devs.

[2017-12-18 11:27] flatcap commented on #1007
@rtlanceroad
I hadn't heard of Crux.
If you want to add a [distro page](https://www.neomutt.org/distro.html) for it, you'd be very welcome. ([web source](https://github.com/neomutt/neomutt.github.io/tree/master/_distro))

[2017-12-18 12:10] Dabsen commented on #1008
Thanks again. The worst of the lag's gone, but it's still noticeable on
my slowest machine. I find it puzzling. I am not even sure I understand
why my “fix” helps if the big `$record` folders are not actually opened.
If I find the time I'll investigate further… Anyway, the current lag is
not too disturbing.

Le 17/12/2017 à 21:37, Richard Russon a écrit :

[2017-12-18 12:41] rtlanceroad commented on #1007
@flatcap I would like to but the key point is I can't find a proper sized logo for it. I only find logo [here](https://crux.nu/pub/skins/crux/cruxlogo.png), I believe we only need that tux. I am not familiar with artwork/logo thing and I don't know how to make it proper size.

[2017-12-18 12:59] flatcap commented on #1007
@rtlanceroad
I've just cropped, resized and pushed the logo.  It will do for now.
There really don't seem to be any better copies on the internet!
If you add `icon: crux.png` to the header, it will be picked up.

[2017-12-18 13:00] rtlanceroad commented on #1007
Thanks! PR will be avaliable in a few minutes.

[2017-12-19 17:16] freshprince opened #1011 "postponed mails get 'lost' with specific configurations"
* *Expected behavior*
In my config I'd like to have my postponed messages stored in the corresponding IMAP-directories that I set via `folder_hook` (I set `$postponed=+Drafts` and  `$folder=imaps://user@host.com/` via folder_hook)

* *Actual behavior*
My postponed mails end up in my CWD with a garbled filename containing some random bytes.

* *Steps to reproduce*
Here's a minimal `muttrc` and the

[2017-12-20 00:31] flatcap commented on #1011
Notes to self:
This one's a bit tricky
1. `ci_send_message()` passes `$postponed` to
1. `mutt_write_fcc()` which runs a `folder-hook`
1. which sets `$postponed` deleting the original version of the string

This bug probably happens in the same way when sending email, if a `folder-hook` for "Sent" sets `$record`.

Todo:
1. Move the two `folder-hook`s out of `mutt_write_fcc()` -- for each of the cal

[2017-12-20 11:36] darnir opened #1012 "Mail appended to $record even of sending fails"
I use NeoMutt with msmtp for sending my emails.

Due to a connection issue, msmtp failed to send the email I sent and returned an error code. Mutt correctly identified the error and showed the message that msmtp threw.

However, multiple copies of my email were added to the $record directory for my account, one for each time I tried before giving up. The email should be appended to $record only on

[2017-12-20 12:37] flatcap commented on #1012
This also happens with the built-in SMTP (and upstream mutt).
I remember some conversation on the mutt-devel mailing list -- something about saving emails on errors.

[2017-12-20 17:00] kbro237 opened #1013 "gmail server side search not working"
When I search on a gmail imap account`=/ 'foo'` I get the error message:

where it used to work.

Could it be that the capabilities offered by Gmail looks like [this](https://developers.google.com/gmail/imap/imap-extensions):

Where as neomutt queries for `X_GM_EXT1` ?

[2017-12-20 17:22] flatcap commented on #1013
Sorry.  When tidying up I was mislead by a comment by the original author.
It suggested that the docs say `X-GM-EXT-1`, but the server accepts `X_GM_EXT1`.

Would you be able to give branch [issue/1013](https://github.com/neomutt/neomutt/compare/issue/1013) a try?
Thanks.

[2017-12-20 19:19] doronbehar opened #1014 "The recommended pgp_decrypt_command takes a long time to decrypt and fails eventually"
### Expected behavior
When trying to open a decrypted message, I want to be prompted for entering the passphrase for my private key and to view the message.
### Actual behavior
I'm prompted to enter a passphrase to unlock my secret key but it is stuck in a loop that fails every iteration after a long time it tries to process something and eventually I get the red error message `Can't decrypt PGP m

[2017-12-21 08:56] mgedmin opened #1015 "Mutt fails to handle RFC 2047 encoded words that are split in the middle of a multi-byte UTF-8 character"
My electricity provider sent me a Christmas message with the following Subject header:

[code]

* Expected behavior

GMail decodes this as "Kviečiame drauge pildyti ESO pasižadėjimų girliandą!"

* Actual behavior

Mutt shows this as "Subject: Kviečiame drauge pildyti ESO pasižad��jimų girliandą!"

* Steps to reproduce

Edit some email in raw form and paste the Subject header from above, then open

[2017-12-21 10:51] gahr commented on #1005
I don't really see a great benefit in it, but I won't oppose to a patch.

[2017-12-21 11:40] gahr commented on #1015
The issue is with the subject being broken into two lines in the middle of the `=C4=97` sequence. I'll look into that.

[2017-12-21 12:36] gahr commented on #1015
`rfc2047_decode` calls into `rfc2047_decode_word` for every piece of RFC2047-encoded string it finds. In this case, `rfc2047_decode_word` is called twice:

1. the first call, with the whole subject as argument, decodes the first part of the subject
2. the second call, with only the second part as argument, decodes the second part of the subject

Also, part of `rfc2047_decode_word`'s job is to perf

[2017-12-21 12:46] gahr commented on #1015
As a side note, I see that both iOS Mail and Roundcube handle this subject just fine. However, I think this is strictly illegal in RFC2047 terms:

   A multi-octet character may not be split across adjacent 'encoded-
   word's.

[2017-12-21 17:02] gahr commented on #1015
Marking this as an enhancement too, since this is about supporting MUAs violating RFC ;)

[2017-12-22 13:35] yourealwaysbe commented on #931
I have tracked down the cause of the issue with the config file only containing
    folder-hook . 'push <collapse-all>'
It is commit 4aaf1ef7670b37c54320161a8fc3386479588dc0, which has the comment "call the folder-hook before saving to $record".

My hunch is that calling the folder-hook on the record folder causes some folder-hooks to fail, since they're written on the assumption that the index of

[2017-12-22 14:10] Hasimir commented on #1014
Try recompiling Neomutt but change the configure flag for GPGME from `--enable-gpgme` to `--with-gpgme=/usr/local` (assuming GPGME is actually installed in `/usr/local`, if not then change the path as appropriate for your system.  Then enable GPGME in your .muttrc if it's not already and try again.

[2017-12-22 14:42] doronbehar commented on #1014
Tell me if I'm wrong but I have a few questions
1. Isn't `gpgme` a dependency of `neomutt`? I have it installed in `/usr`
2. isn't my version of `neomutt` is compiled with gpgme enabled according to `neomutt -v | grep gpgme`?

I have `set crypto_use_gpgme = yes` in `rc` and I get the same results even when I don't have it defined.

[2017-12-22 21:03] Hasimir commented on #1014
It's an optional dependency in both Mutt and Neomutt.  If it's not compiled in then `set crypt_use_gpgme=yes` won't do anything and GPG would need to be called directly and bound to various Mutt hooks in the config file(s).

The out put of your Neomutt configuration clearly shows that the flaf used with the configure script was incorrect.  Yours has `--enable-gpgme` which won't do anything because

[2017-12-23 14:59] doronbehar commented on #1014
First of all, this is the way it is compiled in Arch Linux:
[code]
source: https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/neomutt

Running `gpgme-config --prefix` gives me `/usr`. Isn't it the default location for `./configure` chooses when compiling with `--gpgme` or `--enable-gpgme`?

[2017-12-25 16:48] qsuscs commented on #678
Just for the record, once Emacs automatically switches the buffer to message-mode (see comment above), the missing piece is `(add-hook 'mail-mode-hook 'mail-text)`, which makes it jump to the beginning of the body.

[2017-12-27 06:16] m2habert commented on #742
I'm having a hard time figuring out the logistics of neomutt and "family"... I tried out the example:

`macro index A "<modify-labels-then-hide>-inbox\n" "modify"`  in a regular folder (had no clue <mod-label> was for vfolder only)

and I don't even get @randomizedthinking 's  somewhat clear error message; I get:

`Key is not bound`

¿Is that supposed to happen?

[2017-12-27 17:43] woky opened #1016 "Accessing `my_var` in Lua casues crash"
- Place this in `.muttrc`:
[code]
- Start NeoMutt
- Observe
[code]
Operating System and its version: ArchLinux

[2017-12-27 17:45] woky opened #1017 "Cannot create `my_var` with `mutt.set()` in Lua"
With this in `.muttrc`:
[code]
NeoMutt fails `Error getting parameter my_var`.

### Use case
[code]

[2017-12-29 01:15] #1001 closed

[2017-12-29 01:15] #1006 closed

[2017-12-29 01:15] #1013 closed

[2017-12-29 01:26] flatcap commented on #1016
I went through the code and I don't think 'myvars' _ever_ worked!
I've pushed a fix for both your issues to branch [devel/lua](https://github.com/neomutt/neomutt/tree/devel/lua) -- commit: d014ecba6
I'd be grateful if you could give it a try (and find any other bugs :-)

[2017-12-29 01:27] flatcap commented on #1017
I went through the code and I don't think 'myvars' _ever_ worked!
I've pushed a fix for both your issues to branch [devel/lua](https://github.com/neomutt/neomutt/tree/devel/lua) -- commit: d014ecba6
I'd be grateful if you could give it a try (and find any other bugs :-)

[2018-01-02 09:51] gahr opened #1018 "Help page badly rendered"
## bug reports

The help page got broken by https://github.com/neomutt/neomutt/commit/9cda4e2549c01e7b7c8b34aa98f38c2328ced0cb#diff-081cf476dd9ac3b05c183570de47cb23L227

[2018-01-02 11:37] flatcap commented on #742
@m2habert Hmm... the macro you've used is for the 'index' only.
If you're in the pager, viewing an email, the macro won't work.
You could try: `macro index,pager A ...`

[2018-01-02 11:52] flatcap commented on #742
@randomizedthinking
It's a reasonable idea, I'm just not sure how we'd do it.

Notmuch is implemented as a mailbox and the mailboxes are isolated from each other.
If I open a Maildir mailbox, it's unaware of IMAP, or Notmuch, etc.
Worse still, the Notmuch database won't be read **until** I open a Notmuch mailbox.

There are two solutions for this problem.  One trivial, the other complicated.

1. C

[2018-01-02 11:59] #1018 closed

[2018-01-03 17:28] antoyo opened #1020 "Unknown command pgpewrap"
Hi.

## bug reports

* Expected behavior: send encrypted email
* Actual behavior: cannot send encrypted email
* Steps to reproduce: try to send an email that is both signed and encrypted. I get the error: unknown command `pgpewrap`
* Used program versions: 20171215
* Operating System and its version: ArchLinux (System: Linux 4.14.9-1-ARCH (x86_64))

If I add the directory `/usr/lib/neomutt` to `$P

[2018-01-04 11:46] flatcap commented on #1020
Ah.  These helper programs have been moved to avoid a name clash with the mutt package.
The idea was to have `/etc/neomuttrc` point to the right locations so the user wouldn't notice the change.
Have a look for the program in `/usr/lib/neomutt` or `/usr/lib64/neomutt` then adjust your `pgp_encrypt_*` config.

[2018-01-04 15:49] antoyo commented on #1020
So, the solution is to use absolute paths for `pgp_encrypt_*`?
If yes, you can close this issue.
Thank you.

[2018-01-04 19:12] riesebie commented on #1020
My version of neomutt is compiled with --gpgme and the only option I've set is `set crypt_use_gpgme=yes` All the other possible options left as default.

[2018-01-04 23:38] a3nm commented on #998
I'm also seeing this problem with NeoMutt 20171215 from Debian (20171215+dfsg.1-1).

[2018-01-05 09:16] kashyapc commented on #931
I can confirm mvdan's experience above. I too see the _same_ experience -- whenever I send an email, I see the: `Not available in this menu`. It really _is_ annoying. I've been seeing this for a few days, but ignored it.  Thought  I accidentally pressed multiple keys. But I tried to carefully send an email to myself, and could reproduce it consistently.

That's my version of 'neomutt': `neomutt-20

[2018-01-05 15:42] libBletchley commented on #998
Sorry for the slow reply.. I sometimes don't get e-mails for threads I'm subscribed, and I have no idea why I just got @a3nm's msg in email but not @gahr's.

Anyway, I just sent a signed and encrypted PGP/MIME msg to a protonmail user, and it all looks fine on my end.. no errors.  This was on Debian's neomutt version 20170113, and with the following encrypt+sign command:

`set pgp_encrypt_sign_com

[2018-01-05 15:55] libBletchley commented on #998
I just tried the same with this version:

NeoMutt 20171027-42-ad8712

and a red error msg flashed by very quickly.  I think it said something like "not available in this gpg".  But the mutt-stored version of what was sent looks fine (encrypted and signed), and my mail server shows that it was sent.

[2018-01-05 22:14] antoyo commented on #1020
@riesebie I didn't know about this option. Thank you!

[2018-01-05 22:14] #1020 closed

[2018-01-06 10:27] calmarc opened #1021 "nvim's filetype does not work"
hi all. I have that in my .config/nvim/init.vim
autocmd BufNewFile,BufRead /tmp/neomutt-* set filetype=mail

So when I directly open a file in /tmp/neomut.... it (neovim) does change to filetype=mail.

When I edit a new mail from neomutt, it does not trigger that.

(and with the same setup, it works with ol'mutt).

Any ideas why that does not work?
thanks a lot!

[2018-01-06 10:30] chrisbra commented on #1021
Recent Vims contain that change to filetype.vim [already](https://github.com/vim/vim/blob/master/runtime/filetype.vim#L916-L917)

Probably missing a runtime update for your nvim. You can however simply copy that mentioned line to your init.vim

[2018-01-06 11:04] calmarc commented on #1021
Thanks Chrisbra, but I was the problem actually.
vim - was not - configured . So of course I can do whatever I want to neovim .. without any effect, when I still have editor=vim instaed of editor=nvim in muttrc.
(only because I aliased vim to nvim etc. did not help either).
So neomutt opened the fully not configured vim.. that's why.
So everything is all right editor=nvim now.
Problem was me only

[2018-01-06 11:04] #1021 closed

[2018-01-08 16:29] flatcap commented on #931
@mvdan @kashyapc
Your problems are caused by config that's set during a `folder-hook`.
The hook is called when saving an email to `$record` -- this didn't use to happen.
The fix in branch [issue/931-sort](https://github.com/neomutt/neomutt/compare/issue/931-sort) should help.

[2018-01-09 08:59] mimaoffice commented on #1007
@flatcap
Did you discussed this with the other devs?

[2018-01-09 10:44] kashyapc commented on #931
So it turns out, if I remove the `folder-hook` entry for `sort_aux`, I don't see the issue I mentioned earlier anymore:

    - folder-hook INBOX set sort_aux=reverse-last-date-received
    + set sort_aux=reverse-last-date-received

[2018-01-09 12:07] flatcap commented on #1007
@mimaoffice
Sorry, not yet.  We've all been a bit busy recently.
It **will** get fixed in the next release.

[2018-01-10 04:35] protist commented on #998
I notice that your command from [this comment](https://github.com/neomutt/neomutt/issues/998#issuecomment-355585656) is actually a little different to the shipped version, in that `--always-trust` has been added. I tried your command (after fixing the path `s/mutt/neomutt/`), but that still fails for me.

Also, I'm using the latest NeoMutt, i.e. 20171215.

[2018-01-10 20:41] Dabsen commented on #1011
A different, but presumably related, problem started affecting me recently: postponement often does not work at all any longer, i.e., when mutt asks, 'Postpone this message? ([yes]/no):', typing 'y' has no effect. The prompt stays in place and nothing happens until I type 'n'. It does not always happen; it might depend on the underlying folder but I haven't had time to test the behaviour systemati

[2018-01-11 04:37] scottkosty opened #1022 "Messages hidden because of hook"
After 4aaf1ef7, I do not see the typical messages after "Sending message...".
For example, I do not see "Mail sent."

Running neomutt with -d2 and checking the debug log shows that the messages are
written, I just don't see them. The log shows:

    [2018-01-10 22:54:49] curses_message() Sending message...
    [2018-01-10 22:54:49] curses_message() Looking up smtp.gmail.com...
    [2018-01-10 22:5

[2018-01-11 10:28] flatcap commented on #1022
Argh!  Yes, this is that hook again.
The `folder-hook` is called when saving to `$record`.
I still think it's the "right thing to do", but it's causing a heap of problems.

This was just a fix for a very specific problem of setting sort variables.

Unless I come up with a very clever idea, I'll disable the hook placement for the next release.

[2018-01-11 19:28] scottkosty commented on #1022
OK thanks for the quick response, and let me know if there are any other details or testing on this issue that would help.

[2018-01-13 13:32] XVilka commented on #5
Note that almost any single terminal now supports those. It would never land in ncurses and terminfo while the current maintainer of them is in charge. But the rest are fine and you can see Midnight Commander as a good example of Slang library user with proper RGB color support.

[2018-01-16 01:57] makoshark commented on #998
I think the issue is that `--sign --encrypt` in after the second `--` which it should be before the first one. Making that change to the two places where this issue was introduced seems to fix the issue on my system. I've uploaded a patch and pull request.

[2018-01-16 02:14] wcurry commented on #960
I'm taking a look at this.

[2018-01-16 09:26] protist commented on #998
@makoshark Yes, that works fine now! Thank you.

Also, I'm not sure if I should just open up a new issue or not, but I've been also having trouble with encryption only, without signing. It works fine for keys that have trust=`ultimate`, but fails for trust=`fully` or `marginal`. If I try to send mail, I get the following error:
[code]
This problem was in the original shipped `gpg.rc`, i.e.
[code]

[2018-01-16 19:15] makoshark commented on #998
I suspect this is just a function of the `--always-trust` option which is present in the old line but not in the new one. I think I'd prefer that mutt not require this behavior.

If you want to trust all keys, you can adding `trust-model always` to your `~/.gnupg/gpg.conf` configuration file.

[2018-01-16 19:45] flatcap commented on #960
@wcurry
I've just had a another look code...

Currently, `mutt_mktemp()` which calls `mutt_mktemp_full()` is a string function.
It generates a complicated name, which most of the callers immediately `fopen()`.

I suggest we start with a new function which calls `mkstemp()` and then migrate the callers one by one.

The new function will create a temporary file, delete it and return an open handle.

[2018-01-17 00:43] protist commented on #998
If I put back `--always-trust`, then it works again.

I'm by no means an expert, but my [understanding](https://gpgtools.tenderapp.com/kb/faq/what-is-ownertrust-trust-levels-explained) [is that](https://security.stackexchange.com/questions/41208/what-is-the-exact-meaning-of-this-gpg-output-regarding-trust) only your own keys have ultimate trust? If I'm encrypting an email to someone else, then thi

[2018-01-17 00:45] #1017 closed, assigned to flatcap

[2018-01-17 00:59] makoshark commented on #998
@protist, there are many different ways folks like to handle trust in GPG. I have mine so that a key I don't know with signatures from 2 marginally or one fully trusted key count as "trusted." Anything else I want to look at it.

The point is that I don't think it's mutt's business to force `always-trust` on people that don't want to use that trust model or have specified a different trust model i

[2018-01-18 17:10] doronbehar opened #1026 "Is there a mechanism to make notmuch's virtual-folders be synced with the actual maildirs?"
This is more of a question than a bug report / feature request but perhaps it should become a feature request so bare with me.

I use [`mbsync`](http://isync.sourceforge.net) to sync my `maildir` and I use `neomutt`'s together with `notmuch`'s virtual-mailboxes to index my mails etc.
Sometimes, I modify my `+INBOX` (defined with the regular `mailboxes` command) and I want to view afterwards a `vir

[2018-01-18 18:34] gahr commented on #428
No more relevant. I'm working on a slightly modified version of this.

[2018-01-18 18:34] #428 closed

[2018-01-18 18:43] libBletchley commented on #1014
It's really bizarre that you would get the same results whether you have `set crypto_use_gpgme = yes` or `unset crypto_use_gpgme`.  Make sure you don't have any funny business in your sitewide configs.

GPGME is new and experimental.  It's not ready for prime-time (even though the Debian project sadly enables gpgme in the sitewide config, thus forcing users to override it).  I suggest putting `uns

[2018-01-18 19:07] libBletchley opened #1027 "smime-menu (c) option fails to clear, thus forcing crypto"
I have this config:
[code]
So if I have an alias defined this way:
[code]
messages will be automatically S/MIME encrypted and if I sign they will use my _personal_ (read:non-business) key.  This generally works.  But what if Alice temporarily loses access to her private key?  E.g. she goes on vacation and doesn't take the usual rig with her.  I should be able to selectively send a msg in-the-clear

[2018-01-18 23:33] a3nm commented on #998
For reference, the corresponding pull request, which fixes this problem for me, is https://github.com/neomutt/neomutt/pull/1023

[2018-01-19 08:22] #998 closed

[2018-01-19 08:28] gahr commented on #1014
For the sake of completeness, I just would like to point out that this is totally your opinion, not GPGMe's developers', who instead state that "Especially authors of MUAs should consider to use GPGME.".

From your earlier comments, I get that your opinion comes from the fact that GPGMe doesn't support inline signatures. I also get that you would like to stick with inline signatures because some 3

[2018-01-19 11:06] libBletchley commented on #998
@protist

I have `--always-trust` in my personal config, but as @makoshark says it's not proper to have that in the repository.  I removed it because it's a personal choice whether to relax the trust.

@makoshark

I moved it to the end because that is the syntax rules according to the gpg man page.  Notice that `--recipient` is listed as under "Key related options".  An "option" goes before a comm

[2018-01-19 12:18] doronbehar commented on #1014
I get the same behaviour whether I `set crypto_use_gpgme = yes` or whether I `unset crypto_use_gpgme`.

[2018-01-19 15:10] libBletchley commented on #998
GPG bug report opened:

https://dev.gnupg.org/T3751

[2018-01-19 16:26] libBletchley commented on #1014
@doronbehar
I believe your problem is due to missing `--pinentry-mode loopback`.  Use this line: `set pgp_sign_command="/usr/bin/gpg %?p?--pinentry-mode loopback --passphrase-fd 0? --no-verbose --batch --quiet --output - --armor --textmode %?a?--local-user %a? --detach-sign %f"`

The need for `--pinentry-mode loopback` emerged in a recent GPG version with a huge number of significant changes.

@ga

[2018-01-19 17:46] doronbehar commented on #1014
O.K @libBletchley, I have finally managed to isolate the problem thanks to your suggestion.

My `~/.gnupg/gpg.conf` is empty and my `~/.gnupg/gpg-agent.conf` has:
[code]
I experience this problem because of my `pinentry-program` and the fact that I have `set pgp_use_gpg_agent = yes`. My `pinentry-program` is a simple bash script that uses the environmental variable `$PINENTRY_USER_DATA` as explain

[2018-01-19 18:47] makoshark commented on #998
I'm pretty sure the problem I was running into is not with GPG but with `pgpewrap`. The error is being caused because moving two options after the final `--` causes the first of the two options to be duplicated. This causes two `--sign` options to be included.

If you replace `gpg` with `echo` in your calls to `pgpewrap` it's pretty easy to see the behavior and figure out why it's happening.

[2018-01-19 23:17] bazzinotti opened #1028 "[browser] <change-dir>.. Resolve Parent Directory"
## bug reports

Using `<change-dir>..` does not resolve the parent directory. Example: it uses `/some/folder/../../another/folder` instead of `/another/folder`.

It is not user friendly.

It might cause adverse behavior. (?)

### Steps to reproduce

* First get into the browser.
  * Here is one way to get into the browser. Open neomutt. From a folder with >0 messages, press 's' to invoke `<save-me

[2018-01-20 01:05] flatcap commented on #1028
Thanks for the bug report.

It should be a simple job to insert a few `realpath()`s into the code.
In addition, we could add a new browser function `<go-to-parent>`

[2018-01-20 10:44] libBletchley commented on #998
@makoshark

You're right, I overlooked that.  The two `--sign` commands indeed cause the `gpg: conflicting commands`.

The GPG man page is also still wrong.  And furthermore, there's actually a bug in pgpwrap itself.  I recall now that I struggled with it, and after more testing it seems there is no way to make pgpwrap work correctly when there are more than two tokens following the `--` terminati

[2018-01-20 17:04] #1015 closed

[2018-01-20 22:33] westernmagic opened #1029 "LONG_STRING too short for Lua interface"
## Calling `mutt.call(command, arg)` uses an unreasonably short buffer

* Expected behavior
I'm trying to use the new Lua interface to generate a list of virtual mailboxes. I generate a arguments for `virtual-mailboxes` and then call the command once with a long string.

* Actual behavior
This works, but **without any warning or message** only makes about half of the mailboxes. This is due to the

[2018-01-20 23:03] bazzinotti commented on #1029
I found similar behavior in my neomutt not compiled with lua support.

In my case, I used `<delete-pattern>` (D) and pasted a long concatenated set of
patterns that was > 1024 bytes (I counted with tools). The string pasted in
full, but the command silently runs with a truncated string cut at the
1024th byte. You can view the truncated string after-the-fact in the
`<delete-pattern>` history by run

[2018-01-21 00:52] bazzinotti commented on #1029
If we keep the static buffer size (less thought provoking), then a simple buffer size check in `mutt_str_strncat` will help. I don't know neomutt code well enough to know if other string functions need buffer size checking added.

https://github.com/neomutt/neomutt/blob/da6c0aadaec4021a584713b7749db864d25d2392/mutt/string.c#L361-L388

[2018-01-21 02:33] bazzinotti commented on #1028
Dear flatcap, let me give the realpath() a shot :smiley:

I'm new to neomutt, so please be kind.

I've narrowed down the location for `realpath` insertion to https://github.com/neomutt/neomutt/blob/da6c0aadaec4021a584713b7749db864d25d2392/browser.c#L1730-L1754

Particularly L1743-L1744 or L1734-L1736 (to make use of the tmp variable)

I'll add a realpath check around there.

# Symlink Resolution

[2018-01-21 13:57] flatcap commented on #1028
Hi @bazzinotti, thanks for the offer.  I accept :-)

There are already a few calls to `realpath()`, so following symlinks shouldn't be a problem.

This is controlled by the config item: [$mask](https://www.neomutt.org/guide/reference#mask)

Hmm... so our two options are:
- Parse the entire path ourselves, checking for `.`, `..` `//` and conditionally handling symlinks
- Running an external program

[2018-01-21 14:39] westernmagic commented on #1026
The following workarounds come to mind:
 - Watch your maildir with **[`inotify-tools`](https://github.com/rvoicilas/inotify-tools/wiki#info)**
 - Modify your keybindings to run `notmuch new`

[2018-01-21 14:43] westernmagic commented on #742
This is the route I chose. See my lua function [here](https://github.com/neomutt/neomutt/issues/1029#issue-290229074)

[2018-01-21 16:00] doronbehar commented on #1026
Modifying the key bindings was a good idea, it works great but I still
think (neo)mutt should support some kind of hook mechanism for when the
user is changing the current folder viewed - perhaps a global hook named
`sync-mailbox-hook`.

[2018-01-22 23:23] stefanv commented on #322
@flatcap, do you mind updating the link above to the blue-sky ideas list?  And is that still the best place to list pending ideas?

[2018-01-24 02:26] kureshio opened #1035 "Problem when send email with outlook"
Good evening

I'm with problem when I try send email. I config the mutt with outlook.

Message error: SSL failed: error:1408F10B:SSL routines:ssl3_get_record:wrong version number

[2018-01-24 11:22] a3nm commented on #998
Thanks for investigating the pgpewrap issues!

Coming back to https://github.com/neomutt/neomutt/issues/998#issuecomment-358072944 (though maybe this should be a different issue): my experience seems to be that, for untrusted keys, neomutt asks for confirmation before using the key (i.e., "ID has undefined validity. Do you really want to use the key? ([no]/yes)"). If you say "yes" here, but you do

[2018-01-24 11:30] gahr commented on #1035
This looks like your client and the server couldn't agree on the SSL protocol version.

Let's start by looking at the output of your `neomutt -v`

[2018-01-24 11:34] gahr commented on #1035
And `./neomutt -DS | grep ssl_use`

[2018-01-24 19:08] makoshark commented on #998
@a3nm: Being willing to encrypt to an untrusted key without prompting *is* a trust model. GPG calls that trust model `always`.

The program asking you is not GPG, not neomutt. This is because both (a) the GPG you have installed is configured (perhaps by the default settings of your operating system?) to not encrypt to keys without user intervention unless they have some level of trust, and (b) the

[2018-01-25 13:52] bazzinotti commented on #1028
Everything is impl'd in the PR. However, using the browser GUI will not unravel symlinks, but using `<chdir>` or `<goto-parent>` will. So if you were to use the GUI with these commands on symlinks it will feel quite strange. I propose to make the browser use `realpath()` as well.

[2018-01-25 14:02] flatcap commented on #1028
Yes, please.

[2018-01-25 22:16] kureshio commented on #1035
I use the command neomutt -v
NeoMutt 20171215
Copyright (C) 1996-2016 Michael R. Elkins and others.
NeoMutt comes with ABSOLUTELY NO WARRANTY; for details type `neomutt -vv'.
NeoMutt is free software, and you are welcome to redistribute it
under certain conditions; type `neomutt -vv' for details.

System: Linux 4.14.14-1-ARCH (x86_64)
ncurses: ncurses 6.0.20170902 (compiled with 6.0)
libidn: 1.33

[2018-01-25 22:17] kureshio commented on #1035
I using neomutt -DS | grep ssl_use

ssl_use_sslv2 não está atribuída
ssl_use_sslv3 não está atribuída
ssl_use_tlsv1 está atribuída
ssl_use_tlsv1_1 está atribuída
ssl_use_tlsv1_2 está atribuída
ssl_usesystemcerts está atribuída

[2018-01-26 01:01] stefanv opened #1038 "IMAP timeout causes `Please select mailbox first` error"
I am on a somewhat unreliable network, so IMAP often times out.  When I then try to sync my mailbox, I see the following error:

[code]
Sometimes the line above starts with `imap_fast_trash`.

I'm not sure how to "select a mailbox first" as suggested; opening the folder is not an option, because that would first require syncing the current flags.

<details>
NeoMutt 20171215
Copyright (C) 1996-2016

[2018-01-26 02:13] ElDeveloper commented on #1038
I also see this problem sometimes my network is supposed to be reliable (but it's at a university ... so who knows), I almost always see this with the `imap_fast_trash` message. This is also sometimes prefaced by me trying to open an e-mail and seeing an empty message. Then when I try to exit the mailbox or sync I see the problem described above.

Here's my system's info:

<details>
NeoMutt 201710

[2018-01-27 13:54] a3nm commented on #998
Thanks @makoshark for your answer, but I'm not sure I understand it. I understand the GPG trust model, and the fact that the names and email addresses indicated on keys are not necessarily correct. My point was that there is a prompt asking about untrusted keys no matter whether you use `--always-trust` or not, and that without `--always-trust` there is a problem when you answer yes to the prompt.

[2018-01-29 18:32] ElDeveloper commented on #1038
Just in case this helped, I was able to capture this problem on an animated gif:

![problem-mutt](https://user-images.githubusercontent.com/375307/35527472-a9bba89c-04df-11e8-82e7-72f850593c19.gif)

[2018-01-30 08:44] hsanson opened #1042 "Support variable substitution in notmuch URIs"
I want to set my virtual mailboxes based on the account folder variable I set for each account in neomutt. Something like below:

[code]

As you can see I am trying to get the virtual mailbox to use the path filtering based on the $folder configuration variable. Unfortunately it looks like variables are not being substituted in this case.

[2018-01-30 13:08] knezi opened #1043 "smtp_url: password cannot contain a question mark"
## bug report

* Expected behavior
Neomutt says the smtp_url is incorrect when sending an e-mail.
* Actual behavior
The url is correct.
* Steps to reproduce
Set in `.muttrc`:

```set smtp_url=smtps://"aaa":"AA?"@server```

Nothing else is needed, this is the whole config file causing the problem.

* Used program versions
Bisected, the first bad commit is https://github.com/neomutt/neomutt/commit/4

[2018-01-30 13:15] bazzinotti commented on #1043
Try
`set smtp_url="smtps://aaa:AA?@server"`

[2018-01-30 13:41] flatcap commented on #1043
Thanks for the bisect, @knezi

[2018-01-30 14:44] flatcap commented on #1043
A quick look at the code shows that the variable is being stored correctly.
It's the url parsing, when you come to send, that's going wrong.
No amount of escaping in the config file can work around this.

The problem starts here:
https://github.com/neomutt/neomutt/blob/74922c787a4efae9b8db9b497b680f073050c217/url.c#L177-L183

[2018-01-30 15:05] flatcap commented on #1043
@knezi Please can test the branch: [issue/1043](https://github.com/neomutt/neomutt/tree/issue%2F1043)

[2018-01-30 20:23] knezi commented on #1043
Wow, that was fast. I did `./configure && make` and it fails with:

[code]

Running `./configure --notmuch && make` works and solves the problem. I cannot confirm if it really sends the e-mail, because not everything needed is included in the built (for instance SSL support). How is neomutt built for production? Simply `./configure --everything`?

Also, when I run `neomutt "mailto:aa"` I get SIGSE

[2018-01-30 22:17] flatcap commented on #1043
Ah... Many of the constants aren't conditional.  That'll teach me to not check :-)
I've pushed a build fix for when Notmuch isn't enabled.

Great.

That tends to depend on the distro and their choice of defaults.
We've changed the build to include more by default, so there's less variability now.

Specifically, for you, for Arch, their defaults are set here:
https://git.archlinux.org/svntogit/comm

[2018-01-30 22:36] flatcap commented on #1043
OK, the third commit should fix the crash.
Let me know if you have any other questions/trouble.

[2018-01-31 08:57] knezi commented on #1043
Thank you for the fix. Everything seems to be working now. I'd like to start coding on neomutt - namely Forgotten Attachment Improvement from https://www.neomutt.org/2016/10/07/news. Can you help me with it?

[2018-01-31 13:35] flatcap commented on #1043
Brilliant.

That list is done, but I have some other 'easy' tasks.

Absolutely.
I'm in our IRC channel most days, most of the time.
We can find you a challenge that you like the sound of and help you get started.

Thanks :-)

[2018-01-31 17:54] knezi commented on #1043
Nice, it's been already implemented. Great, I'll go there.

[2018-02-01 09:36] marcvs opened #1045 "Segfault on list-reply"
## bug reports

* Expected behavior
hit "L" for "list-reply
create new email to list

* Actual behavior
segfault with error code 139

* Steps to reproduce
hit "L" (capital letter)

* Used program versions
NeoMutt 20171215-138-74922c (=git commit 74922c787a4efae9b8db9b497b680f073050c217, head as of now)

* Operating System and its version
Linux 4.14.0-3-amd64
Debian/testing

[2018-02-01 10:02] gahr commented on #1045
This is going to be fixed by 97fe396.

[2018-02-01 11:23] uinput commented on #872
Wouldn't something like this suffice?
[code]

[2018-02-01 12:08] #1043 closed

[2018-02-01 12:12] #1045 closed

[2018-02-01 18:19] carldavis opened #1046 "Unexpected behavior when whitespace exists in maildir name"
I am unable to reference a maildir ("Deleted Items") in a macro if I have a whitespace in the maildir name. I have tried escaping the whitespace, enclosing the macro in single quotes, enclosing the macro in single quotes with the path in double quotes, etc., with all attempt having different but non-functional results.

## steps to reproduce
Create a macro referencing a maildir with whitespace
```

[2018-02-01 19:05] flatcap commented on #1046
Thanks for the bug report @carldavis.

I tried every combination of quoting and escaping...

[code]

Which lead to a variety of strangely-named files...

[code]

[2018-02-02 21:18] uinput opened #1047 "attachment: use external viewer for text/plain"
Hello,

I would like to be able to open `text/plain` files with vim in the attachment viewer. I thought this line in my `mailcap` should do, but it does not work as expected.
[code]

It seems like there were a few changes going on discussed in #449 and #555. I also read through the documentation but could not find any definite statement on whether this works or not. So, do you have any advice for

[2018-02-03 14:01] flatcap commented on #1047
I'm not sure of the best solution to this, but I got _something_ working.

**neomuttrc** -- Force the mailcap to be used for 'text/plain'
[code]

**mailcap** -- Spawn a new window (sleep, so we have time to open the file before it's deleted)
[code]

[2018-02-03 15:37] uinput commented on #1047
Thank you for your answer! This works so far, but it would also open `text/plain` files when opening the mail in the page view. It's quite convenient to have the mail open in page view, but in some cases it's desirable to open it in vim for further processing. I guess this specific functionality is not supported then?

[2018-02-03 17:10] bazzinotti commented on #1047
if you remove the copious... flag, then you might get what you want.

On Feb 3, 2018 10:37 AM, "uinput" <notifications@github.com> wrote:

Thank you for your answer! This works so far, but it would also open
text/plain files when opening the mail in the page view. It's quite
convenient to have the mail open in page view, but in some cases it's
desirable to open it in vim for further processing. I

[2018-02-03 19:32] uinput commented on #1047
When I remove the `copiousoutput` flag, then the mail will not open in vim if opened from the attachment view.

[2018-02-03 21:08] bazzinotti commented on #1047
On 03/02/18 11:32 -0800, uinput wrote:

OK, so keep the copiousoutput flag on that one, but make another entry in your
mailcap for the same MIME type without the copiousoutput flag and that
should affect the pager.

[2018-02-03 22:42] larsks commented on #257
Hey @flatcap, any idea what happened to this commit?  `crypt-gpgme.c` in `master` still has `gpgme_set_sender` instead of `mutt_gpgme_set_sender`, and it doesn't look like any branches contain this commit.

[2018-02-03 22:43] larsks commented on #257
With `gpgme` 1.8.0, `neomutt` compiles successfully if I cherry-pick this commit.

[2018-02-03 23:45] flatcap commented on #257
Hi @larsks, I'm confused...

The commit I mention: 7d69f2a renamed a function in three places:
- `crypt-gpgme.c`
- `crypt-gpgme.h`
- `crypt-mod-pgp-gpgme.c`

Those files have been moved in neomutt, to
https://github.com/neomutt/neomutt/blob/1e5ff6580a4acb09889b4dcbba1223da40aee7b6/ncrypt/crypt_gpgme.c#L5139
https://github.com/neomutt/neomutt/blob/1e5ff6580a4acb09889b4dcbba1223da40aee7b6/ncrypt/cry

[2018-02-03 23:46] larsks commented on #257
Oh, you know what, my local repository apparently has a bad tracking branch and didn't actually update when I ran a `git update`. Neeeeeeeever mind.

[2018-02-04 00:14] uinput commented on #1047
Thank you for helping me, really appreciating it.
I tried two setups following your advice. The first will always open the mail in vim, the second will always use `cat` for the output. I also tried a different order, without success.
[code]
[code]

[2018-02-04 00:53] bazzinotti commented on #1047
On 03/02/18 16:14 -0800, uinput wrote:

The feeling is mutual! :)

I think I may have solved it for you! The normal behavior for the
<enter> and <return> key is to only use the mailcap 'if necessary'.
There is a function / keyboard shortcut to force use of the mailcap
entry when opening attachments. It is 'm' which stands for
<view-mailcap>.

Be sure to use the '?' key on all of the particular men

[2018-02-04 00:57] bazzinotti commented on #1047
I'm having doubts if that will solve it for you. I'm looking forward to your response.

[2018-02-04 11:27] uinput commented on #1047
You are my hero, thank you!

This is indeed true. Will do so in the future.

For anyone seeking to get the same behavior, this is the working setup. We set a command for `text/plain` in the mailcap, while binding our keys to `view-mailcap` in the attachment viewer. This will force neomutt using the mailcap file for each mime type, as explained above.
[code]
[code]

[2018-02-04 15:49] #1047 closed

[2018-02-06 20:11] chrboe opened #1048 "Page Up/Down keys suddenly(?) not working"
Page Up/Down seems to have randomly stopped working a while ago ("Key is not bound"). I don't know if I messed something up in my configuration, I'll do my best to list all the seemingly relevant settings below.

## Used program versions
* st (simple terminal) 0.7
* zsh 5.3.1
* NeoMutt 20171027

## Operating System and its version
Gentoo Linux, 4.14.5 Kernel

## Config excerpts
My `.muttrc` contai

[2018-02-06 23:07] flatcap commented on #1048
Thanks for the detailed bug report.
I see the same output in `cat` as you.

I've just tried some different terminals: gnome-terminal, konsole, xterm, eterm, linux vt
and some different shells bash, ksh, tcsh, zsh
but I always get the same result for `what-key`:
[code]

What changed recently?
Have you tried other terminals / shells?
Do you get the same behaviour?

[2018-02-06 23:14] chrboe commented on #1048
Thanks for the swift reply!

I just tried in xterm and it does seem to work there... Curiously, if set `TERM` to a fake value (`TERM=xterm neomutt`) it actually works in st as well, so I'm guessing there's something wrong with either sts terminfo entry or neomutts `$TERM` parsing.

(By the way, `$TERM` for st is `st-256color`)

[2018-02-06 23:20] chrboe commented on #1048
I just thought of this as well: my `/etc/inputrc` contains the following (I think a lot of applications broke before doing this change):
[code]
Unfortunately I'm not exactly sure what I have changed in this file, the only thing I know for sure is that I added the last line (to fix the broken `End` key behaviour in zsh). I think the rest is actually the default, and I seem to recall neomutt working

[2018-02-06 23:35] flatcap commented on #1048
I don't _think_ the inputrc will affect neomutt.  We don't use readline.

Decoding my terminfo using `infocmp` I see:
`knp=\E[6~` and `kpp=\E[5~`  Keypad next and prior (a.k.a. page down, up)
I suspect your bindings are different.

[2018-02-06 23:39] chrboe commented on #1048
Nope, I get the exact same `knp=\E[6~, kpp=\E[5~`.

[2018-02-06 23:42] chrboe commented on #1048
I just noticed I compiled neomutt using slang instead of (the default?) ncurses. Could that make a difference?

[2018-02-06 23:49] flatcap commented on #1048
Theoretically, there shouldn't be any differences.
Realistically, there are some subtle differences.

That's quite probably the cause.

[2018-02-06 23:54] chrboe commented on #1048
I just recompiled with ncurses and the issue seems to be fixed, but I also remembered why I switched to slang in the first place. I'm getting some weird visual artifacts like [these](https://imgur.com/a/4ltBY), and somebody suggested to use slang instead of ncurses to circumvent the problem. Any other known workarounds for that?

[2018-02-07 00:05] eamanu opened #1049 "Can not be installed in debian using apt install"
Hello!

I want to install neomutt in debian,  but seems like it unable to locate the package.

I run: `sudo apt-get install neomutt`

But, I have this output:
[code]
My OS is:
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.3 (stretch)
Release:	9.3
Codename:	stretch

There are some problems with the package on debian?

Regards!

[2018-02-07 00:10] flatcap commented on #1048
Those black regions after the "To" and "Subject"?
I haven't seen that.  Is the problem repeatable, or intermittant?

[2018-02-07 00:16] chrboe commented on #1048
Yes, it's very repeatable, it happens every time. This is what it's supposed to look like (i.e. what it looks like using slang): https://imgur.com/a/YPlIV
When I scroll around for a bit the black areas disappear completely.

[Here](https://pastebin.com/9tLfws25)'s a pastebin of all my color related configuration.

[2018-02-07 00:37] flatcap commented on #1048
I've just racked up my monitor's contrast to max, but I don't see it (using your config).
Do you see the same effect in a different terminal?
What's your `$index_format` (I don't think that'll be the cause)

[2018-02-07 00:42] chrboe commented on #1048
I just tried with xterm(-256color) and the issue appears as well. I should note that the black color is actually the terminals background, it showed up as white in xterm.

[code]

Though `index_format` really shouldn't be the cause, since the effect occurs in the sidebar as well.

[2018-02-07 00:55] flatcap commented on #1048
I've tried with three terminals, but no joy.
I've even looked at the lkml just in case there was something magic going on.

If you really want to find the cause, then I suggest saving a large chunk of lkml to a maildir,
then running neomutt with just your colour config -- try to narrow down what's triggering the problem on your machine, but not mine.

[2018-02-07 01:00] chrboe commented on #1048
Sounds like a good idea, I'll do that.

I should clarify that this isn't lkml-specific, I just didn't want to show off any private emails in the screenshot. This happens with every mailbox.

[2018-02-07 01:24] chrboe commented on #1048
Well here's something new... I've narrowed my testing environment down to a single mailbox and this **exact** config:
[code]

Alas, it showed the same behaviour. Though I noticed that [the artifact only actually appears on read mail](https://imgur.com/a/bU0NT). In fact, changing the regular mail color from `color251` to `brightcolor251` fixes the problem, so I guess has something to do with bold r

[2018-02-07 01:35] chrboe commented on #1048
Hah, I think I'm on to something now. The `color normal` statement (i.e. the pager color) seems to somehow clash with the `color index ... "~A"`. If these two are the same color, the bug occurs. Setting the pager color to `color250` and leaving the index color at `color251` "fixes" the problem. However, the black region underneath the sidebar still remains.

[2018-02-07 03:00] riesebie commented on #1049
You'll find neomutt in buster/sid only.

[2018-02-07 03:18] riesebie commented on #1049
Another option would be to build the package yourself: [Selfmade DebianPackage](https://github.com/neomutt/neomutt/tree/distro/debian/debian)

[2018-02-07 04:33] XVilka commented on #5
Note, that starting from 6.1 version ncurses supports direct RGB color. So adoption now is nearly 100%.

[2018-02-07 12:45] flatcap commented on #5
Holy ****!
This comes just after I figure our how to cheat, to make RGB and attributes a possibility.
Now, the only obstable is (neo)mutt itself.

Thanks for the heads up, @XVilka.

[2018-02-07 14:42] eamanu commented on #1049
Hello,

When I run `dpkg-buildpackage -us -uc` I have this output
[code]

Then I do: `apt install clang-5.0 dh-lua libgnutls28-dev libgpgme-dev libidn11-dev libkrb5-dev libncurses5-dev libncursesw5-dev libnotmuch-dev libqdbm-dev libsasl2-dev w3m`

But now I have this:
[code]

[2018-02-07 15:00] riesebie commented on #1049
Hmm, according to [packages.debian.org](https://packages.debian.org/search?keywords=libgpgme-dev)
libgpgme-dev should be available as version `1.8.0-3+b2 `in stretch. Did you run `apt update` before?

[2018-02-08 00:42] eamanu commented on #1049
Now I have problem with clang-5.0. On debian is the 3.* version.

[2018-02-08 11:58] #642 closed

[2018-02-09 01:02] antoyo opened #1051 "Cannot encrypt to self"
Hi.
When I follow the instructions [here](https://www.neomutt.org/feature/encrypt-to-self) to encrypt to myself, I get the following warning at startup:
[code]
I use this version:
[code]
What am I doing wrong?
Thank you.

[2018-02-09 01:50] flatcap commented on #1051
Ah, sorry about that -- it still works, but the docs are (sort of) wrong.

Upstream made some changes that we've adopted.
They haven't been released yet, but the docs have been updated.
The docs *will* be right, soon.

The docs that come installed with NeoMutt should be correct.
For now, you need:

| Config | Type | Default |
| :--- | :--- | :--- |
| pgp_self_encrypt | boolean | no |
| pgp_self_en

[2018-02-09 03:32] antoyo commented on #1051
Thanks.

[2018-02-09 03:32] #1051 closed

[2018-02-09 10:25] riesebie commented on #1049
To use clang from stable please edit debian/rules. Change
`export CC=/usr/bin/clang-5.0` to `export CC=/usr/bin/clang-3.9`
`export CXX=/usr/bin/clang++-5.0` to  `export CXX=/usr/bin/clang++-3.9`

and in debian/control changeclang-5
`clang-5.0` to `clang-3.9`

To use default gcc remove the export lines from rules and the clang dependency from control ad you're done.

[2018-02-10 08:20] frnsys opened #1053 "<edit-label> causes email to be deleted"
## bug reports

* Expected behavior
    - Use `Y` to trigger `<edit-label>` on an email
    - Add a label to the email
    - Hit `$` to `<sync-mailbox>`
    - Email remains unchanged except for the new label

* Actual behavior
    - Use `Y` to trigger `<edit-label>` on an email
    - Add a label to the email
    - Hit `$` to `<sync-mailbox>`
    - Email is deleted

* Steps to reproduce
    - Use `

[2018-02-10 12:29] flatcap commented on #1053
Hmm... that **is** strange.

Is your email local (maildir), or remote (IMAP)?
When you `<sync-mailbox>` does the email:
- become marked 'D' deleted
- disappear from the index, but email still exists
- disappear from the index and actually get deleted from disk

In the <kbd>?</kbd> help, can you check the bindings:
- Y edit-label
- $ sync-mailbox

Please can you paste the output of `neomutt -v`

[2018-02-10 14:42] frnsys commented on #1053
Thanks for your quick response -- I feel like it might be something on my end but I can't figure out what.

The mailbox is local (synced with `offlineimap`). I do see now that the email is deleted after this message shows up: `Mailbox was externally modified.  Flags may be wrong.`. The only things that I can think of are that maybe `offlineimap` or `notmuch` are interfering?

I don't see a `D` fla

[2018-02-10 15:11] flatcap commented on #1053
Ah, I might have a clue about what's going on.

You're using: <kbd>Y</kbd> `<edit-label>` which edits the `X-Label:` header of an email.
(I've just checked) This means you end up with a new email file (new name, new inode).

I suspect this is confusing offlineimap, resulting in the email being deleted.

If you're using notmuch, you'd be better off using notmuch labels `<modify-labels>`.
They're st

[2018-02-10 16:07] frnsys commented on #1053
Thanks, I'm trying this out now. It looks as though I can only edit notmuch labels while in a virtual folder (otherwise I get `Folder doesn't support tagging, aborting.`), is it possible to do it from a regular one?

[2018-02-10 18:25] flatcap commented on #1053
Unfortunately, not.  It's on the wish list.

[2018-02-10 18:41] frnsys commented on #1053
Ok no problem, I see #742 is open for this. I'll close this one -- thanks!

[2018-02-10 18:41] #1053 closed

[2018-02-10 18:57] MaskRay commented on #5
Want to see the feature

[2018-02-11 14:32] josephbisch opened #1054 "oob read in mutt_str_lws_len"
I built neomutt 4107117a5543712892e25380f6e8856c8ccd5e9f on Arch Linux. It only appears to affect neomutt, not mutt.

ASan output:
[code]

Reproducer file (need to unzip it to get actual file):
[testcase.mbox.zip](https://github.com/neomutt/neomutt/files/1714443/testcase.mbox.zip)

Reproducer (compile neomutt with ASan or use other method of detecting the oob read):
[code]

[2018-02-11 22:13] frnsys commented on #1053
For anyone who needs it, I managed to get this working well with notmuch's tagging system. My [muttrc with the setup is here](https://github.com/frnsys/dippindots/blob/fa19ba6b905a3da18b3f064e82462096e3a8d580/dots/email/muttrc#L9)

[2018-02-12 13:15] #1054 closed

[2018-02-12 13:18] gahr commented on #961
This was a nice experiment but tests seem to indicate that it won't bring a great performance boost. Closing for now. If I get back to it, it'll be easier to start anew than to maintain my branch in sync.

[2018-02-12 13:18] #961 closed

[2018-02-12 13:43] gahr commented on #869
@Vaelatern are you guys working around this somehow? Is this still badly needed? What do you suggest?

[2018-02-12 17:02] Vaelatern commented on #869
We are not cross building neomutt, but instead have the note:
[code]

We do have a workaround in a sort for the various libraries, but it was inadequate to successfully cross build.
[code]

[2018-02-13 13:04] varac commented on #404
I'm appreciate this feature too!

[2018-02-13 13:17] gahr opened #1057 "Simplify HAVE_RESIZETERM logic"
From a discussion on IRC with @flatcap , it looks like:

1. ncurses always has a `resizeterm` function, so `HAVE_RESIZETERM` is always defined for ncurses.
    * the code relies on this, as `resizeterm` is called unchecked.
2. slang never defines `HAVE_RESIZETERM`, as of f05f10cb.
3. most checks in the code are `#if defined(USE_SLANG_CURSES) || defined(HAVE_RESIZETERM)`, which would resolve to alw

[2018-02-13 14:12] #1057 closed

[2018-02-15 03:30] hsanson opened #1060 "SIGSEV crash when opening some emails"
## bug reports

* Expected behavior
Should open all emails.
* Actual behavior
SIGSEGV when opening some emails.
* Steps to reproduce
Happens only on some emails
* Used program versions
Master branch compiled from source (commit 4f3fe0192b1672b81967839ae5f148d0400ea39a)
* Operating System and its version
Ubuntu 16:04LTS updated with all packages as of 2018/02/15

Stacktrace after the crash as seen

[2018-02-15 11:14] hsanson commented on #1060
I found out that this problem happens on my work machine with latest neomutt master. It does not happen with my home machine were I have commit 74922c787a4efae9b8db9b497b680f073050c217.

[2018-02-15 12:02] hsanson commented on #1060
@gahr the devel/issue-1060 fixes the crash.

The second issue about mailboxes list still persists. Shall I open a different issue for that?

[2018-02-15 12:09] gahr commented on #1060
yes please

[2018-02-15 12:10] #1060 closed

[2018-02-15 13:39] flatcap commented on #1060
@hsanson I've found the problem in the browser.
(`$mask` wasn't being initialised correctly -- so you were only seeing dot-files).

Please can you test branch [devel/not-regex] to check the behaviour is fixed.

Thanks.

[2018-02-15 19:43] afwlehmann opened #1063 "Key selection cannot be aborted"
* Expected behavior
When sending a PGP encrypted mail and the receipient's key cannot be determined, it should be possible to cancel the manual key selection process, e.g. in order to postpone the email.

* Actual behavior
The manual key selection cannot be aborted. Instead, one can only exit neomutt.

* Steps to reproduce
Compose mail, select PGP encryption and choose a receipient for which there

[2018-02-15 19:52] flatcap commented on #1063
Hmm...  there are a few places in (Neo)Mutt where you can use <kbd>Ctrl-G</kbd> to abort / escape from a menu.

[2018-02-15 19:58] afwlehmann commented on #1063
@flatcap Thanks a lot. Unfortunately that doesn't work either.

[2018-02-16 00:43] hsanson commented on #1060
@flatcap it works ok now. Thanks.
I tested master since the branch is already merged.

[2018-02-16 12:09] flatcap commented on #1063
I've just run 2017-12-15 and I don't get the same problem.

First, I cleared out my GPG key store, then I tested:
- GPGME enabled
- GPGME disabled
- gpg 1.4
- gpg 2.2

Each time, when I try to send an encrypted email to an unknown recipient, I get a prompt:
[code]
If I hit <kbd>Ctrl-G</kbd>, I get the error:
[code]
But now I'm back at the compose menu.

What are you seeing?

[2018-02-16 14:10] kashyapc commented on #931
Even with Git / master (I'm here, to be more precise):

    $> git describe
    neomutt-20171215-163-g2f727544

I see the issue mentioned here: https://github.com/neomutt/neomutt/issues/931#issuecomment-355507610

[2018-02-16 14:40] bazzinotti commented on #1028
Based on today's IRC discussion,

__Summary of Final Changes (TODO)__

Since the new mutt_realpath() is providing symlink resolution as an option, it is not 1:1 realpath() impl. The function will thus be renamed to tidy_path.

In devel/realpath branch
* Move muttlib.c:mutt_realpath() to mutt/file.c:tidy_path(), removing IMAP/NOTMUCH conditional code.

* Adjust the test cases and browser.c for this

[2018-02-16 14:58] cache-return commented on #1011
I have this problem with no folder hooks and "postponed = ~/.mutt/oflineimap/account/INBOX/Drafts" and/or with folder set and "postponed = +INBOX/Drafts".
Hitting "P" creates a file with a name like ''$'\360\364\247\224''CV' in my ~ directory, and recall has no effect.

Unknown if related, but "P" doesn't work at all in the compose screen unless I scroll down to the second or subsequent email atta

[2018-02-16 17:50] afwlehmann commented on #1063
@flatcap Ah, now I see. From what I understood at first I tried <kbd>Ctrl</kbd>+<kbd>G</kbd> during key selection, not at the initial prompt (`Enter keyId for ...`). Doing the latter (as described in your example) works perfectly and solves the problem once and for all. For me it was counterintuitive plus <kbd>?</kbd> or <kbd>F1</kbd> won't work at that point. Now that I know, however, it's simple

[2018-02-16 18:13] flatcap commented on #1063
No problem.

There are a couple of things NeoMutt could do:
- An on-screen note: "Ctrl-G to abort"
- Simply quitting the entry on <kbd>enter</kbd>

It's on the todo list, now.

[2018-02-16 18:13] #1063 closed

[2018-02-16 18:42] Hasimir commented on #404
@lilBletchley I'd need to double check the list archives to be sure, but I believe this issue is raised periodically and IIRC the problem with doing what is suggested in that feature request is the high potential of creating a recursive loop of key lookups.

The issue is that group lines are set by associating a string with a number of keys identified by key ID or fingerprint.  Both of which are v

[2018-02-18 23:04] protist commented on #990
I've been bitten by this again, when people send me things like `screenshot.png` or `attachment.jpg`. Is there a workaround of some kind?

I tried something like

    macro attach <Return> "<save-entry><kill-line>/tmp/mutt/<Enter>y<Enter>; /usr/bin/xdg-open …"

However, sometimes there is a question to overwrite after the final `<Enter>`, and I also don't know what to use as an argument to `/usr/b

[2018-02-19 12:38] #1005 closed

[2018-02-19 12:38] gahr commented on #1005
`--with-bdb-version` is now available.

[2018-02-19 13:20] gahr commented on #802
#1059 will do this and much more.

[2018-02-19 13:20] #802 closed

[2018-02-21 13:14] theojepsen opened #1067 "Bug detecting mail addressed to me with alternates"
### Expected behavior
`alternates` should be used for determining `to_chars` and showing mail addressed to me in the index.

### Actual behavior
`alternates` is not being used, so mutt doesn't know who I am. This results in the index not showing mail addressed to me (`T`, `+`). Also, when I reply-to-all, it replies to my e-mail address, even though it should be omitted.

If I set `from`, then it d

[2018-02-21 15:41] flatcap commented on #414
This branch has been archived to: https://github.com/neomutt/neomutt-old/tree/testing/testing

[2018-02-21 15:41] #414 closed

[2018-02-21 20:52] mvdan commented on #931
@flatcap was that comment directed at us, asking us to build and test that branch to see if it fixes the issue?

[2018-02-21 21:21] flatcap commented on #931
@kashyapc @mvdan
Earlier today I reverted the `folder-hook` change that was causing some problems.
Please can you try `master` again and let me know if you still have problems.
Thanks.

[2018-02-22 06:28] theojepsen commented on #1067
On master commit 9666da1f13e8bf4bb32f7a0190bf63706a28dda5 I commented out the following lines on in `mutt/regex.c`:
[code]
After that, the index displays `T` and `+` for mail addressed to me (alternates).

[2018-02-22 12:13] #1067 closed

[2018-02-22 20:32] ElDeveloper commented on #1038
Following up on this issue, this may have something to do with a timed out connection (see logging info below). In this case it seems like the index still had a list of my e-mails but when I tried to open one email neomutt would find an empty file and show me nothing on screen or simply appear as if I hadn't tried to open the email.

[code]

[2018-02-23 09:42] ibutra commented on #518
Does there at least exist a workaround for this?

[2018-02-23 10:58] mrunge commented on #991
This issue still happens with  the fedora version taken from copr. 5:20180223-1.fc27

The message failing for me is a base64 encoded and gpg signed message. I can see in debug:
[code]
That seems to be returned by this code: https://github.com/neomutt/neomutt/blob/master/handler.c#L1757

[2018-02-23 22:52] scottkosty commented on #1022
Was this disabled in the 2018-02-23 release? No worries if not, I'm just wondering.

[2018-02-23 22:58] flatcap commented on #1022
Yes, I `#ifdef`d out the two calls in 9b1f8000 (for NeoMutt 2018-02-23).
If someone needs them, they can `#define RECORD_FOLDER_HOOK 1`

I have some code, in the wings, that'll improve the account handling.
When that's merged, this whole problem will disappear.

[2018-02-24 03:08] scottkosty commented on #1022
Great, thanks @flatcap !

[2018-02-24 08:17] YanhaoMo opened #1070 "Incorrectly ask for gpg passphrase while sending an email via an smtp account which is different from imap one."
## bug reports

* Expected behavior
don't ask for gpg passphrase, because acctually I don't setup a passphrase on my key.
* Actual behavior
It does asked for passphrase while I using an smtp account which is different from the imap for sending
* Steps to reproduce
It's hard to say clearly. The situation is, I using offlineimap for getting email from gmail, qq and outlook imap server. And using msm

[2018-02-24 11:28] riesebie opened #1071 "configure --runstatedir=/run"
Debians debhelper compat level 11, dh_auto_configure passes --runstatedir=/run to ./configure. This is not recognised by autosetup. Is there any chance to adapt this? More infos [here](https://lwn.net/Articles/436012/)

[2018-02-24 19:39] fekir opened #1072 "mutt_error, mutt_message and mutt_perror are NULL"
## bug reports

* Expected behavior: If the config file contains a line with an error, report an error message
* Actual behavior: crash (on cygwin)
* Steps to reproduce: create a neomuttrc with an invalid line and start neomutt
* Used program versions: reproducible with 20180223 and 20171215
* Operating System and its version: Windows 10

It seems to be a cygwin specific issue, since on debian the

[2018-02-24 19:44] fekir commented on #1072
Following sample
[code]
indicates that gcc seems to work correctly, since the program did not crash and print hello world.

neomutt uses a similar routine (pointers to static functions), for registering three functions for displaying error messages (see `mutt/message.h` and `mutt/message.c`)

Used version of gcc:  6.4.0

[2018-02-24 20:08] fekir commented on #1072
Following lines seems to hint that `mutt/messages.c` is correctly compiled and linked to neomutt:

[code]
As far as I saw, there where no errors, warnings or additional informations during these steps.

No strip is taking place after compiling.

The output of `nm libmutt.a | grep error` is
[code]

to provide a comparison, this is the output I get on debian (no stripping too)

[code]

Since all val

[2018-02-24 20:51] fekir opened #1073 "Use Portable directory names"
## feature requests

* Why do you not like the current state?
The directories used by `header_cache` and `message_cachedir` are not "portable"
For example, given following configuration:
[code]
Following folder is created: `~/.cache/neomutt/message/imaps:foo.bar@imap.gmail.com:993`

* What would you like to see to change?
Use by default "portable" names.

The biggest issue is that `:` is not part

[2018-02-24 23:42] flatcap commented on #1072
We haven't changed how we build the library in ages.
When did it last work?

Hmm... I've found one difference in the code.
Those three variables (function pointers) are missing `extern`.
Try:
[code]

[2018-02-24 23:56] flatcap commented on #1073
That sounds like a great idea.

Fixing a single place, like the header cache, will be easy enough.
Making a general solution will be much harder -- there are over 80 calls to `fopen(3)`.

[2018-02-25 07:07] fekir commented on #1072
As always, great hints.
Adding extern fixed the issue, neomutt did not crash.

AFAIK it never worked on cygwin, unfortunately I did not make any typo in my config when I built it last time.

Will you update the code or should I make a PR?
And would it make sense to make a new (micro-)release to order to fix this bug in cygwin?

Interesting though, that this issue seems to be only present on cygwin

[2018-02-25 12:44] flatcap commented on #1072
@gahr and I did find some slight differences at link time, but we thought we'd got them all.

I've pushed the fix to master.

For one commit for one platform...?  I'd rather not, but...
How is the Cygwin build specified?
- Tag? - I could create a neomutt-20180223-cygwin tag
- Commit Hash? - Use fc690bff
- Branch? - I could create a temporary distro/cygwin branch

[2018-02-25 17:14] freshprince commented on #1011
This seems to be fixed in neomutt-20180223.  Thank you!

[2018-02-25 17:14] #1011 closed

[2018-02-25 17:41] fekir commented on #1072
The cygwin build file takes a link to a source zipped file, so it would be great if there would be an official download link.
It is surely possible to patch the "old" release with this new commit, or maybe also use tags or commit hashes, I do not know how (yet), I'll try to see in the guidelines if I can find something.

I know that cygwin is a minor platform, I'm probably still the only user :-),

[2018-02-25 17:48] fekir commented on #1073
Probably a general solution will not be possible, since the user could always use non-portable characters when setting directories.
I think the default settings are the most important, so fixing for example header cache would be enough for "fixing" this feature request.
There will still be use-cases that are not really fixable, if for example the user home directory contains special characters, so

[2018-02-25 18:20] flatcap commented on #1072
GitHub automatically generates a `.tar` and a `.zip` for all tags.
- https://github.com/neomutt/neomutt/releases/tag/neomutt-20180223
- https://github.com/neomutt/neomutt/archive/neomutt-20180223.zip

Plus I, sign the releases and post the .sig files
- https://github.com/neomutt/neomutt/releases/download/neomutt-20180223/neomutt-20180223.zip.sig
- More details: https://www.neomutt.org/dev/signing

[2018-02-25 19:00] fekir commented on #1072
Great, did not know it, I thought it was a separate process.

[2018-02-25 19:00] #1072 closed

[2018-02-26 00:56] ernix opened #1074 "index_format: right justification does not work correctly"
This might be related to https://github.com/neomutt/neomutt/issues/113

## bug reports

* Expected behavior
[code]

* Actual behavior
[code]

* Steps to reproduce
[code]

Send email with `Subject: hello` to yourself.

* Used program versions
[code]

Thanks!

* Operating System and its version
[code]

[2018-02-26 11:37] evelikov opened #1075 "Question: Mutt and NeoMutt"
Hi all,

AFAICT NeoMutt originally started as a way to consolidate all the outstanding [non-upstream] Mutt patches. Sort of how wine-staging it is to wine - see [1].

Yet it seems like these days NeoMutt is a proper fork, which rarely (?) pulls from upstream Mutt.
I looked around for some information behind the fork - be that technical, infra, political, other reasons. Can anyone share a link?

Se

[2018-02-26 11:50] gahr commented on #1071
@msteveb would you be willing to add `runstatedir` to `system`'s module-options?

[2018-02-26 13:18] flatcap commented on #1075
Hi @evelikov,

Thanks for your questions.

Starting at the end...

A change of leadership for Mutt.

NeoMutt started after my attempts to contribute to Mutt failed.

I liked the idea of Mutt being the "Vim" of the email world, but the code is an awful mess.
Twenty years of neglect -- a lack of design and poor coding practices.

I decided that I could make a difference to Mutt -- I like a challenge

[2018-02-26 14:50] evelikov commented on #1075
Thanks for the elaborate answer.

Some specific answers follow:

Right, the different layout got me confused there.

I've read through this page over two dozen times - it's beating around the bush, a lot.

Now we're talking...

Sure, consistent style is great, but it tends to be biggest bikeshedding topic out there.
I think, I've seen a few cases where NeoMutt changes the existing coding style wit

[2018-02-26 15:05] gahr commented on #1074
Are you perhaps looking for this instead?

`"%Z %[%b/%d %H:%M] %-15.15L %?y?[%4.4y]&(%4c)? %s %>-%?M?[#%03M]?"`

I don't think you can have right-justification inside a conditional.

[2018-02-26 16:16] flatcap commented on #1075
Wow!  You like a challenge!

Mutt's code has a very loose style: two space indent, {}s on new lines, but it's very poorly followed.

We actually held off from formatting our source for a long time.
When we did, we chose clang-format settings to most closely match the majority of the Mutt code.
Our developers would have preferred different settings.

Source files have been clang-formatted
Headers h

[2018-02-26 18:45] evelikov commented on #1075
Thanks for the input. small suggestion though:

I can see that this is rather sore topic, but please try to keep if brief and on point.
Quite often such huge volume is off-putting, regardless how accurate they are.

[2018-02-26 22:09] msteveb commented on #1071
Sure. Done.

[2018-02-27 00:23] ernix commented on #1074
@gahr
Thank you for your reply.

I'm sure that both of original mutt and previous version of neomutt can describe right-justification inside a conditional.  As @flatcap mentioned in https://github.com/neomutt/neomutt/issues/113#issuecomment-312594428, neomutt needs brackets to be escaped though.

You can see what I expects using original mutt.

[code]

* Folding threads:
[code]

* When I unfold th

[2018-02-27 01:53] flatcap commented on #1074
hi @ernix,

Yes, you're right, something's wrong.
The new format works as you want:
[code]
but the old format doesn't
[code]

Internally, it's escaping the `>` in the `%>-` sequence.
This bug was introduced in 39a488d (#1001).

@cyphar Would you mind taking a look.  Thanks.

[2018-02-27 02:45] teto opened #1076 "Keep checking for notmuch db"
My notmuch config is not in the default spot; I usually start mail programs having to explicit the path.

## bug reports

* Expected behavior: I ran `neomutt` and expected it to fail because it could not find my notmuch config and exit
* Actual behavior: neomutt fails to findt the notmuch config as expected but keeps checking every second for the notmuch database. C-c doesn't kill it. Only C-z put

[2018-02-27 10:58] riesebie commented on #1071
@msteveb Thank you very much!
But where do I find your contribution?

[2018-02-27 10:59] msteveb commented on #1071
Over here: https://github.com/msteveb/autosetup/commit/f111a9f34b8793b66090f5cc7426b370caa3d8e5

You just need to update your autosetup to this latest version

[2018-02-27 11:24] gahr commented on #1071
Thanks @msteveb !

[2018-02-27 12:25] #1071 closed

[2018-02-27 15:34] flatcap commented on #1075
Thanks for playing.  Bye!

[2018-02-27 15:34] #1075 closed

[2018-02-27 19:38] wrycode opened #1081 "Entire UI locks up while downloading IMAP messages"
I'm putting this as a feature request, although it's listed as a bug here:
https://dev.mutt.org/trac/ticket/663
on mutt's old bug tracker. I'm aware that neomutt's current code organization might not allow for this to be fully fixed, based on some refactoring talk I saw on other issues.

## Why do you not like the current state?
When reading IMAP emails, if I open an email with a large attachment

[2018-02-28 06:56] gahr commented on #1081
There was an attempt to do this in #786. Do you mind if I close this as duplicated?

[2018-02-28 11:12] riesebie opened #1082 "gpg decrypting takes ages"
It seems that neomutt doesn't read the sourced `neomuttrc.gpg`  Decrypting takes the default from gpgme? Anyway the decrypting process starts and never ends... Have to kill -9

[2018-02-28 18:47] riesebie commented on #1082
Have had a ~/.gnupg/trustdb.gpg.lock which blocked verification. Deleted and all went fine.

[2018-02-28 18:47] #1082 closed

[2018-02-28 23:02] wrycode commented on #1081
Yes, sounds good. I didn't see that issue when I looked through earlier.

[2018-03-01 08:56] #1081 closed

[2018-03-01 11:39] evelikov commented on #1075
Playing? It's a bit sad if you truly see it as such.

@flatcap you're quite ambitious and perhaps tad too eager to fix Mutt. To the point that you did not see that topics like coding style are too political and not something focus on. Esp. if you're not a well established contributor or have handful of other successful projects under your belt.

Sure Mutt devs/dev. process might need an improvemen

[2018-03-01 15:02] d-k-c commented on #1075
You may think that coding style is somehow a political topic, but for many of us picking a coding style and be consistent about it is a way to remove distractions and make the codebase more welcoming to newcomers, a way to say "hey look, we care enough about code quality to fix that little thingie".

I share flatcap's opinion for a leadership change. My reasons are pretty much the same as his, as

[2018-03-01 18:00] evelikov commented on #1075
As one gets a few years of experience with a project, let alone maintaining it they starts to see things most clearly.

The newcomers that take feedback seriously produce better quality code and stick around. Many that push for ground breaking or questionable changes quickly run out of steam and disappear... Even if their work gets merged with no questions asked.

Project leader/maintainer should

[2018-03-03 08:45] chschneide commented on #765
The problem has gotten a lot worse in more recent releases, as the URI for a notmuch query became a lot longer, when extra strings were added.  After some digging, I believe to have found the (or at least one) point in the code, where the notmuch URI is truncated:

mutt_notmuch.c -> nm_normalize_uri():
strncpy(new_uri, buf, new_uri_sz) is called with new_uri_sz == 256.

The only time nm_normalize_

[2018-03-04 17:42] aradici opened #1088 "test/rfc2047.c doesn't check setlocale return value and requires extra dep"
the test incorrectly assumes that the setlocale() call succeeds, but if it fals the test will fail when decode is called.

[2018-03-04 18:15] aradici commented on #1088
Also, probably a better patch is to use the locale provided by libc-bin, which does not require any extra dependency.

[2018-03-04 18:25] aradici commented on #1088
Patch available here: https://salsa.debian.org/mutt-team/neomutt/blob/master/debian/patches/neomutt-devel/0006-default-setlocale-to-C.patch

[2018-03-05 04:35] cyphar commented on #1074
Alright, so the solution isn't *that* bad, but the problem is that we'd need to handle all expandos in the string (effectively we need to have a way to skip expandos so that we don't look at the them in the loop that does the conversion). The trivial (incorrect) solution would be to just handle `%>X`, because there are other formats like `%{...}` or even fun ones like `%|>` that we need to handle

[2018-03-05 11:46] gahr commented on #1088
`C.UTF-8` does not exist on BSDs. How about trying `en_US.UTF-8` first and `C.UTF-8` as a fallback?

[2018-03-05 12:03] flatcap commented on #1074
@cyphar

Yeah, _nearly_ perfect :-)

I put in a nasty one-liner fix (to test things) -- `if (p[-1] == '%')`
Clearly that might under-run, but the solution's (hopefully) fairly simple.

[2018-03-05 12:47] #1076 closed

[2018-03-05 12:49] flatcap commented on #1088
Fixed by fee6fb6f

[2018-03-05 12:49] #1088 closed

[2018-03-06 13:22] hadmut opened #1090 "command line option for enforced encryption"
Hi,

I wanted to use mutt from within a shell script to mail some text read from stdin and to attach some files. Works.

But I want to (smime) encrypt it. Although mutt offers an smime menu in interactive mode, I did not find a way to use it in non-interactive script mode. The best I found was to use mutt -e "set crypt_autosmime=yes" ... but this is only opportunistic and silently sends plaintext

[2018-03-10 02:43] tecepe opened #1092 "unwatched mailboxes in the sidebar"
Hi,

I was talking to flatcap in the irc channel about this idea and he suggested to me to bring it to github for discussion. If the solution is not very complicated, I'm thinking to volunteer myself for this job.

The situation is the following: I use the sidebar mostly to make the access easier to mail folders that I don't need to access them often enough to have a binding, which is the case of

[2018-03-11 00:24] towo opened #1093 "status color can't do overlapping matches"
I was trying to go a bit fancy with status bar coloring, but it seems the logic is a bit too straightforward for complex situations (tbh: trying to wedge powerline style segments in there).

The issue can be boiled down to the following:
You cannot have a string twice in any form of matching for `color status`.

Let `set status_format = " NeoMutt | %f | %MM %nN %oO %dD %tT | %s>%S %?V?| %V &?%> %P

[2018-03-11 14:07] flatcap commented on #1093
Hmm... My first thought was WWVD?  What would Vim do?

Basic syntax matches are greedy:
- Match that starts **earliest in the line wins**
- When multiple matches start at the same place, the **longer match wins**

That's the limit for (neo)mutt.

Even in Vim it's tricky to get this behaviour.
`contains` will work:

[code]

It might be possible to fake it with clever choices of characters and non-o

[2018-03-12 12:28] flatcap commented on #1074
@cyphar Any progress?

[2018-03-12 13:08] flatcap commented on #1092
The goal is to prevent certain folders from notifying the user.

The simple solution is:
- Add a new command to `Commands` in `init.h`
- Add a flag to `struct Buffy` (the folder)
- Change `curs_main.c`, `pager.c` to prevent notification if the flag is set

That would work, but it seems very specific.
If we think up a new folder option, we'd need another command (which wouldn't be combinable).

The

[2018-03-12 14:04] cyphar commented on #1074
At the moment I can't see a way of implementing it without factoring out the expando parsing code entirely. I started working on this but it's quite a lot of changes -- the other option is to do the "simple" thing for now and make it better later...

[2018-03-12 14:09] flatcap commented on #1074
OK, thanks for looking.
I'll have think, too.

[2018-03-12 16:16] tecepe commented on #1092
Thanks for your answer, @flatcap . I believe named_mailbox command with extra flags is very nice idea. I have tried to set the displayed name of a mailbox in the past, but I concluded that mutt didn't offer support for that.

[2018-03-12 18:16] libBletchley opened #1095 ""You may not delete the only attachment" <= error when editing a previously sent S/MIME msg (3 bugs)"
I S/MIME encrypted a msg w/out signing.  It's sent just fine, and is stored in the 'sent' folder.

Then I later tried to use that msg as a template, so with the cursor on it, I hit "ESC e" to edit a copy of it.  I can edit the msg fine, but the send screen shows an unexpected attachment named ```smime.p7m```.  It shouldn't be there in the first place.  And worse, I should at least be able to remov

[2018-03-12 20:27] Konfekt commented on #30
This turns out to work well and be useful. How about binding it to `M` by default? That is,
[code]

[2018-03-13 12:01] fgrsnau opened #1096 "Neomutt segfaults on `mutt.set('realname', …)`"
**Expected behavior**
Enter `:lua mutt.set('realname', 'Test')` should lead to `set ?realname` outputting `Test`.

**Actual behavior**
Neomutt segfaults.

**Steps to reproduce**
The above command segfault’s every time for me. It is part of my Lua code for switching between multiple accounts.

It is not triggered by, e.g. `:lua mutt.set('signature', …)`.

**Used program versions**
I use Arch Linux'

[2018-03-13 12:25] flatcap commented on #1096
Thanks for the detailed bug report, @fgrsnau
Branch [issue/1096](https://github.com/neomutt/neomutt/tree/issue/1096) will fix your problem.

[2018-03-13 12:28] flatcap commented on #1096
Note: "paths" and "strings" are handled separately, which is why your 'signature' test succeeded.

[2018-03-14 10:51] gahr commented on #980
@aradici in #1098 I have added explicit `EXTRA_CFLAGS_FOR_BUILD` and `EXTRA_LDFLAGS_FOR_BUILD` that your distro can set so that anything from dpkg-buildflags is used when building executables for the host system. Will this ease your porting work?

[2018-03-14 11:27] gahr commented on #1073
Merged to master.

[2018-03-14 11:27] #1073 closed

[2018-03-14 14:50] marak8 opened #1099 "Avoid line breaks in pager to let terminal emulator recognize URLs"
If there's a long line in pager, NeoMutt inserts a line break at the end of the line. This makes it impossible for the terminal emulator (such as xfce4-terminal) to recognize whole URL and make it clickable. Options `smart_wrap` and `markers` make no difference.

There were other reports in past:
http://mutt-users.mutt.narkive.com/hBmCoxDU/pager-avoid-line-breaks-in-urls
https://bugs.launchpad.net

[2018-03-14 14:53] marak8 commented on #1099
So, it looks like this is a bigger issue
  https://joeyh.name/blog/entry/personal_wishlist___35__304211/

[2018-03-14 15:45] flatcap commented on #1099
The wrapping settings can make it hard to cut'n'paste a URL from the screen, but NeoMutt can't rely on the terminal to wrap the string -- it might overwrite the sidebar, the status bar, etc.

Recently, I did some experiments with the URL escape sequence.
It's not universally supported, but it should be ignored by lesser terminals.
Note: screen and tmux seem to interfere with it.

See [link-seq.sh]

[2018-03-14 19:19] floand commented on #1099
For me function `<pipe-message>` to pager `less` do the rare job.

[2018-03-14 20:15] MaskRay commented on #1092
I want a `new_mail_command` that only send out notification when the mail `To:` or `CC:` me. Will that scenario be covered by the feature?

[2018-03-14 22:56] flatcap commented on #1092
@MaskRay Probably not.

The new mail command was a simple feature.
By the time it finds out there was new mail, it doesn't know where that mail is (or where it came from).

I'll have another look (but no promises).

[2018-03-14 23:29] flatcap commented on #1092
Hi @tecepe

As discussed on IRC, here's what we'd like you to create,
and some note on how to do it.

Thanks :-)

## Challenge

Add a new command to set flags/attributes of a mailbox.
Initially, we'll set the name and create a "do-not-disturb" flag.

[code]

The mailbox may be in either full form `imaps://...`, or abbreviated `=INBOX`
The flags are space separated and may be prefixed with `+` or `

[2018-03-14 23:32] #1096 closed

[2018-03-15 14:48] gahr commented on #980
#1098 was merged, thanks.

[2018-03-15 14:48] #980 closed

[2018-03-15 17:01] Vaelatern commented on #869
I'd be willing to test if put on a branch, yes.

[2018-03-15 17:12] gahr commented on #869
Alright, I'll work on it. Thanks.

[2018-03-16 08:24] gahr commented on #869
@Vaelatern would you please give [devel/issue-869](https://github.com/neomutt/neomutt/tree/devel/issue-869) a go?

[2018-03-16 15:43] Vaelatern commented on #869
So it still fails because `Error: Unknown option --with-sysroot`, would it be possible to change the flag name from `--sysroot` to `--with-sysroot` so as to maintain maximum compatibility with preexisting tools?

[2018-03-16 15:47] gahr commented on #869
Fair enough, pushed.

[2018-03-16 16:50] Austin-Ray opened #1100 "UI lockup during stream of error messages"
* **Expected behavior**
Responsive UI when a stream of error messages occurs.
For example, the ability to exit an email quickly via the `q` command while a stream of "Bottom of message is shown" occurs because I was distracted while scrolling down.

* **Actual behavior**
UI locks up when a stream of error messages appears. This prevent subsequent commands from being executed until all error messag

[2018-03-16 17:00] flatcap commented on #1100
OK, I see what's happening.
I introduced a pause after an error message.
Holding down <kbd>j</kbd> causes a LOT of <kbd>j</kbd>s to fill the input buffer.
That means a LOT of error messages separated by a 1 second pause -- NeoMutt DoS!

I'll put in a check to see if we've got the same error message as before.

[2018-03-16 17:11] Vaelatern commented on #869
With this I was able to cross build. Excellent!

[2018-03-16 18:11] gahr commented on #869
Wonderful, thanks a lot for testing!

[2018-03-20 18:36] toogley commented on #1099
Workaround: https://www.neomutt.org/contrib/useful-programs#grabbing-urls

[2018-03-20 22:35] marak8 commented on #1099
@toogley I'd not call this workaround. When you get an password reset email, there are often several URLs that don't fit terminal width. You just can't pick the correct URL without content around. @floand solution is what I do though I first pipe it to Perl script which picks first `text/plain` entity. I haven't had time to checkout @flatcap 's work on this yet.

[2018-03-21 17:34] mrajner opened #1108 "sleep after every error makes navigation frustrating"
# Description
I move in index view keeping  `j` to scroll down, and when I hit the end the information `You are on last message.` is shown as en error. So the terminal freezes for second or more (accidentaly keeping `j` way too long makes any operation impossible).

I was able to bisect the commit which introduced this problem 3e1070ec2a3d1616b8073e660d0459e0be3a7fe8

I can understand the rational

[2018-03-21 18:20] flatcap commented on #1108
Thanks, it's being worked on in #1100

@royger suggested that those should even **be** error messages.
There's a release due on Friday and this **will** be fixed by then.

[2018-03-21 18:20] #1108 closed

[2018-03-22 15:59] #1100 closed

[2018-03-23 18:16] ElDeveloper commented on #1038
Another thing that I noticed is that when this type of problem occurs with `gnutls` the index will still be rendered with all the messages but it won't be updated or be usable. Meaning, that when I try to open a message the operation will fail and mutt will display the index again. However, when this happens when compiling with openssl the index just disappears and I have to manually connect again

[2018-03-24 13:07] edi9999 opened #1111 "nm_hidden_tags: unknown variable on latest version"
I have just updated neomutt from :

[code]

to

[code]

Since then, When I start neomutt, I get the message :

[code]

This worked well in v1.

I didn't find in the changelog (https://github.com/neomutt/neomutt/blob/master/ChangeLog.md) that this option has been deprecated.

* Expected behavior -> It should work as before
* Actual behavior -> Fails with the above error
* Steps to reproduce ->

Add

[2018-03-24 13:24] flatcap commented on #1111
Ah!  That happened when we made the labelling/tagging more generic.

The Notmuch-specific **nm_hidden_tags** is now **hidden_tags**
(and works on IMAP, too)

Sorry about the lack of notification.

[2018-03-24 13:26] edi9999 commented on #1111
Ok, thanks for the fast reply !

[2018-03-24 13:26] #1111 closed

[2018-03-25 04:44] protist opened #1112 "Regression: `neomutt -Z` no longer gives non-zero exit codes"
## bug reports

* Expected behavior: If `neomutt -Z` fails to launch due to there being no new mail, it should return a non-zero exit code.
* Actual behavior: If `neomutt -Z` fails to launch due to there being no new mail, it returns zero as an exit code.
* Steps to reproduce: Have no new mail. Run `neomutt -Z`.
* Used program versions: regression observed in `20180323`. Previous version `20180223

[2018-03-25 17:50] theova opened #1114 "Question: status flag "forwarded""
Hello there,

first of all: thank you very much for your great work! Neomutt is my daily mail client and I wouldn't like to change it!

Is there a status flag "forwarded" in the index? I would like to have a flag "f" like "r" (replied) "s" (signed) to see if I have already forwarded an email. Is this possible so far?

Best regards

[2018-03-27 14:43] #1112 closed

[2018-03-27 15:57] flatcap commented on #1114
hi @theova

You're welcome.

No.  It seems that forwarding an email doesn't affect the original.

Maildir supports a 'P' (Passed) flag for forwarded emails.
That would be fairly simple to add.

IMAP doesn't seem to have a default 'forwarded' flag,
but if the server supports custom flags, then we could add one.

[2018-03-27 22:57] protist commented on #1112
Thanks @flatcap for the quick fix! I tested and it works perfectly again. Cheers.

[2018-03-28 15:47] theova commented on #1114
That would be fairly simple to add.

As I'm using neomutt with offlineimap and maildir, this would be very nice.

I don't know much about mail syncing, so unfortunately I can't help you to extend neomutt.
But I would like to test it :-)

[2018-03-30 13:54] Herny64 opened #1118 "Segmentation fault when starting neomutt"
## bug reports

* Expected behavior
neomutt should not crash
* Actual behavior
it crashes with segfault
* Steps to reproduce
just start neomutt
* Used program versions
neomutt -v output:
[code]
* Operating System and its version
Gentoo

[code]
my terminal is st, but i can reproduce this on tty as well

[2018-03-30 14:12] Herny64 commented on #1118
im able to reproduce this on NeoMutt 20180323-27-d4be39

[2018-03-30 14:32] flatcap commented on #1118
Thanks for the bug report, @Herny64.  Sorry that NeoMutt's crashing.

Argh!

It's crashing deep within the ncurses code, which is called very early in NeoMutt's startup.
NeoMutt does **very** little before that call.

Please can you give this program (initscr.c) a try:
[code]

Compile with: `gcc -o initscr initscr.c -lncurses`

If that crashes, then there's something wrong with your curses install

[2018-03-30 14:40] Herny64 commented on #1118
it succeeded.

[2018-03-30 14:43] Herny64 commented on #1118
the test program links agains libncurses.so.6 while neomutt links agains libncursesw.so.6
does this matter ?

[2018-03-30 14:47] flatcap commented on #1118
Aha!  I was testing you :-)

You're right, change the compile to `-lncursesw`

[2018-03-30 14:48] Herny64 commented on #1118
still succeeds

[2018-03-30 14:52] flatcap commented on #1118
OK, my guess is that you have multiple versions of ncurses installed.
NeoMutt is building against the headers of one version, but being linked to another.

(If you're an IRC user, we're in #neomutt on irc.freenode.net)

[2018-03-30 15:34] Herny64 commented on #1118
strace
[code]

[2018-03-30 15:58] gahr commented on #1118
So the issue is that ncursesw and tinfo were built independently, and ncursesw needs tinfo at link time.

As reported by @Herny64, pkg-config knows it:

[code]

I'll have a look at auto.def and see what I can do.

[2018-03-30 16:42] Herny64 commented on #1118
i have build neomutt with this patch:
[code]
its configure output is:

[code]

the segfault is still there

[2018-03-30 17:38] Herny64 commented on #1118
https://bugs.gentoo.org/457530

[2018-03-30 18:20] gahr commented on #1118
Ok so tinfo gets pulled in this way, but appears in the link line before ncursesw. It needs to be after. Last (maybe) thing I’ll ask you to check is to substitute tinfo with tinfow in the patch.

If it still fails, maybe this is enough for us to start relying on pkg-config and simplify our hand-made checks, what do you think @flatcap?

[2018-03-30 18:34] WPettersson commented on #1118
I'm also on Gentoo, and can confirm that changing tinfo to tinfow in the patch earlier from @Herny64 fixes this issue on my end.

[2018-03-30 19:49] Herny64 commented on #1118
worked for me as well

[2018-03-30 20:49] gahr commented on #1118
Thank you both for testing!

[2018-03-31 18:55] micressor opened #1121 "Autocrypt support for subject line and headers"
I have:
- [X] searched open and closed issues for duplicates -  Found this #741
- [X] I have read https://github.com/neomutt/neomutt/blob/master/CONTRIBUTING.md

----------------------------------------

It would be great if NeoMutt would support [Autocrypt](https://autocrypt.org/) for encrypting and decrypting emails using GnuPG/PGP.

Especially the encryption of the subject line - [Memory Hole P