[2017-01-03 16:56] #273 closed

[2017-01-03 16:59] guyzmo commented on #273
they don't but one thing is that mutt is aimed at powerusers, not newbies, and another is that newbies can copy/paste ☺

[2017-01-03 19:04] guyzmo commented on #56
Beware that as soon as you start using `ZZ` it becomes very addictive 😉

sure, I'll do 👍

so to be consistent, I'm going to PR:

* `rr` → `reply-group`
* `ro` → `reply`
* `rl` → `reply-list`

which I believe is more sensitive than `r`/`gr`.

[2017-01-03 19:07] guyzmo commented on #276
well, I guess that could be done, but it's quite redundant with having it in your editor *and* in the compose summary view…

Or maybe a good idea would be to go straight to the compose summary view before editing? Because actually my big mistake with vim is forgetting to select attachments before sending ☺

[2017-01-03 19:21] guyzmo commented on #280
that would really make sense once a new path (and eventually a new filename) has been decided for the `muttrc` in a new path. I guess that `~/.config/mutt/neomuttrc` as entry point would make sense, and thus we could have both `neomuttrc.vim` living along with original `muttrc.vim`.

Otherwise, it won't be possible to tell `muttrc` from `neomuttrc` and vim (or neovim) people won't merge something

[2017-01-03 19:33] flatcap commented on #276
Sounds like you'd benefit from the [forgotten attachment](https://www.neomutt.org/feature/forgotten-attachment) feature :-)

[2017-01-03 19:48] guyzmo commented on #276
I have it on, but still finding new ways to miss those ☺

Though I think having the compose screen first and no questions could be a decent way to prepare mails. So you can select the From, add the attachments, eventually the To and/or the CCs… And then you can write the mail! ☺ Having the compose screen first helps set the mind up before writing the mail, whereas when I write a (lengthy and hard

[2017-01-03 22:40] flatcap commented on #281
As @darnir told you on IRC, we do check `$XDG_CONFIG_HOME` and `$XDG_CONFIG_DIRS.`
As for the relative file sourcing, I'm definitely in favour of it -- it's been discussed recently in #76
It shouldn't impact existing config files.

[2017-01-03 22:46] flatcap commented on #276
@guyzmo
`set edit_headers = yes` also allows you a little trick that might help you.
If you add `attach: myfile.txt` to the header section, the file's automatically attached.
You can tweak most (?) of the headers from within vim.

[2017-01-03 23:05] flatcap commented on #280
Yes, combining them would be a lot tidier.  They were separate files since the days that all the features were separate patches.

The config file names are settled (hopefully).  NeoMutt searches, in various dirs, for:
1. neomuttrc-YYYYMMDD
2. neomuttrc
3. muttrc-1.7.2
4. muttrc

What should we offer to (neo)vim?
A `neomuttrc.vim` file with **just** our bits, that `source`s the `muttrc.vim`?
Or, a

[2017-01-03 23:10] #281 closed

[2017-01-03 23:13] guyzmo commented on #280
Obviously, a `neomuttrc.vim` that sources and extends `muttrc.vim`. Except if at some point in the future we're planning on doing incompatible change.

[2017-01-03 23:15] guyzmo commented on #281
ok, I'm obviously closing this, but is there an issue for the `source` command?
or shall #234 be considered for it? or shall we make a new issue for the `source` command?

[2017-01-03 23:19] guyzmo commented on #276
what the. really. ugh. O_O

I actually imagend that having `attach:` as a header would be a great thing to have, but never hoped for it to be a real thing.

ok scratch that. I personally don't care for the summary before or after or whatever. Vim is all. Vim is ♥. And the attach header is its prophet!

[2017-01-03 23:23] guyzmo commented on #276
so, @toogley, basically either you set up your from in the editor, or in the summary page, but don't count much on the questions before composing your mail.

Actually once we insert scripting capabilities to neomutt, you'll be able to make your own extension to handle that. So I'd vote for closing this issue as "won't do", and stay tuned for the scripting extension to work it out ☺

[2017-01-03 23:26] guyzmo opened #282 "Allow the 'source' command to use relative paths"
Add the source command that will source external configuration files.

## Syntax

* to source a file located **relatively** to current configuration file:

[code]

* to source a file in an **absolute** location:

[code]

as referenced by issues #281, #234 and #76.

[2017-01-03 23:38] flatcap commented on #282
... and typing `:source muttrc` will look in Mutt's current directory.

[2017-01-08 20:30] mvdan commented on #281
I can't get this to work. I don't have `$XDG_CONFIG_HOME` set, but even if I set it to `$HOME/.config`, it still won't pick up `.config/mutt/muttrc`.

@flatcap if I'm missing something obvious, could you please give a pointer? Does neomutt fall back to `$HOME/.config` if the env var isn't set?

In any case, I would say this should be in the manpage, where it says:

[2017-01-09 00:10] flatcap commented on #281
Hi @mvdan, it does work, but things are changing.

The docs are here: https://www.neomutt.org/guide/configuration.html
(and they're also installed with neomutt).

the last version of neomutt read `$XDG_CONFIG_HOME/neomutt/config` but upstream mutt adopted the changes (which came as a bit of surprise to me), so the next version of neomutt (and current git) will read from dir `$XDG_CONFIG_HOME/mutt`

[2017-01-09 12:11] mvdan commented on #281
@flatcap ah, thanks for the explanation. I did try `.config/neomutt/muttrc`, but `config` hadn't occured to me.

I'll try again once the new release is out :)

Given that I looked at the manpage only, I would say I did notice. I did look at the online docs, but only during my transition from mutt half a year ago.

[2017-01-09 20:06] guyzmo commented on #248
I would prefer `^G` to abort reading a large folder loading instead of `^C`, as it's what this keystroke is for: abort an operation gracefully, whereas `^C` is there to break things, and eventually get out of mutt.

[2017-01-09 20:40] guyzmo commented on #282
current situation:

muttrc_1:
[code]

will lookup `$PWD/muttrc_2`.
That means, relatively to the path that was setup as `PWD` when mutt was spawned.

---

Another related issue, there's no detection of cyclic sourcing, and if we do:

muttrc_test:
[code]

test_muttrc
[code]

you'll endup with:

[code]

[2017-01-10 07:37] xunam commented on #176
Hi,

I'm following up on this because I am facing the same issue (neomutt used with local maildirs and notmuch, hanging on startup when connectivity is partial because of bad 3G/4G coverage). I ran `gdb mutt` as @mvdan did and got the following slightly more detailed backtrace:

[code]

(the line numbers refer to commit 426f0c27b1e3a0458405c87b7a0270f451f49bea)

So it appears that on startup mutt

[2017-01-10 09:32] mvdan commented on #176
Thanks @xunam for looking further into this. Even if there is no way to do this automagically, I would suggest an option of some sort to avoid this dns lookup entirely. This is still biting me on a daily basis, as apparently ISPs with decent DNS resolvers are not yet a thing.

[2017-01-10 13:19] flatcap commented on #176
@xunam
Thanks for the extra info.
Some machines' DNS setup gets confused getting the FQDN.
Try putting an entry in `/etc/hosts`.  As root:
[code]

[2017-01-10 17:22] guyzmo commented on #248
Just pushed a patch that implements it for Maildir, mbox and Notmuch.

In that patch I decided to go for `^C` instead of `^G` (even though I prefered that one), because adding a `getch()` to the mail loading loop was doubling the load time, I tried different approaches (`timeout(1)`, `nodelay()`) but nothing was trivial enough to have an acceptable impact on mailbox loading.

When you hit `^C` it

[2017-01-10 21:42] guyzmo commented on #222
I believe that the main issue we're having with the code base comes from that fact:

I'm not an unit-testing radicalist, and I'd rather target a 50% or less coverage, as long as within this coverage you cover all the paths and make sure that you're covering the core most important building blocks that ensure the rest of your code is rather rock solid.

But then, that would mean a rather ambitious

[2017-01-10 22:08] guyzmo commented on #217
I'm not sure this is a good idea… Because to remove a message, then mutt would have to reindex every message of the mailbox (at least starting from the removed message), acting the same as a macro doing a sync just after a delete.

Another reason is that when you delete a message, the delete is definitive, so it's always good to make it happen in at least two steps, having the message marked for d

[2017-01-10 22:24] daniel-sousa-me commented on #217
In my case these actions only move the mail to a different folder, so I don't really want that extra step.

Is there any way to automatically apply that filter when I enter in a folder?

[2017-01-10 22:30] guyzmo commented on #182
This is already implemented in mutt:

[code]

cf documentation: https://www.neomutt.org/guide/configuration.html#set

[2017-01-10 22:32] guyzmo commented on #182
…though [your explaination above][0] should make into an FAQ about dev of neomutt.

[0]:https://github.com/neomutt/neomutt/issues/182#issuecomment-253385220

☺

[2017-01-10 22:45] flatcap commented on #182
@guyzmo

Oh, dear.  Thanks for pointing that out.  I really had no idea.
Nor is it the first feature request for something already in Mutt!

Yes, it's already in my as-yet-incomplete development guide.
Docs take **SO** long to get right (and I like to get them right).

[2017-01-10 22:46] #182 closed

[2017-01-12 10:40] guyzmo commented on #234
looks like that has been stalled for quite some time, and because it was easy, I just did it ☺

[2017-01-12 11:49] guyzmo opened #294 "Have the keymap functions accept arguments"
Currently, the commands that can be ran within neomutt are just single token, and they take parameters in an interactive manner. It makes macro writing unnecessarily complex and tough to read. But it's also an important step towards implementing a [scripting language] to be able to expose neomutt's internals as an API.

[scripting language]:https://github.com/neomutt/neomutt/issues/153

## Current

[2017-01-12 13:00] flatcap commented on #242
Sorry for the slow reply.
@timkuijsten Yes, thanks for point out the obvious.  Of course it does.  I don't know what I was thinking.

As for replacing `strndup()`, it turns out that mutt already has a near-identical function `mutt_substrdup()`.

[2017-01-12 13:00] #242 closed

[2017-01-12 13:19] guyzmo commented on #153
I have had a little thought on lua integration, and I've read a bit on the neovim approach.

## New mutt commands

* `lua`: execute a line of command in the rc file or the `enter-command` contexts
* `luasource`: source a lua file

eventually make it possible to introduce a new syntax in neomutt to parse multiline lua scripts inline of an rc file:

[code]

## API

### As a start we could consider h

[2017-01-12 14:22] guyzmo opened #295 "reorganize neomutt's sources tree"
* reformat the source directory to have an easy to look structure:
  * `./src` for the `.c` and `.h` files
  * `./scripts` for the script helpers
  * have make put all the `.o` in `build/` (or `.obj` or anywhere but in plain sight)
* reformat the source files themselves so they're consistent with a style guide cf #224

[2017-01-13 18:27] flatcap commented on #224
Here's my [clang-format.txt](https://github.com/neomutt/neomutt/files/705031/clang-format.txt)

[2017-01-14 09:04] riesebie opened #297 "neomutt-20170113 headercache slows down"
Compared to 20161123 reading the headercache takes more than five times. In my case it is LMDB. Deleting the database and create a new one doesn't help. Entering a mailbox it first scans (what?) and then it reads the headers. Scanning and reading takes both approximately the same time. All together 25 sec on a 70k mailbox. Before it was max. 4 sec. This is on a i386 P4. On a amd64 it is faster but

[2017-01-14 11:26] riesebie commented on #297
There is no difference running kyotocabinet. qdbm is a bit faster but doesn't rock :( I think it is worth to test the other d'bases. It seems not to be frontend specific.

[2017-01-14 12:31] flatcap commented on #297
Argh!  I think I know where the problem is.
Please can you build/test version 9f5acdc (just before I tidied the main hcache function).

[2017-01-14 12:56] riesebie commented on #297
running [9f5acde](https://github.com/neomutt/neomutt/commit/9f5acdc2a70b1a0a9b06fb3e8b82ae177a9eb3db) seems to be as slow as 2017013....

[2017-01-14 13:54] flatcap commented on #297
I've just done some tests on a 100K-email mailbox, using 20161126 and 20170113, using LMDB and TokyoCabinet.  20 tests, the times are sorted (best to worst):

| L 1126 | L 0113 | T 1126 | T 0113 |
|--------|--------|--------|--------|
| 3.840  | 3.737  | 2.374  | 2.363  |
| 3.852  | 3.743  | 2.383  | 2.381  |
| 3.906  | 3.744  | 2.409  | 2.406  |
| 3.915  | 3.761  | 2.412  | 2.419  |
| 3.963  | 3.

[2017-01-14 14:42] guyzmo commented on #153
I have implemented the first step in [this branch](https://github.com/guyzmo/neomutt/blob/1041df45770ab69858c6dbf08c7221d5a9f49dd6/mutt_lua.c):

* two new commands:
  - `:lua` to run one line of lua script,
  - `:lua-source` to load a lua script file
* two mutt API methods exposed in lua:
  - `mutt.print()` and
  - `mutt.error()`

as a next step exposing existing `init.h` functions in lua.

[2017-01-14 15:32] riesebie commented on #297
* Richard Russon <notifications@github.com> [2017-01-14 05:54 -0800]:

How did you took the time?

--
  On the keyboard of life you have always
  to keep a finger at the escape key;-)

[2017-01-14 15:37] flatcap commented on #297
[code]

[2017-01-14 16:09] #297 closed

[2017-01-14 16:10] riesebie commented on #297
My build options:

[build.txt](https://github.com/neomutt/neomutt/files/706037/build.txt)

[2017-01-14 17:02] somini commented on #153
This is the branch: https://github.com/guyzmo/neomutt/tree/feature/lua-scripting, not the one in the neomutt organization.

I tested this and got `mutt.error` to work. What's the `mutt.print` signature?

I also tested the lua-source with this script:

    print(1+2)

And mutt entered pager mode, even though the terminal borked and I had to `<C-l>` it.
Great work, @guyzmo

[2017-01-14 17:16] somini commented on #238
I'm using `--enable-everything` as commited in #264, but since I don't have all the 6 header dev libraries installed I have to manually `--without-HCACHE_BACKEND` each one.

I'm not familiar with autoconf, but is it possible to make it so that missing hcache backends are a warning, unless you are missing all of them?

[2017-01-14 19:47] flatcap commented on #238
My original vision for the `--enable-everything` was to enable all the options for which there were libraries.  This would give developers an easy shortcut for building NeoMutt.  I liked this idea and I'd like to add more options to it.  Everything means everything!

However, some others argued, quite rightly, that different people would get different builds from the same single option.  This woul

[2017-01-14 21:41] somini commented on #238
That makes sense,thanks for the explanation .

[2017-01-14 22:42] guyzmo commented on #153
Oops, my bad, it's `print.message()` updating my former post.

Here's a few examples:

[code]

Basically if you set in your muttrc:

[code]

error messages will be in red, and the others in cyan.

[2017-01-15 02:37] guyzmo commented on #153
just added the `mutt.call()` API, so that you can do:

[code]

😎

[2017-01-16 07:48] protist commented on #276
@toogley Another option would be to use [mutt-vid](https://github.com/protist/mutt-vid/) (I'm the dev). This basically saves the last sender that you used to send an email to recipient Foo. The next time you send an email again to Foo, it will remember this sender you last used, and use it again.

[2017-01-16 08:03] protist opened #299 ""Re: your mail" when replying to empty subject"
When mutt users reply to an email with an empty subject, mutt changes the subject to `Re: your mail`. IMO this is wrong for several reasons. Firstly, this subject is entirely fabricated. It implies that the first email had a subject `your mail`, which is incorrect.

Secondly, since no other mail client does this, it makes it look like the mutt user manually typed in that subject. The wording of `R

[2017-01-16 11:57] guyzmo commented on #299
Like whoever wrote that feature originally, I find this is not a wrong
feature. The purpose of a subject is to help skim and sort your mail
efficiently (it's also very useful to keep the content of a mail
focused, but that's another topic), when people don't put subjects
they're misbehaving.

The point of the `Re: your mail` subject is to avoid participating in
this misbehaviour, and put some plac

[2017-01-16 15:45] gahr commented on #299
+1 in having it as a run-time option - defaulting to "your mail" is fine

[2017-01-16 15:52] gahr commented on #236
@flatcap are you proposing a new -C option that would work like -D but with the sensitive config items obscured, or was -C a typo and you're proposing to modify -D's behavior?

In any case, I find this useful to the extent that we have a way to dump both the clear and the obscured versioned.

[2017-01-16 16:08] somini commented on #153
I can confirm this, it works!

[2017-01-16 16:12] flatcap commented on #236
That was my original idea -- we don't want to break `-D`

However, now I see two possibilities:
- `-C` -- a new option with new behaviour
- `-D -S` -- an extra option meaning make the output 'safe'

Both methods seem fine to me.

[2017-01-16 16:18] gahr commented on #236
I don't have a strong opinion either, just wanted to make sure I understood your proposal ;)

[2017-01-16 16:19] guyzmo commented on #153
updates to the API:

former `mutt.call` is now `mutt.enter` (which is the `:` key in mutt).

and new `mutt.call` API is as follows:

[code]

but it is also exposed as straight lua methods:

[code]

------------

the set API now supports all internal types, cf [this gist](https://gist.github.com/guyzmo/9ed8ec8cd54486cf6e97d4c8f2526a2e):

[code]

and it will throw exceptions at you if you do it wron

[2017-01-16 21:32] guyzmo commented on #153
Added support for `myvars`.

[code]

[2017-01-16 21:32] guyzmo commented on #153
Added `-B` parameter for batch mode (so you don't get the ncurses UI up when running a script, so far it's *really* useful for testings).

It's exiting before the part sending mails in `main.c` so I don't think it's optimal.

[2017-01-16 21:39] guyzmo commented on #153
I'm pretty much done with the first part of the implementation.

Please review the code, test the features, break it, and come back commenting and cristicising it!
I'm all ears

🤗

[2017-01-16 23:18] protist commented on #299
Thank you both for the replies.

I think your rationale is *exactly* why I find it obnoxious. I feel like I'm emphasising their misbehaviour. I agree that it's factual, but I also think it comes across as didactic and pedantic. I'm currently looking for work, and replying to potential employers in such a way feels wrong and rude. I feel it's akin to pointing out others' grammatical mistakes. It mi

[2017-01-17 03:57] dnguyen85 commented on #105
Would be great if this feature can be implemented

[2017-01-17 04:07] nobrowser commented on #240
Hmm odd - I thought it already worked that way.  But oh wait, I actually never get new mail in an async manner, I always download it with a shell escape.  So I guess that's different?

[2017-01-17 04:16] nobrowser commented on #251
I agree with @guyzmo that the option of hitting C-g should stay.  But maybe we could design some framework to handle it generically.  Something like longjmp or exceptions, I guess, and it should be a compile-time error if the caller leaves the behavior unspecified, even if it's the same as "no".

[2017-01-17 04:25] nobrowser commented on #239
Heh.  This is probably the most asked-for feature in **all** MUAs, ever.  I myself asked about it on mutt-users shortly after adopting mutt.

I currently have a bad-ass perl script clean up that gunk at delivery time (I'll make it a gist, someday).  It is smarter than just removing the tag: whenever the tag removal leads to bunched up "Re:" and "Fwd:" it removes the extra occurrences of those, too

[2017-01-17 06:57] guyzmo commented on #251
I agree with that option, and maybe rename `mutt_yesno` to `mutt_yesnoabort` or because there's a `mutt_quad` maybe call it `mutt_tri`? ☺

[2017-01-17 08:21] gahr commented on #236
Ouch, we now have two possible implementations to chose from...

[2017-01-17 12:33] gahr opened #301 "inbox-first sorting does not work when namespace separator is '/'"
When using mutt to access IMAP servers using '/' as a namespace separator, the functionality to sort INBOX before any other folders does not work correctly. Mailboxes view can for example display something like this

[code]

This is due to the fact that the inbox-first functionality is only enabled if the two folders to be compared - "[Gmail]/Trash" and "INBOX" in this case - happen to be under th

[2017-01-17 13:36] guyzmo commented on #236
better have two than none ☺

cf my comments on your branch, my preference would be:

- to have `-DS` instead of `-C` ;
- to have a non `R_` prefixed name for the `R_SENSITIVE` flag.

@flatcap comments? ☺

[2017-01-17 15:15] Vrihub opened #303 "Keyword management: edit-label, conflict /doc/manual.xml.head vs /doc/Muttrc.head"
In /doc/manual.xml.head the "Keyword management" chapter reads:

    &lt;edit-label&gt; binding (<literal>y</literal> by default)

Wrong: the shipped /etc/Muttrc default configuration file (`/doc/Muttrc.head` in the sources) already defines a macro for the `y` key:

    macro index,pager y "<change-folder>?<toggle-mailboxes>" "show incoming mailboxes list"

so the `<edit-label>` command has no key

[2017-01-17 20:22] cdrage opened #304 "Newb tutorial for building Neomutt"
Call me a noob, but I'm unable to build Neomutt.

Do we have to patch it against Mutt first before doing `./configure`?

Following basic steps, I would assume that a simple
[code]

Would suffice, but there are no targets for make or ./configure :(

[code]

[code]

[2017-01-17 20:48] toogley commented on #304
Hey and welcome :)

We have already a [tutorial](https://www.neomutt.org/dev/build) for that  - its short and not for newbies, but it exists.

As far as i remember, there was a step with `autoreconf` required - but its not listed in the above tutorial and i have forgotten what exactly it was. => That means, we have to fix the documentation.

[2017-01-17 20:49] cdrage commented on #304
@toogley Yup, that's the tutorial I followed. Unfortunately that step you mentioned is missing so I'm unable to do ./configure && make && make install xD

[2017-01-17 21:00] flatcap commented on #304
Ah, sorry.  The missing step is `autoreconf -i`

[2017-01-17 21:31] cdrage commented on #304
@flatcap
Thanks for the help. That answers my question!

Sent a pull request for fix the doc https://github.com/neomutt/neomutt.github.io/pull/15

[2017-01-17 22:01] flatcap commented on #304
Instructions fixed.  Thanks.

[2017-01-17 22:01] #304 closed

[2017-01-17 22:38] flatcap commented on #303
Ah, well spotted.  The original label patch **did** have that keybinding.
Some people, when they moved from Mutt to NeoMutt, complained that some of their keybindings had stopped working.  So, we changed the patches to have no keybindings by default.

I've updated the docs.  The website will get refreshed before the next release.

[2017-01-17 22:38] #303 closed

[2017-01-18 11:40] royger opened #305 "In pager mode threads are not expanded when new email is received"
This report is against neomutt 20170113.

The following configuration is set in muttrc:

set sort=threads
set sort_aux=last-date-received
folder-hook . "exec collapse-all"
unset collapse_unread
set uncollapse_new

This should according to the options description cause new emails to uncollapse previously collapsed thread, and indeed it works fine in the index, but not in the pager mode, and new ema

[2017-01-18 16:32] guyzmo commented on #304
FYI, there's a `prepare` script at the root of the sources, so you can do `./prepare` followed by any configure options, and it will issue the autoreconf command first and configure then.

[2017-01-18 21:26] joeljohnston opened #306 "header_cache written but not used"
I'm new to mutt, so I'm hoping this is just a newb mistake with the software.

I've configured neomutt with sidebar, hcache, and notmuch via macports on osx sierra to pull from exchange using msmtp and DavMail Gateway.

Access to my mail works well and I'm able to use mutt normally, once it loads.  However it is pulling the full list of headers from my exchange server EVERY time it loads without e

[2017-01-18 22:09] Vrihub opened #307 "sidebar documentation: broken link"
The link to "Sidebar muttrc" at the end of chapter "2. Introduction" at https://www.neomutt.org/feature/sidebar is broken (it should point to Chapter 8.)

[2017-01-19 00:22] edison23 commented on #276
Hi guys,
after reading this discussion, maybe I'm missing something, but is there a way to make mutt use (as a sender) the address the mail came to? For me, it always uses the default one (or maybe it's just a bad config on my side, dunno).

[2017-01-19 00:39] protist commented on #276
@edison23 You mean when directly replying to an email? `reverse_name` [does this](http://www.mutt.org/doc/manual/#reverse-name).

[2017-01-19 00:51] guyzmo opened #308 "Segfault when opening a discarded postponed mail"
### Neomutt version/configuration

* `NeoMutt 20161126 (1.7.1)`
 * compiled with `Configure options: '--prefix=/usr' '--sysconfdir=/etc' '--enable-debug' '--enable-pgp' '--enable-gpgme' '--enable-notmuch' '--enable-pop' '--enable-imap' '--enable-smtp' '--enable-hcache' '--enable-sidebar' '--enable-compressed' '--with-gss=/usr' '--with-ssl=/usr' '--with-sasl' '--with-curses=/usr' '--with-regex' '--

[2017-01-19 09:32] edison23 commented on #276
@protist oh... kinda missed that one..  it works! thanks :)

[2017-01-19 13:04] gahr commented on #306
This is okay. I understand you're using lmdb as a header_cache backend. Can you try to run `mdb_dump -pn .mutt_cache` and see whether the keys make sense?

[2017-01-19 15:18] gahr commented on #306
It might also be that DavMail Gateway changes UIDVALIDITY at each session. You could try to connect a couple of times to your imap server, do a select, e.g., `A1 SELECT Inbox` and look for a response line similar to this one: `* OK [UIDVALIDITY 1425900691] UIDs valid`. If the value changes every time you connect, you're basically out of luck with caching message headers...

[2017-01-19 16:12] gahr commented on #306
It might be easier to actually compile neomutt with `--enable-debug`, launch it as `mutt -d3`, and look for a line matching `OK [UIDVALIDITY` in the output file.

[2017-01-19 16:19] Chinggis6 opened #309 "Mouse support under terminals?"
Is it possible to use mouse when running `mutt` under terminals, in my case under `urxvt`?

I'd be really helpful to point and click on the items in the inbox to select and open them, because most of the time in the window manager your hand holds mouse, so it's easier to interact with the command line applications as well.

I mean in the style of other similar CLI programs such as `cmus`, `htop`,

[2017-01-19 16:23] guyzmo commented on #309
I see no reasons why this couldn't be done, in a similar fashion to vim's `:set mouse=a`, as curses can process mouse events through the terminal.

Though, I wouldn't be an user of the feature, so I don't think I'd be the one implementing that.

[2017-01-19 16:33] #236 closed

[2017-01-19 17:03] #232 closed

[2017-01-19 17:29] flatcap commented on #309
This isn't too hard to implement (but it's going to be **low priority** unless someone **volunteers**).
Mutt already supports some mouse events -- try the mouse wheel on the index.

You'd need to get Mutt to:
- listen to mouse clicks (easy),
- lookup the location (not too hard, given the new window code)
- fake an selection event (not too hard)

[2017-01-20 01:05] joeljohnston commented on #306
Hi Pietro,

Thanks for taking the time to respond, I really appreciate it. Compiled
debug in and here's the first portion of the log. After this snippet it
just goes about the business of fetching the message headers from the
server, albeit EXTREMELY slowly whilst debugging is enabled.

tail -f .muttdebug0

[2017-01-19 16:59:18] 7< * CAPABILITY IMAP4REV1 AUTH=LOGIN MOVE

[2017-01-19 16:59:18] Hand

[2017-01-20 08:47] gahr commented on #306
`UIDVALIDITY` doesn't seem to be the problem here - both the hcache and the imap server return a value of 1.

[2017-01-20 08:52] gahr commented on #306
Is your header cache file on a networked file system like NFS? What operating system are you using?

[2017-01-20 09:34] gahr commented on #299
@flatcap I think there's not much to be discussed here, short of bikeshedding on the name of the config option..

[2017-01-20 11:34] gahr commented on #306
Would be nice to see what's in the log file after this

[code]

[2017-01-20 12:43] gahr commented on #308
I am not using notmuch but I can reproduce what seems the cause for this behavior with IMAP:

- go to your postponed folder
- compose a new mail, postpone it

you're back in your postponed folder, and you can see the draft in the mailbox

- compose a mail, recall postponed one, discard

now you're back in your postponed folder, and the draft is still there, albeit it doesn't really exist anymore.

[2017-01-20 19:44] nobrowser commented on #239
Also (sorry to come back to this): a good part of the problem here goes beyond reading.  The greater part is that the gunk accumulates when replying (depending on how stupid the mailing list manager is).  Consider:

Subject: my nice subject

Subject: [ML gunk] my nice subject

Subject: Re: [ML gunk] my nice subject

Subject: [ML gunk] Re: [ML gunk] my nice subject

Subject: Re: [ML gunk] Re: [ML g

[2017-01-21 01:16] guyzmo commented on #239
I actually don't consider the `[ML gunk]` as a problem, but as a feature to easily `limit` or `tag` my mail by mailing list once loaded in the browser, like a second tier query after notmuch's.

I actually have very few mailing lists where mails get ill formatted that way, hopefully the most used ones (mailman, sympa and googlegroups) avoid the repeating of the "gunk" pretty well IMHO.

Though, re

[2017-01-21 02:01] nobrowser commented on #239
That's what I already do, except on the original mail :)

I guess my position on this is, go ahead and add a display hook, but better not make me do any reconfiguration work when it lands, because it doesn't solve a problem I have.

[2017-01-21 12:02] toogley opened #310 "plans for refactoring mutt's code"
Hey.

I think it makes sense to collect some general ideas/plans about refactoring mutt. By that, i mean specifically introducing no new behavior/features, just make the current state more maintainable, more safe, stable or whatever.

That means, I'd like to have a collection of focused descriptions of what exactly is problematic and how we would like to refactor that(ideally it would be just a li

[2017-01-21 12:27] guyzmo commented on #308
either a sync, or just throw an error when trying to open a discarded message, saying *Cannot open this message. Please resync the mailbox.*

[2017-01-21 12:38] guyzmo commented on #295
I improved building experience by doing:

[code]

it's still generating all the autoconf 💩 within the sources, but at least the makefiles and objects are all built within `build/`.

[2017-01-21 13:07] guyzmo commented on #310
Ok, in a dream world, here's things I'd like to see featured in a refactor:

1. Get rid of globals and use a context that's passed as parameter to functions.
  - it will make understanding and reading of the code way easier
  - it will make it easier to write proper testing of the functions and mock up the context
2. Breakdown huge functions like [mutt_index_menu()](https://github.com/neomutt/neom

[2017-01-21 14:47] toogley commented on #224
@kevin8t8 i think it would be massively helpful, if we at least agreed on what indentation method we should use (tabs vs spaces).

[2017-01-21 17:28] guiniol commented on #224
And also, how many spaces. I'd like at least 4, I think 2 is a bit too little.

[2017-01-21 17:52] toogley commented on #224
@guiniol yeah, i agree with you. But moving from 2 spaces to 4 spaces is much more intrusive and we want to slowly increase the quality :)

[2017-01-21 18:00] guiniol commented on #224
@toogley two spaces it is then!

[2017-01-21 18:14] guiniol commented on #277
I have the same issue, and I think the visual solution I would go for is the second one:
[code]

However, the fixed width could change per thread. As in, it changes depending on max length of tags in the thread. Not sure how tricky to get  that would be.

[2017-01-21 18:15] guiniol commented on #149
@dannyob How far along are you on this?
I have a number of people I work with who trigger this case so I would really like a solution ^^

[2017-01-21 18:18] toogley commented on #177
Closing this, as the wiki is disabled.

[2017-01-21 18:18] #177 closed

[2017-01-21 18:28] guiniol opened #314 "Add option to have `index_format` be a thread summary instead of showing the first email when folded"
When a thread is folded, the `index_format` only shows information about the first email. There is no way to show, for example, if there is an attachment on one of the emails in the thread.
I would like to have the option to show a summary of the thread: the index_format would show an attachment if one of the mails contained an attachment, new if one of the mails was new, a signature if one of the

[2017-01-21 18:31] nobrowser commented on #277
@iKarith : to save a little bit of horizonal space (not much), check out the new "tochars" feature.

[2017-01-21 18:33] guiniol opened #315 "`%F` should display all participants"
I would like `%F` (or a new expando? but `%F` with the proper option set should be good) to show all the participants, and use the alias if one is known. Of course, this would stay inside the limits set for `%F`.
Any opinions? I'm unsure about including Cc: or only active participants.

[2017-01-21 19:12] toogley commented on #315
the idea of the blue sky label is a feature we would like to have but is unrealistic to implement in the near future. [Source](https://github.com/neomutt/neomutt/issues/85#issuecomment-234319337)

I guess you wouldn't work on it,  if you estimated it as unrealisitc. Therefore the removal of the `type:blue-sky` label.

[2017-01-21 19:13] toogley commented on #314
See https://github.com/neomutt/neomutt/issues/315#issuecomment-274281695 for why the `type:blue-sky` label was removed.

[2017-01-21 19:14] somini commented on #153
So, I spent the afternoon playing around with this. Once we can integrate hooks into executing LUA code, the sky is the limit!

Some context first.

I use mutt with various accounts, so instead of manually managing the "mailboxes" for new accounts, I put them in a hierarchy and wrote a Python script to create the mailboxes command for me. It's ugly, but it works for my setup. Here's the hierarchy

[2017-01-21 19:16] somini commented on #153
I do have a bug report, if I set `mutt.set("sidebar_visible", "yes")` in a script, the variable is on but the sidebar is not visible.

[2017-01-21 19:24] guiniol opened #316 "Have sync not ask about deleted emails, but only in the timeout hook"
I find convenient to regularly sync mail states.
However, if I put sync in the timeout hook, it asks about deleted emails, thus breaking the regular syncing and the flow of my work. I would like an option to have the timeout hook sync be without the deleted emails and the other sync to be full syncs.

[2017-01-21 19:29] nobrowser commented on #316
That sounds like an uglification and complication of the code to support one very specific workflow.

I'd suggest instead to add a new function to perform just the operation you find useful, although I'm not that sure we can maintain a consistent view of the folder that way.

:-1:

[2017-01-21 19:34] guiniol commented on #316
There already is the `delete` option, which toggles the behaviour.
My idea was to add a second option which would only work for the hook, however, I haven't looked at the hook code and have no idea how ugly that would be.

@nobrowser How do you keep the mail states frequently updated? I actually want this option because I have found read emails not being marked as read on the remote server.

[2017-01-21 19:35] toogley commented on #316
@guiniol maybe you can also instead use just a `deleted` notmuch tag? you can ignore this specific tag in all virtual mailboxes

[2017-01-21 19:44] guiniol commented on #316
I do want the mails deleted, and synced to the remote server.
However, I sometime delete things I shouldn't. I wouldn't want the timeout hook to happen between my deleting something by mistake and my noticing and undeleting it. Which i why I can't set `delete` to `yes`.

Basically, I would like a `delete=no sync` inside the timeout hook, but somehow doing `delete=no; sync; delete=ask-yes` doesn't

[2017-01-21 19:52] nobrowser commented on #316
I'm not qualified to answer that because I only use mutt for local folders :-P

[2017-01-21 23:24] flatcap commented on #153
The options in `init.h` have various refresh flags.
When `$sidebar_visible` is changed it needs to trigger a redraw.

[2017-01-22 11:19] toogley commented on #153
Regarding the PR from @guyzmo :

in general nice work :) I don't use mutt much, but i think it would provide some great readability advantages when we can replace our conditional features with lua. What do you think about that?

[2017-01-22 11:21] guyzmo commented on #153
@somini indeed, the [`mutt_option_set()`](https://github.com/neomutt/neomutt/pull/298/files#diff-1cb1159e7da1396bb694434a958c45ceR229) function is not caring for redrawings and resorting. That will need to be added.

[2017-01-22 11:22] guyzmo commented on #153
@toogley yes, I believe that the `if` construct or the conditional formats could be replaced by lua stuff, in a similar fashion to the `hooks` implementation. But we'd need to be careful not to offload too much to lua at risks of slowing mutt down! Especially when running a callback once for each mail (for each *displayed* mail, it should be fine, though).

[2017-01-22 11:24] toogley commented on #153
@guyzmo i think the slowness can be prevented with a good design. But i agree with you that'd be difficult to achieve in mutt.

[2017-01-22 11:27] guyzmo commented on #153
well, we need to balance the weight of calling lua scripts with the need of snap feedback.

For example, when loading mails I wouldn't add a single hair of code, because mutt is already (relatively) )quite slow at loading 50k mails for the first time, so if we were adding a call to a script for each mail loaded, we'd be killing performances.

Same geos with status bar stuff, if we call lua code ea

[2017-01-22 12:57] flatcap commented on #153
There are a couple of ways to keep it speedy.

First, pass a data **set**, rather than a row -- the whole index, rather than a email.  There's an array example in the lua-samples repo.

Second, you can pre-compile lua (like python, etc).  So in the future, we should look for `file.luac`, then `file.lua`

[2017-01-22 14:52] guiniol commented on #316
So, after a little bit of thinking, I added this to my neomutt and it solved my problem.
[code]

Thanks for everyone's comments.
Leaving this here in case it helps someone else down the line.

[2017-01-22 14:52] #316 closed

[2017-01-22 15:43] ailin-nemui commented on #85
(you can see that MC forward it to slang)

[2017-01-22 16:54] toogley opened #319 "skip travis build automatically if non-code files were edited"
At the moment, we use travis to build our code. But travis runs at the moment on every commit - even when only documentation stuff was edited.

Of course we can use `[ci skip]` in the commit message to tell what to ignore - but some people (including me) keep forgetting that.

So, i think it would be useful, if we added some check to our [build file](https://github.com/neomutt/travis-build/blob/ma

[2017-01-22 17:18] nobrowser opened #320 "Switch to modern configuration file format"
Something in the JSON / YAML line.

Even s-expressions would be an improvement :-)

[2017-01-22 17:22] toogley commented on #320
Does this provide some functional advantages?

[2017-01-22 17:28] guyzmo commented on #320
Well, this suggestion is wrong for soooo many reasons, I'll focus just on the most obvious:

- A muttrc is not only a description file, it's also running actions,
- Syntax support is already implemented in vim, emacs…
- JSON/YAML/TOML/ini and other are usually ok solutions, mostly because you can use ready made parsers to help you serialise your configuration,
- Mutt configuration is a language av

[2017-01-22 17:35] nobrowser commented on #320
@guyzmo : #4 is valid, should have thought about that.

#5: what does that mean?  Can you give me an example, or a link to an example?

[2017-01-22 17:40] toogley commented on #320
@nobrowser can you explain why do you think that would be useful? i mean what does the current state of the art not provide, what YAML/JSON does?

[2017-01-22 17:52] guyzmo commented on #320
Well there's issue #153 and PR #298 that implements it. As a starting
point, I've added the following two commands:

[code]

so you can run lua code within your configuration. The API is not yet
a full coverage of the mutt internals, but you still have all the `:set`
and `:commands`.

[2017-01-22 17:53] guyzmo commented on #320
Well there's issue #153 and PR #298 that implements it. As a starting
point, I've added the following two commands:

[code]

so you can run lua code within your configuration. The API is not yet
a full coverage of the mutt internals, but you still have all the `:set`
and `:commands`.

[2017-01-22 17:57] nobrowser commented on #320
Ok, so the lua project in effect supersedes this proposal.  Good to know.

I'll probably rewrite my entire .muttrc in lua when I can :-P

[2017-01-22 18:04] guyzmo commented on #320
all in all, I'd agree with you if we were starting the project from scratch.

but having a custom language to run the commands in mutt is a great thing, and instead of starting over, improving it is a better idea. For example, like my suggestion of #294

[2017-01-22 18:31] sassmann commented on #244
Did some basic testing to get an idea of the performance gain, all results are with a pre-filled cache on SSD and after several repetitions.

Maildir with 23k messages
real    0m0.974s none
real    0m0.765s tokyocabinet
real    0m0.821s kyotocabinet
real    0m0.629s bdb
real    0m0.559s lmdb

Maildir with 83k messages
real    0m3.201s none
real    0m2.062s tokyocabinet
real    0m2.359s kyotocabine

[2017-01-22 19:18] #320 closed

[2017-01-22 20:59] toogley opened #321 "use a modern build system like cmake // refactor autotools toolchain"
### Current state

At the moment, our build system has multiple flaws:

* Its very complicated. That means, we have [configure.ac](https://github.com/neomutt/neomutt/blob/neomutt/configure.ac), the [Makefile](https://github.com/neomutt/neomutt/blob/neomutt/Makefile.am) and everything inside the [m4 dir](https://github.com/neomutt/neomutt/tree/neomutt/m4) where build logic is placed.
* It requires

[2017-01-22 21:10] neverpanic commented on #244
I think another interesting metric would be the size of the cache file with these mailboxes. For example, tokyocabinet and kyotocabinet support compressed storage, which will probably mean much smaller storage than, for example, lmdb.

Especially for people on machines with SSDs where storage is more expensive this might be relevant. Ideally, we'd turn these numbers into an article on the neomutt

[2017-01-22 22:07] guyzmo commented on #321
I agree cmake is quite a nice build toolchain, which is way more flexible and nicer to work with than autotools.

The good side it's that it'll help a lot in making refactoring tasks (like #295) less expensive in terms of invested effort.

The down side is that we'd be drifting further away from the mutt source code, and thus making upstream patch application further more difficult.

[2017-01-22 22:17] guyzmo commented on #321
though, on another hand, I might add that switching to cmake could be not that catastrophic, even when a future notmuch patch will modify the build system (adding a new dependency), it wouldn't still impact what we really care about: the `.c`/`.h`.

So I don't think that would be insane to consider doing this sooner that "blue-sky" ☺

[2017-01-22 22:20] guyzmo commented on #321
And talking about build system, we might want to narrow our targets to a smaller set of target systems. If it works on all modern unix (free/net/openbsd, darwin, linux), and cygwin/mingw32, with recent gcc and clang, we should be fine. Then I guess most of the libc replacement .c could go away.

[2017-01-22 22:23] louwers commented on #309
If someone decides to implement this, don't forget the sidebar please. 😄

[2017-01-22 22:36] nobrowser commented on #321
Add solaris to that list and I'll agree.

[2017-01-22 22:40] nobrowser commented on #321
The one overriding reason I hear that people stick with autotools is cross-compilation support.

Do we need that (i.e. do people who build mutt need that)?

Or has cmake recently improved in that area?

[2017-01-22 22:58] guyzmo commented on #321
Well, given that solaris supports recent gcc/clang, it should be fine.
Also focusing on x86, ARM, and best effort with MIPS, PPC and SPARC should be fine if there are people to test those.

Anyway, we should stick with a choice of libc, compilers and fairly recent minimal libc/compiler version. I see no reasons to have a constrained to compile with GCC4 or icc, or some exotic libc.

that I cannot

[2017-01-22 23:02] guyzmo commented on #321
actually you can find many articles on cross-compiling with cmake, and many to switch from autotools to cmake. Just [one article I found][0] giving counter arguments:

- creation of a dist tarball that does not need autotools installed to be installable by the user (just run configure; make install), whereas with cmake, you need cmake
- abiilty to do make uninstall to remove the shit you've spraye

[2017-01-23 06:33] toogley commented on #321
I'm not so sure about that - because we don't change the actual source code, only the build system. That means, we could still apply upstream fixes. (Of course, that would mean I would wait with the fix for #295)

[2017-01-23 08:00] sassmann commented on #244
While we're at it, I was wondering if we couldn't add an option to mutt which keeps mail headers in memory (up to a specified size). Then switching between mailboxes should be almost instantaneous, once they've been loaded once.
Some people achieve this by running a separate mutt for every mailbox in a screen session.

[2017-01-23 09:45] guyzmo commented on #321
actually if we commit on switching to CMake, I would *FIRST* change the build system, and *THEN* move the files in a series of very atomic commit that git would be able to handle in a rerere.

[2017-01-23 11:10] toogley commented on #244
@sassmann I agree with you - but i think that should go into a separate issue.

[2017-01-23 11:18] toogley commented on #321
@guyzmo Hm, i'm not sure if you understood me correctly.

I mostly agree with you. The order you propsed (first cmake, then fix #295) makes sense - but i think we should wait with fixing #295 some time after we have introduced cmake. The reason is that, in my opinion, we profit a lot from upstream's work. If we fix #295, integrating upstream's work will be harder (because we have to change the dir

[2017-01-23 11:23] VinceTT opened #322 "tag-thread in pager mode"
Is it possible to tag-thread in pager mode with neomutt 20170113 ?
delete-thread works fine but i am unable to use tag-thread in this mode whereas this works in index mode

[2017-01-23 11:36] flatcap opened #323 "Log mutt_{message,error,perror}"
The output of logging functions `mutt_message()`, `mutt_error()` and `mutt_perror()` doesn't get saved to the debug log.

I don't know how I didn't notice this before, but the logging functions are missing from `.muttdebug0`.  This means that you're missing important info.

[2017-01-23 11:42] #234 closed

[2017-01-23 11:42] #282 closed

[2017-01-23 13:05] flatcap opened #324 "hcache: keep multiple mailbox caches open concurrently"
While we're at it, I was wondering if we couldn't add an option to mutt which keeps mail headers in memory (up to a specified size). Then switching between mailboxes should be almost instantaneous, once they've been loaded once.
Some people achieve this by running a separate mutt for every mailbox in a screen session.

[2017-01-23 13:29] #299 closed

[2017-01-23 13:56] gahr opened #325 "Get rid of in-house implementations of STD C / POSIX.1 functions"
This is to track the effort to get rid of in-house implementations of Standard C and POSIX.1 functions which are nowadays available in all target platforms.

The existence of all removed functions were checked on: FreeBSD 11.0, RHEL 6.6, Solaris 11.3, AIX 7.1.

See: #327

[2017-01-23 14:22] bbenne10 opened #326 "notmuch: Ability to toggle tag"
Hoping I'm reaching out via proper avenues to make a feature request. If not, please let me know where I should be posting and I'll happily move this there.

Essentially what I am looking for is a more advanced form of the `modify-labels` function that exists. I would like a way to toggle the presence of a tag (or list of tags) on a message (or set of messages). I currently have a muttrc.keybinds

[2017-01-23 15:10] toogley commented on #323
I will probably finish it in less than 2 weeks i think. (As this is the first time i really look into a real C program I'm a bit cautious about estimations :D)

[2017-01-23 15:13] toogley commented on #320
Hm, as the consensus seems to be to keep muttrc config with its lua parts and further YAML/JSON doesn't show any improvements compared to our current state - i feel like this isn't usitable for the `blue-sky` milestone.

[2017-01-23 15:26] toogley commented on #325
@gahr can you elaborate why this is needed? I don't have much experience with C, so i couldn't tell why you do this.

[2017-01-23 15:26] flatcap commented on #326
This is the right place :-)

How about another syntax that doesn't require a new command `!label`
[code]

It shouldn't be too hard to implement.

[2017-01-23 15:55] gahr commented on #325
@toogley The idea is to get rid of code mutt developers have either implemented on their own or borrowed from glibc in the past , with the assumption is that nowadays all the platforms we care about do implement those pieces anyway. The goal is the removal of unused files and lines of code :)

[2017-01-23 16:39] toogley commented on #325
@gahr ah, so those functions you remove in this issue are copy-pasted from glibc?

[2017-01-23 16:42] gahr commented on #325
Most are, some are not, but they were all meant to fill gaps between implementations, and all are APs defined by either standard C or POSIX.1.

[2017-01-23 17:12] #248 closed

[2017-01-23 17:37] RichiH commented on #248
Yay!

Will you be able to cut a release before Debian freezes in ~2 weeks?

Richard

Sent by mobile; excuse my brevity.

[2017-01-23 18:00] flatcap commented on #248
I was thinking about a release on Fri 27th, but there's a lot happening at the moment.
If I don't have time for that, Fri 3rd Feb.

[2017-01-23 18:23] bbenne10 commented on #326
In an attempt to help out here, I just looked up the implementation for `modify-labels` and my eyes immediately glazed over.  I should have expected some complexity from such a powerful tool, but that was eye opening. I think I'm going to have to leave this one to someone a bit more familiar with the project 😳

[2017-01-23 18:31] toogley commented on #326
I think its just plain old and a lot of the complexity could be reduced (we are currently working hard to do so. But its hard.. we don't have many developers and a lot of the work is painful.) :D

[2017-01-23 18:35] flatcap commented on #326
Mutt, as a whole, is a bit of a mess, but the notmuch code is well-written.
To implement my syntax `!label` you would only need to alter [one function](https://github.com/neomutt/neomutt/blob/neomutt/mutt_notmuch.c#L1324-L1367) in mutt_notmuch.

Take a look.  If you're interested we can talk you through anything else you need to know.

[2017-01-23 19:41] nobrowser commented on #320
One problem (which I admit is not a huge one) with the current situation is that no other program than mutt can read the configuration.  This makes it hard to share various bits of information with the rest of the system.  For example, right now I'm pondering how to make the list of my frequent correspondents available both to mutt (as aliases) and to spamassassin (as whitelist).  You can always c

[2017-01-23 19:56] toogley commented on #320
@nobrowser aah, now i understand you. i think that is possible if you start using notmuch. But i think this issue is the wrong place to disuss that (because it doesn't have to do with the issue)

Do you want to ask on the users mailinglist or open another issue?

[2017-01-23 20:40] toogley commented on #224
### preprocessor directives indentation

That means, at the moment:

[code]
is turned into

[code]
this point is blocked by [this LLVM bugreport](https://llvm.org/bugs/show_bug.cgi?id=17362) on preprocessor directives indentation. According to [the best and easiest way to achieve this](http://stackoverflow.com/a/32185764) would be to sent a pullrequest implementing this.

### alignment of boolean

[2017-01-24 00:34] protist commented on #299
Thank you all. I just tested, and this works perfectly. Cheers!

[2017-01-24 06:35] toogley commented on #224
Additionally thoughts, assuming that upstream is unhappy about using `// clang-format on` and rejects that:

* If we enforce this clang-format configuration, merging patches mutt -> neomutt will be **not** harder than at the moment.
    - We can create a git mirror from the mutt mercurial repository and update it automatically via a script. (some tools exist to convert git to mercurial commits, i

[2017-01-24 10:02] guyzmo commented on #321
actually not, if we make a commit where we move the files, but where we're not amending the files, git knows how to rerere accordingly the patches. The process being: apply the patch to the upstream branch, and rebase the neomutt branch on that patched upstream (or merge in, same effect).

I believe one of the main reasons to move away from autotools to CMake is that autotools makes such refactori

[2017-01-24 10:11] guyzmo commented on #326
being a mutt+notmuch user, I can have a look at that, and see if I can provide a patch. I'll look into that a bit later (I'm a bit busy today to be able to do some code ☹).

[2017-01-24 10:21] guyzmo commented on #320
ok, then it's a [XY problem]. You don't really need the configuration to be in JSON or whatever, but you need it to have some information shared between the two.
Actually mutt aliases is matching an earlier format that were existing before mutt (I think it's in use by pine and abook etc.. but don't take my word on it).

I guess this is the kind of problem you'll be able to solve nicely when Lua sc

[2017-01-24 10:30] guyzmo commented on #224
About **preprocessor directive indentation** my favorite style is:

[code]

which I've seen used in some parts of the code. And that wouldn't be broken by clang-format.

for the **alignment** issue, I believe a simple `// clang-format: ignore` should suffice to ignore current line, or ignore next line. If it could be abbreviated to a pragma like `// clfi` (or any short form in between) that would

[2017-01-24 10:49] guyzmo commented on #326
…or, @bbenne10, I can help you fixing it!

BTW, don't hesitate to join the `#neomutt` channel on irc.freenode.org IRC network.

[2017-01-24 13:31] bbenne10 commented on #326
It looks like there's no implementation of `notmuch_message_has_tag` (just `notmuch_message_get_tags`, which returns a tags "object". So that will likely have to be the first step, then it's pretty trivial (since, like the '-' case, we'll always have an indicator of action, we just skip the first character, store the rest as 'tag' and check if it's present and do our thing). I should have enough i

[2017-01-24 13:55] flatcap commented on #326
Great!

There's a brief guide to building NeoMutt: https://www.neomutt.org/dev/build
And an even briefer guide to debugging: https://www.neomutt.org/dev/debug
(both works in progress)

Debugging an ncurses program is a little tricky.
Run neomutt in one window, then find the process id and run `cgdb --pid X` in the other window.
(cgdb is a pretty wrapper to gdb)

Any questions, just ask.  Either he

[2017-01-24 15:17] toogley commented on #224
@guyzmo Ah, nice to know.

To the final clang-format I'd like to add `AlignOperands: true`.

[2017-01-24 17:25] #326 closed

[2017-01-24 18:22] nobrowser commented on #321
Why is it so much simpler with cmake?  Do you not have to record the new file locations in the cmake spec files?

[2017-01-24 19:31] guiniol opened #329 "Global hooks erroneously expect a pattern"
Global hooks (`timeout-hook`, `startup-hook`, `shutdown-hook`) should not require a filter pattern since they are global. Yet, in the current implementation, they do expect one.

[2017-01-24 20:09] toogley commented on #329
I don't understand the logic of `should not require a filter pattern since they are global.` What has the one to do with the other?

(sry for asking sth which has little to do with the actual issue^^)

[2017-01-24 20:13] guiniol commented on #329
The standard definition for hooks is `<hook-name> <folder-pattern> <command>` which means that the hook will only trigger if the folder matches the `folder-pattern`. Global hooks, being global, trigger regardless of the current folder, so their definition should be `<hook-name> <command>`.

[2017-01-24 20:18] flatcap commented on #329
@toogley https://www.neomutt.org/feature/global-hooks

[2017-01-24 20:28] flatcap commented on #224
I prefer **un**-indented preprocessor directives (but not strongly).
As for the comments, I don't like them.

The code needs to be legible to humans, and sometimes bending one of the rules will be a great help.
If that requires a pair of comments every time, the code is going to look a complete mess.
See `__FREE_CHECKED__`, and friends.

If we want to reformat a large amount of code, then clang-fo

[2017-01-24 21:07] toogley commented on #329
@flatcap aah, sry. I've missed that feature.

@guiniol thanks for the explanation.

[2017-01-24 22:06] guyzmo commented on #224
Well, those can be life saviour

Yup.

I guess for all vim users, we'll have to bind some key to:

[code]

and then run `gq` on the lines we want to reformat ☺

well that was a suggestion to request a feature from the clang-format
people, not a real thing actually, sorry for not being clear ☺

[2017-01-24 22:16] guyzmo commented on #320
@nobrowser BTW, about this, as I just discovered, you can also pipe a command in a source command so its output is interpreted as mutt-speak. So basically, you can make your own JSON format for the aliases, and run:

[code]

such a source code would be only a few lines long.

[2017-01-25 01:06] flatcap commented on #322
No, it isn't (not in plain Mutt, either).  But it's a reasonable thing to ask for.
From the pager, you can already `<tag-message>` and `<delete-thread>`, so it probably wouldn't be hard to add.

We'll see if anyone volunteers.

[2017-01-25 14:03] flatcap opened #331 "[RFC] Issue Workflow / Review"
## Overview

**Important points:**

* We don't want people to waste their time, either
  * writing code we don't want
  * duplicating the work of others

**For most new work some discussion is needed first.**

* What do you want to change?
* Why is that needed?
* What's the best way to do it?

**You can get approval from:**

* IRC
* Issue
* Mailing list

**Who gives approval?**

* Project reviewer

[2017-01-25 15:09] guyzmo commented on #331
I think for a new feature ticket, the following template should be suggested:

1. what's wrong with current situation
2. what the feature will improve that situation
3. what's the suggested strategy to implement it

[2017-01-25 16:56] d-k-c commented on #310
Big +1 for guyzmo's suggestions. The globals are a big pain, they are modified all over the place. If there is a "struct context", then it should be considered as an opaque pointer by all compilation units but context.c (of course the name might differ, just giving an example), and passed to helpers implemented in context.c to be modified.

Many compilation units do many things, or are split in a

[2017-01-25 18:31] #325 closed

[2017-01-25 18:48] d-k-c commented on #251
There is a discoverability issue: most users aren't aware of that option, and I wasn't before digging into the code. Adding `C-g to abort` to the prompt would, imo, take many chars on the screen for not much benefit.

These prompts are used to ask for confirmation, the difference between "no" and "abort" is really ambiguous. Moreover, in some cases it's already the same as asnwering no, in other c

[2017-01-25 18:59] toogley commented on #251
Hm, what about writing in the docs somewhere that every prompt "ok? yes/no" can be aborted via `strg-g` ? Maybe also with an explanation what that exactly means and how it differs from the `no` answer? (to address @d-k-c concerns)

[2017-01-25 19:03] guiniol commented on #251
Actually, C-G aborts just about any prompt and is not the same as a `no` unless `no` meant `do nothing`, if I'm not mistaken.

[2017-01-25 19:06] toogley commented on #251
@guiniol yep, but that only changes my argument a bit. Essentially it can be still applied.

[2017-01-25 19:15] guiniol commented on #251
@toogley My remark was mostly a reaction to the `make C-g a shortcut to no`, which I don't think is a good idea.

[2017-01-25 19:29] d-k-c commented on #251
@guiniol but that's my point, in some cases it's already the same as no, so what `C-g` does is inconsitent at best.

Anyway I seem to be the only one bothered by that, so let's keep it the way it is (or eventually rename mutt_yesorno to something more explicit) and move to more important things?

[2017-01-25 19:32] d-k-c commented on #325
(Raised the point on IRC, just adding a comment here to keep a trace of that)

The "BEWARE" file warns against using "tolower" instead of the ascii_ variant that was implemented in ascii.c. Are we sure that doing `s/ascii_tolower/tolower` is safe?

[2017-01-25 19:35] guyzmo commented on #251
@d-k-c it's not because today most are unaware of it, it's not a common idiom in text user interfaces, that was known and considered the norm *back in the days*. Most of the time it's acting the same as `C-c`, but without the risk of sending a SIGINT. All in all, `C-g` has the same meaning in many different applications, from `less` to `vim`, and yes including `mutt`. TBH, I've learned that so lon

[2017-01-25 19:36] guiniol commented on #251
@d-k-c I don't understand how it's inconsistent. `C-g` always aborts any prompt. In some cases this can also be achieved by answering `no`, but it also aborts the prompt asking you for the subject of your new mail for example.

[2017-01-25 19:50] gahr commented on #325
I honestly do not understand the concern. All ISO-8859 share the 0x00-0x7F range with ASCII. Since we're always comparing strings with known ones or for cosmetics' sake - that's use case for tolower in mutt -  and since all compared-to strings are ASCII, I see no problem with using plain `tolower`.

Am I missing anything?

[2017-01-25 20:02] guyzmo commented on #325
how different is the specific `mutt` equivalent, what special stuff might it be doing?

[2017-01-25 20:07] gahr commented on #325
Nothing - as long as you stay in ASCII space.

[2017-01-25 20:07] gahr commented on #325
.. and as far as I can see ;)

[2017-01-25 23:04] guyzmo commented on #308
Here's the backtrace:

[code]

[2017-01-25 23:16] guyzmo commented on #308
so stuff is breaking [here](https://github.com/neomutt/neomutt/blob/neomutt/copy.c#L66) and [`ftello64()`](https://linux.die.net/man/3/ftello) is causing the segfault.

I tried to replicate the issue when reading `~/Maildir/Drafts` but the message disappeared when exiting the compose window, so it looks like the issue is related to the @karelzak's patchset.

So there I see two solutions:

1. eithe

[2017-01-25 23:25] nobrowser commented on #320
@guyzmo  , yes I know about this - this is covered by the "some preprocessing or code generation" clause :-)

[2017-01-25 23:28] nobrowser commented on #251
@guyzmo : you forgot emacs - how dare you :-)

[2017-01-25 23:34] guyzmo commented on #251
ema…what?

do you mean:

[code]

[2017-01-25 23:37] nobrowser commented on #251
LOL - I didn't know that one.

But mutt's bindings are not that far behind.

[2017-01-25 23:42] guyzmo commented on #251
maybe yours, but I try to make mine with a modal mindset.

[2017-01-26 00:38] guyzmo commented on #251
ok, to sum up this discussion:

1. @d-k-c  wants to get rid of `C-g`
2. @tooley, @guiniol, @nobrowser, @guyzmo say it shall stay.
3. @toogley suggests to either change the prompt to include C-g in choices or at least the documentation
4. @nobrowser and @guyzmo suggest we could internally make this explicit by changing `mutt_yesorno` into `mutt_tri` or `mutt_yesnoabort` that shows there's an abort

[2017-01-26 00:38] #251 closed

[2017-01-26 01:22] guyzmo commented on #310
I've dealt with sh!t like that in the past. The plan I've applied and
which worked was:

1. gather all pointers in a single compilation unit (within a .h makes
    it easier, but really it doesn't matter)
2. embed them in a big struct that can be called context_t (one struct
    to include them all)
3. make a singleton out of that struct, and update each and every global
    through the codebase s

[2017-01-26 12:08] gahr commented on #324
I expect most of the pages used by backends to be resident anyway, and most likely backends will be fast at searching.. is this really a bottleneck?

[2017-01-26 13:01] gahr commented on #319
-1 for me. The build also builds the docs, making sure the source xml files are correct. Any changes to autotools machinery should also go through the build process. The only files for which we could avoid the build are .mds and the READMEs...

[2017-01-26 14:06] flatcap commented on #319
OK, @gahr let me see if I can convince you...

There are three things to be built: code, docs, translations.

The docs and translations depend on the code.
The contrib dir can't be checked, so can be ignored.

Travis tells us what's changed since the last build in `$TRAVIS_COMMIT_RANGE`.
This means we have enough information to work out which files have changed.
With a little light editing of the

[2017-01-26 14:08] gahr commented on #319
This way, yes :)

[2017-01-26 14:28] bbenne10 opened #332 "<modify-labels-then-hide> seemingly not working"
As discussed on IRC, `<modify-labels-then-hide>` doesn't seem to be exhibiting the described behavior.

A semi-depiction of the bug may be found here: https://asciinema.org/a/1e79rtkzhy910ekizhnslx55a

In this case, the vfolder displayed is from the query "tag:gvu and not tag:deleted" and I'm toggling the "todo" tag. However, this behavior is also exhibited when using the query "tag: inbox and not

[2017-01-26 14:54] guyzmo commented on #332
next step is to determine whether the issue is a regression or a bug that's as old as neomutt.

[2017-01-26 16:47] gahr opened #333 "Double screen refresh during GPGME verification"
When you open a PGP-signed email and you mutt verifies the signature using gpgme, a forced screen refresh happens.

The effect is going from index (where you `<enter>`'d the email) to a blank screen, to again index, and finally to pager, where the message is displayed.

This is due to [crypt-gpgme.c:811](https://github.com/neomutt/neomutt/blob/neomutt/crypt-gpgme.c#L811)

I do not understand why t

[2017-01-26 18:21] sassmann commented on #324
If you take a look at #244 you'll note that if mailboxes reach a certain size it takes a significant amount of time to re-read and sort the mails. This also applies when simply switching mailboxes inside of mutt.
Avoiding those reloads is the goal here.

[2017-01-26 23:24] flatcap opened #334 "Merge upstream commits"
This is a frequent project management task that I do -- merge the latest commits from [mutt/default] into [neomutt].

There's one slight wrinkle -- the HASH changes.  They've been added in anticipation of the new label code.  The NNTP feature uses the HASHes and adds a counter.  This needs to exist in the merged code.

The other commits will probably merge easily.

If anyone fancies the job, great

[2017-01-27 00:05] #329 closed

[2017-01-27 07:26] chrisbra commented on #280
if you plan to go this route, I suggest create a PR at the vim/vim repository and add a simple neomuttrc.vim syntax file there that sources muttrc.vim. Make sure to include your name, a license and possibly a repository where people can direct questions. Bram will then pick this up and merge it with the next runtime file update and neovim folks will later then merge runtime file changes.

[2017-01-27 08:26] gahr opened #335 "Run commands before loading rc files"
When launching mutt, I find it useful to specify configuration commands to be run *before* mutt loads any rc files. This allows to set `my_*` variables that can later be used inside rc files, e.g.,

[code]
In this example, I use ` -P "set my_backend=lmdb"` to change the header cache backend.

What do people think? Would this be a useful addition?

[2017-01-27 09:18] gahr commented on #333
Errata corrige:

This is due to [crypt-gpgme.c:1551](https://github.com/neomutt/neomutt/blob/neomutt/crypt-gpgme.c#L1551)

[2017-01-27 11:28] flatcap commented on #335
Hmm...  I see two possible alternatives: the classic solution and the NeoMutt Way<sup>tm</sup>.

The Mutt way would be to create your `prefix.rc` and include the last line `source ~/.muttrc`

The NeoMutt way is to use the new multiple config option `mutt -F prefix.rc -F ~/.muttrc`

[2017-01-27 11:30] flatcap commented on #280
@chrisbra
Thanks for the info.  That's exactly what we needed to know.

[2017-01-27 11:35] gahr commented on #335
The idea is not to have to modify files to change variables.. it makes it easier to script mutt sessions for benchmark / test. I'm using this to benchmark #244 .

[2017-01-27 11:43] gahr commented on #244
# Setup
## Data
`maildir` directory with 83975 messages ([freebsd-hackers](https://lists.freebsd.org/mailman/listinfo/freebsd-hackers) mailing list, 2010-2016)

## Software
NeoMutt 20170113-54-1b6ae3-dirty (1.7.2), with the modifications in #335.
bdb 5.3.28
gdbm 1.12
qdbm 1.8.78
kyotocabinet 1.12.76
lmdb 0.9.18
tokyocabinet 1.4.48

## Environment
### muttrc
[code]
### benchmark driver (run.sh)
[co

[2017-01-27 12:25] gahr commented on #335
@flatcap made me realize that I could achieve the same by setting environ variables. That solves the issue for me. Thanks!

[2017-01-27 12:25] #335 closed

[2017-01-27 13:30] gahr commented on #244
## Update with new script to also analyze the results of several runs

[code]

### Results
[code]

[2017-01-27 14:04] bbenne10 commented on #332
The bug still seems present as far back as commit 8ffa4732. There are some other (quite significant) bugs in rendering the index in this commit though, which decrease my confidence that I've properly triaged this. I'll do some more digging and get back to you all.

[2017-01-27 14:14] bbenne10 commented on #332
Looks like my muttrc contributed the rendering problems, but I'm still debugging.

[2017-01-27 14:43] riesebie commented on #244
@gahr :thumbsup: ;-)

[2017-01-27 15:18] flatcap commented on #244
My results for 10 iterations on 100,000 emails:

## populate
database     | real      | user      | sys      |
:------------|----------:|---------: |---------:|
bdb          | 3.529000  | 1.820000  | 0.597000 |
lmdb         | 3.564000  | 1.720000  | 0.642000 |
qdbm         | 3.584000  | 2.886000  | 0.618000 |
tokyocabinet | 3.679000  | 2.927000  | 0.731000 |
gdbm         | 4.341000  | 2.091000  |

[2017-01-27 15:27] bbenne10 commented on #332
Looks to me like this bug was present in mutt-kz and thus was not introduced in neomutt. This leads me to believe that either there's a misunderstanding about the manner in which this feature is intended to work or that the feature was included in documentation but never actually properly implemented.

[2017-01-27 16:14] toogley commented on #224
[code]

@flatcap what is the reason those are optional?

[2017-01-27 17:08] flatcap commented on #224
All the others are required to match Mutt's code.
I don't mind whether we enable these 5, or not.

[2017-01-27 19:50] guyzmo commented on #224
I think stuff like:

[code]

or column limiting to less than 80 cols:

[code]

is not necessary, and it would reduce the diff significantly.

[2017-01-27 20:49] guiniol commented on #224
I would rather we kept those.

As for 80 cols, I find it's the perfect size to have two panes of code side by side on a standard screen, but I won't push for it.

[2017-01-27 21:01] toogley commented on #323
I have a bit trouble to understand your description.

I've found in my `~/.muttdebug0`:

[code]

Looking who's printing that line:

[code]

This means i find at least the following confusing:

[2017-01-27 21:59] guyzmo commented on #224
Well, I also like the 80 cols limit, as I'm having four panes of code in
a single screen. But as screens switch from 4:3 or 16:10 to vast
majority of 16:9, we've got plenty of horizontal space while vertical
space is rare (which is why I prefer the braces on same line but that's
another discussion).

Because upstream code is already relaxed on the 80 cols limit, I think
we can setup clang-format t

[2017-01-27 22:09] toogley commented on #224
@flatcap btw. I'd like to have at least

[code]
as defaults, it looks just better IMHO.

[2017-01-28 16:03] flatcap opened #336 "Query: Attach file"
This bug was reported by Andrew Duchowski (on the neomutt-users mailing list).

On a Mac, I just changed from mutt to neomutt via
upgrades to macOS Sierra and macports.

In mutt, when I used to 'a'ttach a file and then
press '?' to search the list of folders, two things
happened:

1. I would see my ~/Mail foler
2. mutt would remember which dir I was in if I
   wanted to 'a'ttach again

Now, in neo

[2017-01-28 16:28] nobrowser commented on #224
multiple comments, not necessarily related:

"Looks better" is not a good argument in this context IMO

I really dislike the suggestion to enforce braces around single line blocks. From my POV that actually *decreases* readability, not only locally but also because many functions suddenly won't fit into a page.

No space before args in call sites is important enough to keep it in the rules and in

[2017-01-28 16:35] toogley commented on #224
I guess you mean some functions won't fit into one line?

[2017-01-28 16:41] gahr commented on #224
On 2017-Jan-28, 08:28, Ian Zimmerman wrote:

On the other hands, diffs where statements are added to / removed from
if / for / while blocks will be more understandable.

Also, are you also suggesting not to require braces around ifs like
this?

if (a)
  for (foo; bar; baz)
  {
    /* some dozens lines of code */
  }

--
Pietro Cerutti
gahr@gahr.ch

[2017-01-28 19:19] guiniol commented on #224
On Sat, Jan 28, 2017 at 08:41:48AM -0800, Pietro Cerutti wrote:

+1
Plus I think not putting the braces is going to be a source of bugs (see
apple's goto fail for a famous example), so I would rather we put the
braces even if that means that some functions become a few lines longer
(I would rather have the opening brace on the same line, which would
reduce the number of added lines but, heh...)

-

[2017-01-28 21:00] toogley opened #337 "Xapian errors when `virtual-mailboxes` are set."
[code]

[2017-01-28 21:07] toogley commented on #337
Hm.. i'm suspecting this is not a bug, rather my own mistake. `NeoMutt 20170113 (1.7.2)` also results in the same error, but i don't see where I have mistaken sth.

[2017-01-28 21:24] #169 closed

[2017-01-28 21:29] toogley commented on #46
@raphaelfournier is this bug still relevant for you?

[2017-01-28 21:42] hvkls opened #338 "nntp: Cannot delete message(s): Operation not permitted by ACL"
NeoMutt 20170128 (1.7.2), on Mac OS X 10.11.6

This is new, NeoMutt 20170113-14-7f1397 (1.7.2) still worked

[2017-01-28 21:44] toogley commented on #338
what is ACL?

[2017-01-28 22:01] raphaelfournier commented on #46
Oh sorry for leaving this opened. In December, I got a more recent version and the problem seems solved.
Beware: it already happened last year that the problem solved by upgrading, and then reappeared (see messages above). I haven't bissected the problem.

[2017-01-28 22:01] #46 closed

[2017-01-28 22:14] toogley commented on #64
still happens with `NeoMutt 20161104 (1.7.1)`

[2017-01-28 22:33] toogley commented on #114
@RichiH is this still relevant for you?

[2017-01-28 22:50] guiniol commented on #337
@toogley do you have a `.notmuch` folder in `/home/toogley/.mail/`? Because I get this error when I don't point `nm_default_uri` to the right folder.

[2017-01-28 23:18] flatcap commented on #338
Hmm... we haven't touched NNTP in ages.
You can only "delete" messages if you're subscribed to the mailbox.
Can you check your list of subscriptions in `~/.newsrc`

[2017-01-28 23:22] toogley commented on #337
@guiniol

I have:

[code]

[2017-01-29 07:13] RichiH commented on #114
Will confirm tomorrow.

Richard

Sent by mobile; excuse my brevity.

[2017-01-29 07:34] hvkls commented on #338
My newsgroup setup hasn't changed in months if not years. It's just newsgroups I've been subscribed to all the time.

The old mutt version works, the new one doesn't, when fired up simultaneously or separately.

Could the Access Control List error be caused by the kyotocabinet cache?

Here's how and what I have compiled:

# Sun Jan 29 08:31:08 CET 2017
git pull
autoreconf --install --force
./confi

[2017-01-29 12:22] flatcap commented on #319
Things we can build/test:
* compile code (make) (build sets defined in [travis-build](https://github.com/neomutt/travis-build))
* test packaging (make dist, make distcheck)
* test install (make install, make uninstall)
* build/validate docs
* compile/validate translations
* validate scripts (shell, perl)

Riskier things we can do:
* Look for whitespace errors

[2017-01-29 12:33] toogley commented on #337
@vrthra @Vael do you have an idea what could be the reason for that?

Especially, do you experienced any similar problems while building NeoMutt 2017-01-28 (1.7.2)  ?

[2017-01-29 13:58] darnir commented on #295
Is this still under debate?

In my opinion, this is one of the first things we must look at before any other form of refactoring. As @guyzmo mentioned in #321, with a separate tracking branch, merging upstream changes is will not be that difficult. And I think this should be done *before* we make any changes to the build system. That way, whatever direction we decide for the build system, we have

[2017-01-29 14:48] toogley opened #340 "more colorschemes!"
I have been doing some work on [collected some colorschemes](https://github.com/neomutt/neomutt/tree/devel/colorschemes). This still needs to be integrated into the build process (to move it to the correct place while installing).

[2017-01-29 15:55] guiniol commented on #337
@toogley
I have a lot more stuff:

[code]

I don't have any `*.glass` files. This is with notmuch 0.23.5.

[2017-01-29 16:03] guiniol commented on #340
I use a monokai theme I made, but I don't know if it would be useful because I have my terminal setup with monokai colours so the colours in the mutt theme are defined as `red`, `green`, ...

[monokai.txt](https://github.com/neomutt/neomutt/files/737629/monokai.txt)

[2017-01-29 16:17] darnir commented on #340
That is a very nice move. And we should really have colorschemes shipped
as part of the contrib scripts. One thing I would like to do is ensure
that these colorschemes are feature complete. A lot of these colorscheme
files were made for an older version of Mutt, whereas Neomutt adds quite
a few new options, especially the sidebar cases. Also, cleaning them up
to be void of any personal choices (So

[2017-01-29 16:31] guiniol commented on #340
Good idea. We should start by deciding on a list of colours to define. Then each theme can define those colours and those colours only.

[2017-01-29 16:33] darnir commented on #340
We can track that on this issue. Let me see if I can come up with a short list quickly

[2017-01-29 16:36] guyzmo commented on #340
Having a couple of examples would be nice to setup a baseline, but I think we should rather share personal configurations some place else, like in an extra repository…

N.B.: *I would love to make happen at some point a `Plug` like interface using lua to make it possible to load a shared configuration plugin ☺ but that would be an independant project.*

[2017-01-29 16:40] darnir commented on #340
This is not a personal configuration but a collection of some general and popular colorschemes. I think it deserves a place in the contrib directory

[2017-01-29 16:40] toogley commented on #340
@guiniol Is that your colorscheme? Or do you have a source where it comes from?

[2017-01-29 16:44] guiniol opened #341 "Current position changes when displaying message"
Under some conditions (not sure which, and I received new email during my investigations which stopped the issue triggering), when displaying a message, neomutt shows the right message but think its position is on another message. This shows when going back to the index (the selected message is not the message that was being read) or when moving to the next message (the next message is not the mes

[2017-01-29 16:47] guyzmo commented on #341
next time it happens, could you try hitting <kbd>Control</kbd>-<kbd>L</kbd>? Sometimes displaying can look fishy with some 3-byte unicode characters.

[2017-01-29 16:48] guiniol commented on #340
@toogley the colours are all mine, but I took the base patterns from somewhere. Not sure. Maybe SvenG's

[2017-01-29 16:51] guiniol commented on #341
@guyzmo I can, but I'm pretty sure it was the position being wrong. It took me back to almost the beginning of my mailbox, always in the same place, and I had to scroll back down. Except for the position, everything looked right.

[2017-01-29 16:53] toogley commented on #337
@guiniol That is very odd - even deleting everything in .notmuch and do `notmuch new` again doesn't change anything.

[2017-01-29 16:56] toogley commented on #340
I guess we have license issues when we just include a colorscheme we don't know the source for?

[2017-01-29 16:59] guiniol commented on #340
@toogley If we write a list of colours to have for every colour scheme, I can fill it in. The colours are mine, so that should be ok. I think. IANAL

[2017-01-29 17:01] guiniol commented on #337
@toogley Deleting everything, and running `notmuch new`, I get a list similar to yours. However, neomutt doesn't complain...

[2017-01-29 17:04] toogley commented on #340
IANAL?

[2017-01-29 17:04] darnir commented on #340
I Am Not A Lawyer

[2017-01-29 17:07] darnir commented on #340
I've made a small list of various color options here:
https://gist.github.com/darnir/0c3cedf42c7684c8f6ae50a765edb066

It need not be complete and we probably will not use all of them. However, I think we can strip this list down to a set of options that we finally want all colorschemes to use.

P.S. The options were compiled by combining my custom settings on top of neonwolf and solarized. Don't

[2017-01-29 20:05] nobrowser commented on #224
@gahr No, I don't mean blocks like the one in your example.  That is not single line :-)

[2017-01-29 20:08] toogley commented on #340
another approval: https://github.com/KKPMW/moonshine-mutt/issues/1#issuecomment-275936148 - the author notes however, that his color scheme is based on another one - for which hasn't even looked at a license. I personally don't know how we should deal with this. But i guess the safest way is to care about the license.

[2017-01-29 20:34] toogley commented on #337
This is really odd. Especially because `notmuch search` works like expected.

[2017-01-29 21:09] nobrowser commented on #224
Thinking about it more - I try to be a mellow and flexible guy, but the braces rule would actually be a showstopper for me, my C coding style is based on short conditionals.  Hope you reconsider.

[2017-01-29 22:41] gahr commented on #224
@nobrowser yeah that's not a single line, but it's a single statement.

Are you suggesting that this is ok

if (a)
  b;

and this is not?

if (a)
  mutt_do_something(some_var, foo + bar,
    sizeof(something_else), this_is_long,
    ok_thats_enough);

[2017-01-30 02:06] guyzmo commented on #224
Well, personally I agree with @guiniol's last post. Writing a conditional that way:

[code]

is a huge waste of vertical space. Most of us have got 16:10 displays nowaday, and lines with a single character in middle of an algorithm serves no purpose, but make it harder to read a code.

But having a conditional like:

[code]

can lead to dangerous errors only due to typo-level errors, or prone to h

[2017-01-30 09:16] toogley commented on #224
@guyzmo @guiniol I completely agree with both of you.

Do we even have a reason for **not** using this coding style? I mean right now? We can also apply this coding style to patches from mutt upstream using clang-format. Because lines such as [these](https://github.com/neomutt/neomutt/blob/neomutt/crypt-gpgme.c#L66-L68):

[code]

are not changed often, i estimate that we don't have to manually cor

[2017-01-30 09:41] gahr commented on #336
I'll look into this

[2017-01-30 10:28] gahr opened #342 "Crash closing a non-opened mailbox"
## How to reproduce
1. Make sure that trying to lock the `Postponed` folder is going to fail (e.g., set `dotlock_program` to some non-existent path).
2. Try to save a draft
3. Mutt crashes with `Couldn't lock /root/postponed?Segmentation fault (core dumped)`

## Reason
Failure to open an mbox causes it to be immediately fast-closed (see [here](https://github.com/neomutt/neomutt/blob/neomutt/mx.c#L

[2017-01-30 10:51] gahr commented on #336
I get the same behaviour with plain mutt (1.7.2). Can you please post the output of `mutt -D -S`?

[2017-01-30 15:23] gahr commented on #333
The forced redraws are necessary when an operation causes pinentry to pop-up. Investigating how to figure out that it has happened, so that forced redraws can be limited to when they are actually needed.

[2017-01-30 15:23] gahr commented on #333
Let us consider the unnecessary refreshes as a bug...

[2017-01-30 17:15] gahr commented on #336
The reason I got the same behaviour with mutt is because I have `folder` set to my imap server.

The change is due to [ae65f34]. As @flatcap suggested, we could restore the old behaviour when attaching a file - in which case is likely that one wants to browse the local filesystem, not a remote IMAP server directory tree.

[2017-01-30 17:44] guiniol commented on #224
@toogley I think the idea here is to choose a coding style, not too far from mutt's own, that we would all enforce.

For example, see:

BTW, @nobrowser, could you clarify?
Does that mean you are against putting braces if not necessary, or is it against the brace alone on its line?

[2017-01-30 18:45] flatcap commented on #239
This patch has been adopted by upstream mutt.
It hasn't been merged into neomutt yet.
This can be closed when #334 is closed.

[2017-01-30 19:05] flatcap commented on #334
Note to self:
Merge the conflicting code:
- hashes
- new label
- subjectrx

The use the remaining commits as a test of clang-formatted source tree.
Get git to ignore whitespace, or have an intermediate merge tree.

[2017-01-30 19:42] bbenne10 commented on #332
https://github.com/neomutt/neomutt/blob/8af113cf940ffe9ed91025f3b47e5ba848cb90bf/README.notmuch#L111

The above link shows that at the time of writing the intended usage involved calling `<sync-mailbox>` after applying the `<quasi-deleted>` state. Closing based on that finding. Sorry for the noise (though maybe this could be better documented somewhere?)

[2017-01-30 19:42] #332 closed

[2017-01-30 20:55] lafrenierejm opened #344 "$realname ignored when assembling From"
I set `$realname`, but it is not included in From for replies or new messages.

[2017-01-30 21:29] gahr commented on #344
What's in your 'from' variable?

[2017-01-30 21:39] lafrenierejm commented on #344
@gahr

These are the relevant lines from my muttrc:
[code]

[2017-01-30 21:45] gahr commented on #344
Thanks, will look into this tomorrow (UTC)

[2017-01-30 23:56] nobrowser commented on #224
I guess I could live with the K&R style where braces are enforced but the opening brace is on the same line as the controlling keyword.  Still a pain, but I want to be reasonable.

[2017-01-30 23:58] nobrowser commented on #224
@gahr : yes, that is what I am saying.  The conditionals which result from the quirks in my style are never that long.

[2017-01-30 23:59] #342 closed

[2017-01-31 00:49] flatcap commented on #338
OK, it's something I've broken in commit: 6800b2a
Sorry.  Investigating...

[2017-01-31 01:34] flatcap commented on #338
@neomutt/reviewers please review

[2017-01-31 02:26] flatcap commented on #323
Operator error :-(

[2017-01-31 02:26] #323 closed

[2017-01-31 02:54] flatcap commented on #338
This minimal config can be used to test nntp:
[code]

Instructions:
- run mutt
- press 'i' to change newsgroup
- ok the certificate
- press '?' to list newsgroups
- select one
- press 's' to subscribe to it
- select it and press '\<enter\>' to open it
- Try deleting some emails using 'd'
- Sync mailbox to complete the deletion

Outcome mailboxes are 'deleted' from view

[2017-01-31 05:41] hvkls commented on #338
That's it. Many thanks!

[2017-01-31 05:41] #338 closed

[2017-01-31 08:38] gahr commented on #344
I am not able to reproduce. Can you post the output off `mutt -v` and `mutt -DS` ?

[2017-01-31 09:04] gahr commented on #224
https://github.com/neomutt/neomutt/commit/7f1397a24d4d11b89a8a0a252e8bd55a5cd2c233#diff-2b55bd999c116ae04ed4e85e08c828abR572
So, where do we put the limit?

today it's
[code]

tomorrow it might be

[code]

and we might decide to reformat it as

[code]

will this require adding curly braces?

Compare

[code]

to this

[code]

My bottom line is, even if the only advantage of *always* using braces -

[2017-01-31 10:58] rr- opened #346 "IMAP: mailbox closed"
I am enthusiastic to see an actively maintained fork of mutt.
Unfortunately the ages old issue with random closing of IMAP mailboxes is still present here.

http://mutt-users.mutt.narkive.com/gy14Cvl9/mailbox-closed-mutt-behaviour

Can neomutt be configured to connect every n minutes and during mailbox syncing (`$`) rather than maintaining active connection at all times that gets randomly killed?

[2017-01-31 11:43] flatcap opened #347 "multiple timeout-hooks cause crash"
This minimal config file causes mutt to crash.
**crash.rc**
[code]

Steps to reproduce:
- start mutt
- source crash.rc
- wait for timeout

Reproducable?
- Always

[2017-01-31 11:46] guyzmo commented on #346
hm… wouldn't it be possible to check if the connection is still alive, and if it's not respawn it, before doing any action using the socket? Having the socket opened allows for a more seamless "instantaneous" behaviour, you get mail as soon as it's available, and I guess mutt+IMAP users like it (I'm not using the feature).

[2017-01-31 11:59] flatcap commented on #241
@neomutt/reviewers please review

Steps to test:
- run mutt
- open email (go to pager)
- create hook: `timeout-hook 'exec previous-undeleted'`
- wait for timeout

Expected result:
- selected email changes every `timeout` seconds
- continues changing selection when you return to the index

[2017-01-31 12:13] gahr opened #348 "IMAP AUTH PLAIN fails if SASL is not available"
Currently, the bundled SASL PLAIN implementation for IMAP doesn't differentiate between a NO (wrong credentials) and a BAD (invalid command, i.e., IMAP server knows nothing about SASL). Both responses are treated as authentication failures and the remaining authenticators are not tried.

This causes a regression when the user hasn't specified any `imap_authenticators` and the server supports only

[2017-01-31 13:19] #241 closed

[2017-01-31 14:54] rr- commented on #346
Reconnecting of course would be great as well :+1:

[2017-01-31 15:25] #348 closed

[2017-01-31 17:44] lafrenierejm commented on #344
`mutt -v` gives:
[code]

[2017-01-31 17:46] lafrenierejm commented on #344
`mutt -DS` gives:
[code]

[2017-01-31 18:13] guiniol commented on #347
I'll check it out, it's probably my fault from when I removed the first arg of timeout-hook

[2017-01-31 19:04] flatcap commented on #344
Sorry, I can't repeat this, either.
I copied your config **exactly**, adding only:
[code]

The mail arrived:

[code]

Setting either, or both of these had the expected effect on the "From:" header.

[code]

[code]

[2017-02-01 12:19] gahr commented on #344
@lafrenierejm the behaviour you're seeing is because of the `--enable-exact-address` configure swtich (showing as `+EXACT_ADDRESS` in the output of your `mutt -v`). Is this something you set on purpose? I haven't looked at the details of why this switch exists and what it provides, but turning it off should fix the issue for you.

@flatcap are you in a position to state whether this is a bug or a

[2017-02-01 12:32] flatcap commented on #344
@gahr
I was aware of that configure switch, but I don't know why it's there.
I haven't tried enabling it.  It needs investigating.

[2017-02-01 13:26] #347 closed

[2017-02-01 15:10] gahr commented on #220
@sthen  Could you please try and see whether you can reproduce with a newer version?

[2017-02-01 15:20] gahr commented on #270
@Knusper Are you able to reproduce with a newer version of neomutt?
Also, what's your `sidebar_delim_chars` variable set to?

[2017-02-01 15:22] gahr commented on #306
@joeljohnston Hi Joel, are you able to please provide the whole log file?

[2017-01-19 17:00:05] 7> a0004 UID FETCH 1:411757 (UID FLAGS)
[2017-01-19 17:00:15] 7< * 1 FETCH (UID 62 FLAGS ())

[2017-02-01 15:52] #333 closed

[2017-02-01 16:05] Knusper commented on #270
I will get back to you on the weekend regarding testing with a newer version.

`sidbar_delim_chars = '|'`

[2017-02-01 16:09] gahr commented on #270
@Knusper that's why, then. `sidebar_delim_chars` is what is used as a path separator when shortening the paths. Please set it to `'./'`.

[2017-02-01 16:19] Knusper commented on #270
OK - `sidebar_delim_chars = '/'` and `set_short_path=no` produces nearly what I want.  But I also have to make `mailboxes +mailbox1/Inbox` instead of `+/mailbox1/Inbox` to remove the trailing slash.   Anyway, now it works again. And I think this bug is invalid, it was just strange that it worked before with my wrong configuration.  The reason I probably got confused was, that `sidebar_delim` sound

[2017-02-01 16:22] gahr commented on #270
Yep that explains. Thanks!

[2017-02-01 16:22] #270 closed

[2017-02-01 17:13] darnir commented on #301
Which option enables the INBOX-first sorting? I can't find any reference to it in my muttrc or the docs

[2017-02-01 17:22] darnir commented on #301
The fix for this bug broke my mailbox sorting.
Image for reference: http://imgur.com/a/pIcnf

[2017-02-01 17:43] nobrowser opened #355 "Danger: DMARC about to kill mailing list experience"
Please see the thread on [exim-users](https://lists.exim.org/lurker/thread/20170201.172654.3fd9169f.en.html).

I'd like mutt to be ready if this happens, and

1. Continue to display real sender name in the index (%F)

2. Continue to process personal (r) and group (g) replies correctly, if at all possible.

It may need a new configuration command or variable to tell it where in the header to find t

[2017-02-01 17:56] gahr commented on #301
Thanks! I fear the sorting isn't stable when mailboxes belong to different paths.. can you please post the full path of your mailboxes?
I'll get this sorted (...) tomorrow.

[2017-02-01 18:09] lafrenierejm commented on #344
@gahr
Thank you for the recommendation. I'm using @Vaelatern's package for Void Linux. I'll talk with him about the reason for compiling with `--enable-exact-address`.

[2017-02-01 20:11] joeljohnston commented on #306
I'm afraid it's got too many tidbits of potentially proprietary info.
There's no nfs involved, going straight to ssd. I've kind of given up on
this for now unfortunately, already sank a good bit of time in to trying to
make it work to no avail.

Thanks,
Joel

On Wed, Feb 1, 2017 at 7:22 AM, Pietro Cerutti <notifications@github.com>
wrote:

--
Best Regards,

Joel Johnston
*(858) 771-4531*

[2017-02-01 22:25] lafrenierejm commented on #344
The Void package was rebuilt with `--enable-exact-address` removed.  This seems to have solved the problem.

Thank you @gahr and @flatcap for your help.

[2017-02-01 22:25] #344 closed

[2017-02-02 17:08] guyzmo commented on #355
TBH, I'd rather close this and move the discussion over `neomutt-users@` ML where that kind of discussion is better suited. The thread you link only exposes an issue, and just imagine a few solutions, but nothing solid. And for sure, haskell's ML solution is not the greatest.

[2017-02-02 17:43] gahr commented on #355
Wouldn't waterfalling through Reply-To and X-Envelope-From be enough, in cases when:
- any of this is set, and
- they are different than From
?

[2017-02-02 18:44] alarig opened #357 "Problem displaying narrow no-break spaces under freebsd 11"
I’ve upgraded from freebsd 10.2 to freebsd 11 and since then I see 'M-}' instead of ' ' in the mails.
vim and weechat are displaying this character correctly. I’ve tested it with the versions 20161104 and 20170128.
All other non ASCII characters are displayed correctly.

Thanks,
\--
alarig

[2017-02-02 18:48] gahr commented on #357
I'll take this, as I have a similar setup.

[2017-02-02 19:07] gahr commented on #357
I can reproduce with neomutt (the branch), 20161126, and 20161104.

[2017-02-03 11:51] gahr commented on #357
So, the issue is with out pager not able to display `U+202F NARROW NO-BREAK SPACE`, which is `0xe2 0x80 0xaf` in utf-8. Mutt-1.7.2 does *not* have this problem.

[2017-02-03 15:08] nobrowser commented on #355
1. X-envelope-from is not the only spelling, in fact it totally depends on the delivering MTA. Mine sets return-path.

2. In this situation the envelope address is likely useless and of the form (approximately) haskell-cafe-bounces-0123456789.me=my.dom@haskell.org

3. In the thread I linked I advocate for the list to set a new header with the original sender

[2017-02-03 15:20] gahr commented on #355
I see, thanks for the clarification.

[2017-02-04 22:43] gahr opened #359 "Import upstream hcache-lmdb bugfixes"
Upstream has [just imported](https://dev.mutt.org/trac/changeset/fca7e504ab6a0de506f33ddde90267d07dc74049) support for using LMDB as a header cache backend.

Two bug fixes by Kevin are worth importing:

* Use mdb_txn_abort() to free up readonly/reset transactions, and avoid leaking memory

* Use dprint, not fprintf, for debugging messages.

[2017-02-05 01:10] flatcap commented on #224
## Overview

@toogley

Yes, that's the goal, but we should be prepared for a journey of several stages.

Tidying the code will make it more consistent and easier to read.
But that's just one step.  After that will come much more refactoring to undo
the years of neglect that the code has suffered.

This will always be a problem.  Whatever style we pick, there will always be
some places where we wan

[2017-02-05 01:11] flatcap commented on #224
## Upstream

Upstream's preferences are:
- No tabs
- 2 space indent
- `{}`s on new lines

The plan is to reformat NeoMutt's code base in such a way that we can still
integrate upstream Mutt's patches.  This limits how much we can change.

Additionally, there are three other style choices where the NeoMutt developers
have expressed a preference.

- No space between the function name and the opening

[2017-02-05 01:11] flatcap commented on #224
## Braces

I'm reluctant to make a strict ruling, here, as long as one guideline is followed:
- The meaning of the code must be **immediately** clear.

Let's start with a simple case, one that I think everyone will accept.
Both the condition and the action are short and the entire 'if' is easy to parse.

[code]

Also, this case is simple to read:

[code]

At the other extreme, this is from `find_s

[2017-02-05 01:11] flatcap commented on #224
## Whitespace

All these cases are handled by clang-format:
- No trailing whitespace
- No tabs
- No spaces inside () or []
- Space around operators:
  - Maths `+-*/`
  - Logic `&&`, `||`
  - Comparisons `>=`, `==`
  - etc
- No space between a function name and '('

[2017-02-05 01:13] flatcap commented on #224
## Neomutt Additions

`clang-format` can enforce a lot of style onto the code, but I'd like to suggest
a few more things.  If an idea is liked, it may get added to our style guide.

### Distinguish between `0` and `NULL`

Pointers should be assigned to `NULL`, not `0`.  This helps to reinforce the
type, especially when you're deep with a function.

[code]

`strcmp()` returns `0` when the strings m

[2017-02-05 01:15] flatcap commented on #224
## Wrap Up

Any code that **needs** to stay as it was written should be surrounded by the
comments:
[code]

These should be used as little as possible.

An alternative, for some situations is to use a strategically-placed comment:
[code]

Many people have shown a preference for the `{}`s to be nestled.  Unfortunately,
this means there are changes to the 'if' line, which make a nightmare out of
imp

[2017-02-05 10:16] toogley opened #361 "Website says Fmemopen feature is disabled due to an unsolved bug - but no bug is listed."
The description of the [fmemopen feature](https://www.neomutt.org/feature/fmemopen) says:

but the section `4. Known Bugs` says no bugs exist for this feature, which is contradictory.

*(as far as i understood, everything in neomutt.org/feature is also generated from the docs folder, therefore i post this issue here)*

[2017-02-05 11:06] gahr opened #362 "Remove first argument from mutt_debug"
`mutt_debug` is only called by the `dprint(N,X)` macro. The macro is defined as

[code]

and a common use is

[code]

It's pretty clear that:
1) `mutt_debug` is only called with `debugfile` as its first argument
2) if `dprint` was called with anything else than `debugfile` as part of the function call construction appearing in its second argument `X`, an inconsistent check would be done within the

[2017-02-05 12:50] flatcap commented on #362
Only last night, I was thinking the same -- your psychic powers are far-reaching!

Whoever created the prototype for `dprint` needs to go back to school. \*shudder\*.

If we're going to change all the `dprint`s, then we might as well adopt @d-k-c's replacement.
It was a nice of bit of work, but when he posted it to mutt devel, it was deemed "too invasive".

[2017-02-05 12:55] flatcap commented on #361
Good call.

`fmemopen` was in widespread use until one person found one problem, intermittently, on one arch.
I couldn't find the problem at the time, but I thought it serious enough to disable for all users.
This is a shame, because it should improve performance (I haven't any data to back that up).

[2017-02-05 14:22] #301 closed

[2017-02-05 14:32] d-k-c commented on #362
The patches I sent upstream can be found here:
http://marc.info/?l=mutt-dev&r=2&b=201608&w=2

Kevin made some remarks on patch 1/8, so maybe it can be skipped. My patchset was a bit more invasive than what you suggest, so we can make it step and step and indeed start by just getting rid of debugfile in mutt_debug.

When this is done, to keep cleaning the debug part, I would also suggest to replace

[2017-02-05 15:17] #359 closed

[2017-02-05 15:33] gahr commented on #362
[@d-k-c 's take](https://github.com/d-k-c/mutt/commit/10eb3348b2c094c43d019c8084c5eae21a3fe6c8.patch) was indeed a more complete approach. Let him do the dirty work :)

[2017-02-05 16:53] gahr commented on #306
From what I can see from the log files, the header cache is working just fine. The `UID FETCH` command only asks for (`UID FLAGS`), this line in your logs:

[code]

In absence of a populated header cache, it would go off and fetch a whole bunch of other things; from my log:

[code]

Perhaps the connection to your IMAP is so slow that even fetching a small amount of information is painful? 411757 m

[2017-02-05 16:53] #306 closed

[2017-02-05 18:13] gahr commented on #245
I have a utf-8 demo mail that I use for this kinds of test. I cannot reproduce it. @ThomasAdam could you please confirm that you're still seeing this behaviour with the latest release of NeoMutt?

[2017-02-05 19:55] nobrowser commented on #224
No other C99 features?

I have already used tagged initializers in my contribution, and I find them indispensable.

Variable-length arrays would help a lot, too.  With them one can often avoid malloc / free and the ensuing need for extra error checking and block nesting.

[2017-02-05 20:12] gahr commented on #224
I mildly oppose to this. Variable length arrays are dangerous. They can lead to stack allocation failures that - unlike malloc - you cannot check or recover from.

Avoiding malloc/free for any piece of tmp buffer you need is good, but to achieve that I suggest to use a big-enough-in-most-cases fixed array on the stack à la `char tmp[STRING];` and resort to malloc only in the unlikely case that you

[2017-02-05 20:26] gahr commented on #211
Is this still relevant? I cannot reproduce.

[2017-02-05 20:33] ThomasAdam commented on #245
Sorry it's taken me so long to get back to you.

It is still happening.  The email is attached.
[problem_email.txt](https://github.com/neomutt/neomutt/files/753284/problem_email.txt)

[2017-02-05 21:12] gahr commented on #245
I can reproduce, after I change the `Content-Transfer-Encoding` header from `base64` to `8bit`(the file you posted is not base64-encoded). I will track this down.

[2017-02-05 21:38] RichiH commented on #211
I sometimes can; feel free to close and I will open a new one when needed.

Richard

Sent by mobile; excuse my brevity.

On Feb 5, 2017 21:26, "Pietro Cerutti" <notifications@github.com> wrote:

Is this still relevant? I cannot reproduce.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/neomutt/neomutt/issues/211#issuecommen

[2017-02-05 21:46] gahr commented on #245
The problem is with the pager which is unable to properly display `'FULLWIDTH COMMA' (U+FF0C)`, which is the 7th character (counting form 1) on line 108 (婚姻是一本书，...).

[2017-02-05 21:50] gahr commented on #245
Also confirmed with mutt-1.7.2

[2017-02-05 21:52] gahr commented on #245
The `--enable-locales-fix`configure switch seems to solve this problem. @ThomasAdam could you please check with a build with that flag enabled?

[2017-02-05 22:00] ThomasAdam commented on #245
Yep; seems to fix the issue.

[2017-02-05 22:05] gahr commented on #245
@ThomasAdam could you please also check without the switch and with the patch in 1ff0351?

[2017-02-05 22:19] #357 closed

[2017-02-05 22:28] ThomasAdam commented on #245
@gahr -- looks good.  Tested it.  This seems to fix it.  Thanks.

[2017-02-05 22:57] flatcap commented on #224
@nobrowser

Yes, they're useful.  I'll add them to the list.

Hmm... useful, certainly, but as @gahr points out potentially dangerous.
That said, Mutt's approach to memory management is to print a message, then `exit(1);`
I'll have a think and do some reading...

Anything else, I've missed?

[2017-02-05 22:57] dannyob commented on #149
@guiniol I looked into this, and it seemed like the existing neomutt dealt with the situation that autoselect was intended to solve, which I believe is if there's one (and only one) strong key, then mutt should just use that one.

Can you describe what you're seeing with your work colleagues?

[2017-02-05 23:13] guiniol commented on #149
@dannyob When I try to send an email to specific colleagues, I am presented with a menu to select a key to encrypt to. All the keys in the menu have the same key id, but the emails differ, which, I guess, is why it's showing them to me. Isn't that the behaviour you were describing?

[2017-02-06 00:46] flatcap commented on #245
The test email just renders as garbage unless, as @gahr suggested I change the `Content-Transfer-Encoding`.  Then, it renders correctly.  I can't reproduce the problem at all.

I tried with and without `--enable-locales-fix` and plain neomutt and plain mutt, but those wide commas always render correctly for me.

Aside from that, the code change looks reasonable.

[2017-02-06 01:02] dannyob commented on #149
So looking into the code, it looks like neomutt will show you one key id as you describe if that key isn't "strongly validated". If you sign the key with gpg --sign-key or gpg --lsign-key, you should be able to skip the menu. This was also what autoselect was supposed to do -- I haven't found a situation yet where autoselect doesn't match what neomutt does by default. But I'm still eager to find o

[2017-02-06 01:36] d-k-c commented on #224
- When creating a new structure, do we prefer `struct mystruct { };` or `typedef struct { } mystruct_t;`? My personal preference is the former.
- I think snake case is mutt's style, could be great to write it down somewhere
- No magic macros for thing that are idioms of complexify code discoverability (I'm looking at you `FOREVER` and `WHERE`).
- Caps should be used for enums, `#define`-ing consta

[2017-02-06 01:38] flatcap commented on #211
@gahr I can't remember exactly what I did to test this bug.
I've just tried repeatedly killing the imap connection whilst in the pager, the compose screen and the attachment screen.  The connection died, but neomutt didn't.

[2017-02-06 01:59] flatcap commented on #224
@d-k-c Good points, thanks.
I prefer the `typedef`d version, just because it's shorter, in use.  But, we'll see what the others think.
snake_case: yes
caps for enums and defines: yes
macros: They're useful when you need `__FILE__` and `__LINE__`, but apart from that, most of mutt's macros should die.

[2017-02-06 05:32] nobrowser commented on #224
What is snake case?  I feel like a newbie!

[2017-02-06 06:22] toogley commented on #224
@nobrowser writing variables with `_` to separte words: `snake_case`, instead of using capitals like `camelCase`

[2017-02-06 09:14] gahr commented on #224
`int function(int y)`

I would like differentiate between declarations and definitions. For declarations, `int function(int y);` is fine. However, having the return type on a line by itself makes it so handy to look up a function definition by a simple `grep ^function *.c`. Could we please have it?

[2017-02-06 11:23] rusnasonov opened #367 "imap4 partial fetch request"
This task taken from mutt issue tracker
https://dev.mutt.org/trac/ticket/3465

It's very  useful feature, if you have folders with many email and you don't want download all them

[2017-02-06 13:39] gahr commented on #245
@flatcap most likely your locale definitions are better than ours. Could you please try to compile this program and run it with `0xFF0C` as its first argument?

[code]

Here I get:

[code]

So, the terminal can print the full-width comma just fine, but `iswprint` returns 0 (non printable).

[2017-02-06 14:02] flatcap commented on #245
I get:
[code]

[2017-02-06 15:36] #346 closed

[2017-02-06 17:08] guyzmo commented on #224
no brainers, I'm ok with:

* [x] no CamelCase, only snake_case
* [x] no VLAs (thank you @gahr for the discussion ☺)
* [x] no magic macros that are just for the hell of it
* [x] tagged initializers

things I'm not agreeing with:

* `typedef` the structs, is ok, unless the very rare and specific cases where you want to expose a singleton. Those should be justified, considered with all the care in th

[2017-02-06 18:04] rr- commented on #346
I can confirm it works but after relogging, the mails in the inbox are gone and it shows empty list.

[2017-02-06 18:11] guiniol commented on #149
I checked and the key are signed by me already. Did you configure anything or does it just work by default?

[2017-02-06 18:48] guiniol commented on #224
After seeing everyone having an opinion on everything, I say we should let our dictator @flatcap decide. We're never going to agree on everything, and, TBH, the improvement from the current mess to a properly formatted codebase is so much better than the improvement from whatever we decide to `my_verySpecific_codingStyle` that I will take it anyday. Even if we have one-space indents and three empt

[2017-02-06 19:31] guiniol opened #369 "Use `mutt_buffer_init` in hook.c"
A couple of buffer are being initialised using `memset` instead of the `mutt_buffer_init` dedicated function. This is mostly cosmetic but should be fixed.

[2017-02-06 20:05] toogley commented on #224
@gahr Although i like sometimes grepping through source code, i agree especially with the last paragraph of @guyzmo 's opinion. With

* https://github.com/universal-ctags/ctags and
* https://www.gnu.org/software/global/

we have some very well working tools for that purpose, IMHO.

[2017-02-06 20:41] gahr commented on #224
I have stated the pro of having the return type on its own line. Of course I can do without and use several other tools to locate a function definition.

The point is, what are the cons?

One less line of code? Is this really what we're spending so much time and words on? Come on, I thought we got nastier stuff to get sorted..

[2017-02-06 22:43] guyzmo commented on #369
as we're at it couldn't we change a few things:

1. `BUFFER` into `buffer_t` in [`mutt.h`]
2. make `mutt_buffer_init()` inline (defined in [`muttlib.c`] (which would then need to move in the header).

I think the first change would be a good improvement towards readability, and the second one is debatable.

[`mutt.h`]:https://github.com/neomutt/neomutt/blob/master/mutt.h#L129,L135
[`muttlib.c`]:ht

[2017-02-06 23:44] gahr commented on #224
@flatcap could we please have a rule that forbids casting void pointers and NULL (the only exception being varargs, of course ;) ?

[2017-02-07 04:48] toogley commented on #295
Also @d-k-c expressed his love for this change on IRC.

As far as i understood @flatcap 's merging process of upstream comments, its at least only half way automatized, he does at least one part manually (at the moment). I think that's one of the biggest points preventing this issue from being implemented - that means, when we can automtize big parts of merging upstream stuff (e.g. automatically l

[2017-02-07 06:30] toogley commented on #224
@gahr Hm, does having the return type on its own line other advantages besides easier grepping? About the cons: I don't know, i haven't worked much with that style. But maybe that will lead to a (small?) hurdle for new contributors, which are most likely used to a style like:

[code]

regarding disallowing casting void pointers and NULL: What are the problems when that is done? (Just curious here

[2017-02-07 07:04] gahr commented on #224
Uhm, if I had to come up with another advantage, I'd say that it is in line with both the [GNU](https://www.gnu.org/prep/standards/standards.html#Formatting) and the [BSD](https://www.freebsd.org/cgi/man.cgi?query=style&apropos=0&sektion=9&manpath=FreeBSD+11.0-RELEASE+and+Ports&arch=default&format=html) coding styles.
So, there's a bit of a chance that new contributors having worked with either ar

[2017-02-07 07:46] gahr commented on #224
[Mozilla](https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Coding_Style#Methods) too.

[2017-02-07 08:46] gahr opened #372 "Do not cast the return from malloc et similia"

[2017-02-07 10:10] guyzmo commented on #295
moving files is a use case git is pretty good at, as long as you move files in a single commit without modifications in them, so merging is not really an issue here. The only issue is with the changes in the autoconf crap, that might conflict or become wrong when upstream will add/remove files from there. But hopefully this happens very rarely.

[2017-02-07 10:17] guyzmo commented on #295
Basically, the first simplest step we could do would b to move everything from the root of the sources into an `src` directory, so it becomes like:

[code]

we could also move or merge some of the above root-level documentation into a directory.

[2017-02-07 11:27] darnir commented on #295
I agree with @guyzmo. Git is good at handling these changes. And if you keep a separate staging branch, `rerere` will help handle any merge conflicts and replay them automatically

`configure.ac` changes should be rare enough that we can handle them manually. And they're usually not very large changes.

[2017-02-07 12:38] toogley commented on #295
@guyzmo Does that mean, git allows us to to apply upstreams commits **directly** to our codebase even when the path is differnt? By "directly" i mean without asking everytime to correct sth, without any complaints?

[2017-02-07 12:58] gahr opened #374 "Lists, queues, and the like"
Something I've been thinking over the past several days is that we could get rid of our own (multiple) implementations of node-based data structures and adopt a macro-based approach (uh!).

Both the [FreeBSD](https://www.freebsd.org/cgi/man.cgi?query=queue) and the [Linux](https://linux.die.net/include/sys/queue.h) kernels provide implementations (the latter being a version of the former with the

[2017-02-07 12:59] guyzmo commented on #295
yes, upon rebase, it will replay the patch through the thread of commits before the move happened, then apply the move on that file. If you've got two branches like:

[code]

and you do a `git rebase B` when you're onto `A`, you'll get:

[code]

if you do a merge, the same principle will apply:

[code]

but without rewriting history and with a merge commit.

Conflicts would happen *only* within th

[2017-02-07 13:28] darnir commented on #295
We should ideally rework the entire `autotools` setup. However, my point was that upstream will rarely make very large changes to their build system. So we can manually make the same edits on our side without too much trouble.

[2017-02-07 13:31] darnir commented on #374
The one large issue with using either the FreeBSD or Linux versions of queues is portability. We can't expect these headers to exist on all the possible systems. And maintaining our own copy of these is a bad idea.

In general, I am not fond of using a macro based approach for anything. Modern compilers are smart enough to inline code when needed. If we can find a good library that provides these,

[2017-02-07 13:48] toogley commented on #321
@guyzmo I'd also be interested in the answer to @nobrowser 's question :)

[2017-02-07 13:50] toogley commented on #295
maybe it makes sense to first untangle the documentation generation script from the need to use autotools?

[2017-02-07 14:39] guyzmo commented on #295
@darnir that's the topic of the discussion of #321 (staying with a reworked autotools being a possible way to go)
@toogley I'm opinion-less about that.

[2017-02-07 14:43] darnir commented on #321
Aye. I support keeping autotools. Unless you can convince me that cmake actually provides more advantages.

[2017-02-07 14:49] guyzmo commented on #321
the issue with current autotools setup is that it's a huge pain to actually change anything without breaking the whole build. Just reorganizing the tree as suggested in #295 would end up in a countless hours job.

[2017-02-07 14:53] guyzmo commented on #321
As an "easy" first thing to do: if all the libc-patching .c files laid at the root could be moved to a libc-patch subdir, it would be great to get rid of those at the first level.

[2017-02-07 14:58] darnir commented on #321
I agree that the `m4` syntax is arcane. But I don't agree that this alone is overwhelming enough to drop autotools. Such re-arranging of the build system happens once and it'll be stuck like this for the next few years (~10).

Also, autotools does indeed support wildcards and lists, just as cmake. And reorganizing the tree will not take as much time as you currently believe. Though, since we are r

[2017-02-07 15:00] guyzmo commented on #374
mutt has this approach of having portability always in mind, without having external deps, meaning to reimplement stuff like that.

Here we can have two approaches: either we reimplement our own (current approach), or deal with all the existing versions (your suggestion). If we go with platform approaches, we need to check the availability to all our best effort targets (linux, *BSD, darwin, solar

[2017-02-07 15:05] gahr commented on #374
I would definitely *not* reimplement anything. I'll just import queue.h from BSD or Linux.

Why? Those have been in use for several (twenty?) years, they are definitely stable.
Here, "maintaining" would really not be much more than "check perhaps once a year if there have been big improvement upstream"

[2017-02-07 15:15] gahr commented on #374
As for the "macros are bad" argument, yeah I agree in most cases, but you can't do composition in C (object orientation, if you like) without them *or* without doing everything by hand.

Look at GObject..

[2017-02-07 15:17] guyzmo commented on #374
I'm ok with either solution, as long as it's fully covering our use cases: traditional single link lists and single linked heap, with all the list/heap methods implemented on them. (I did not check the full implementation of the linux/bsd ones).

About object composition, AFAICT, we only care about a string datatype in mutt lists, so it's not a first class reason to switch.

[2017-02-07 15:23] gahr commented on #374
By object composition here I mean the composition of a list data structure (`next`, possibly `prev` links) and the operations to work on them with our data structures (`HEADER`, ...)

[2017-02-07 15:24] flatcap commented on #374
[aside]

C11's anonymous structs allow you to compose (no we're not moving to C11 :-)

[2017-02-07 15:35] toogley commented on #321
@darnir do i understand you correctly that people who just want to use neomutt would have to install cmake?

[2017-02-07 15:38] guyzmo commented on #321
@darnir: what you say can be done to reorganise the source code, use wildcards, etc.

I've spend a few hours trying to reorganise the source code, and ended up in an autotools nightmare, which I could untangle, but that would be like 2 days of work I could be doing stuff I'm more efficient at. My conclusion: I'm not the right guy to refactor the autotools stuff ☹.

[2017-02-07 15:40] guyzmo commented on #321
@toogley for the cmake solution, yes:

step ①: install cmake
step ②: mkdir build; cd build; cmake ..

[2017-02-07 15:40] pickfire commented on #321
I suggest kbuild which is used on linux as well as coreboot which provides a nice interface. Simple and easy menu to choose the features used.

[2017-02-07 15:45] darnir commented on #321
@toogley : No, people that want to build neomutt from the release tarballs would require cmake. On the other hand, autotools is required only by people that want to build from git.

@guyzmo: I'll give it a shot. I'm extremely busy till next month, but after that I have time and I would be happy to work on refactoring the autotools code to make it cleaner and easier to handle in the future.

[2017-02-07 15:54] toogley commented on #321
@darnir can you explain, why people building from the tarball don't need to have installed autotools?

[2017-02-07 16:18] guyzmo commented on #321
@toogley because the first step `autoreconf --install`  is there to generate the configure script and the Makefiles, which is an intermediate step to adapt the sources for portability (where are the libs, which features are available, which are not…). Then when you install from a release tarball, you just do `/configure && make` and you're good to go.

`cmake` does this all in one step, so when yo

[2017-02-07 16:35] toogley commented on #321
@guyzmo Thanks a lot for explaining :)

[2017-02-07 17:35] gahr commented on #321
FWIW, I'm also in favour of keeping the current autotools setup. m4 files are touched rarely and are usually imported from elsewhere anyway.

CMake is a pain just as much, as soon as you get past the toy project. Plus it has the "disadvantage" of needing to be installed.

Has anybody actually tried to get any of the AC_CHECK_LIB and similar functionality with CMake alone? If the dependency doesn't

[2017-02-07 20:40] guiniol commented on #369
I didn't realise that we were moving from all caps to type_t, but I like the second style better, so that's fine by me.

That's a good change too.

This turns the PR into a bigger "fix the buffer def and init" but that's fine by me. I'll also check for other places where `mutt_buffer_init` should have been used.

[2017-02-07 21:21] d-k-c commented on #224
Where-does-the-star-go moment:
- `char *c;` vs. `char* c;` (I think this one is mostly stelled in favor of `char *c;`)
- `int* my_func(void)` vs `int *my_func(void)`

[2017-02-07 21:27] flatcap commented on #224
For functions, it would have go on the "type" line:
[code]

[2017-02-07 21:32] gahr commented on #369
Could we please have a separate discussion about s/BUFFER/buffer_t/? I'm not sure there's consensus yet..

[2017-02-07 21:37] gahr commented on #224
@d-k-c char *c;
@flatcap yes!

[2017-02-07 21:47] guiniol commented on #369
@gahr very well.
Let's merge this and we can revisit the rest once we have a coding style decided.

[2017-02-07 22:18] flatcap opened #377 "Creating buffer.c"
This task is more investigation, than coding (to start with).
There are 9 functions that deal with `BUFFER`s:

[code]

I wonder if they can be moved into `buffer.c` and their headers into `buffer.h`?
What do the functions depend upon?
What's the minimum we can change to achieve this?

[2017-02-07 23:29] gahr commented on #374
@guyzmo, I've never heard of such a think as "single linked heap". I know what a singly linked list is, and what a heap is. The latter is a tree in which certain conditions are met.
From this typedef struct list_t HEAP; I get that you mean nothing different than a list where you insert and remove at the head. Is that it, or am I missing something?

[2017-02-08 00:20] guyzmo commented on #321
@gahr my point is mainly that current situation with the build toolchain is a pain and can be simplified, I'm not saying that cmake is *the solution*. I like @darnir's offer to look at it, and try to simplify it so it's not getting in the way of the refactoring process. So I'm ok if autotools is the best tool for the job, as long as the configuration script can be reasonably simple and understanda

[2017-02-08 00:26] guyzmo commented on #369
of course, it makes totally sense. I just wanted to say it out loud so we can think about it and decide to make it happen.

[2017-02-08 00:41] guyzmo commented on #374
yes, it's exactly that: all I mean is a LIFO implemented with a linked list. You can implement it with a tree (useful for searches) as well if you'd like but that's not our need.

Though, I've just looked at wikipedia, and I got lost in translation, a LIFO really is a stack and we should rename all the functions I introduced as `s/heap/stack/`. Keeping the name as is will only cause confusion with

[2017-02-08 06:39] gahr commented on #374
I see. I don't think we should have two separate datastructures then.. perhaps the intent should be expressed by the variable name, e.g., `LIST *att_list;` vs. `LIST *rc_stack`. But we can have this discussion separately :)

[2017-02-08 06:41] #372 closed

[2017-02-08 10:28] gahr opened #378 "Segfault saving an alias"
[code]

Launch mutt, 'a' in the index, go through all confirmations: `Alias As, Address, Personal Name, summary [.....]
 Accept? ([yes]/no):`, Type 'y', i get `Bus error` and a crash dump.

Mutt 1.7.2 works just fine.

[2017-02-08 11:08] gahr commented on #378
This [commit](https://github.com/neomutt/neomutt/commit/83f7558efab3dcd7b7e227a727ef95f711363f50) introduced
[code]

and the `alias_file` config is set as a string pointing to `AliasFiles` [here](https://github.com/neomutt/neomutt/blob/master/init.h#L126).

Result:
[code]

mutt crashes while trying to [access the `data` element](https://github.com/neomutt/neomutt/blob/master/alias.c#L350) during a

[2017-02-08 11:09] gahr commented on #378
@guyzmo will you please take care of this? Thanks!

[2017-02-08 11:19] guyzmo commented on #378
oh, sure, thank you. We might want to think a bit more on how we want aliases to work. Because alias files are just a special case of muttrc, I applied the same principle as muttrc.

Do we want multiple alias files support?
If yes, which file shall mutt modify if there are several?

[2017-02-08 11:26] guyzmo commented on #378
I think I'll revert it to a string, because as we support several muttrc, (and alias is a special case of muttrc), if an user want several aliases, he can load them with the other muttrcs. But the alias file target points to the file mutt will write to, and mutt cannot chose which file to change, it needs a single option.
Therefore, single non-list value should be kept for `alias_file`, not a list

[2017-02-08 11:52] gahr commented on #378
No, changing it to a list was an error. You get to decide which muttrc file in your `Muttrc` list gets promoted to store aliases, if `alias_file` is not set.

[2017-02-08 14:21] guyzmo commented on #378
👌

[2017-02-08 14:41] guyzmo commented on #378
so, upsream's behaviour with aliases is a bit weird:

default is set to use `~/.muttrc` as alias file but when you load a muttrc file, then that setting gets overwritten with the loaded muttrc, [happening here](https://github.com/neomutt/neomutt/blob/mutt/default/init.c#L3486,L3490).

Here I see three options to cope with our Muttrc list implementation with a scalar AliasFile variable:

1. mimic t

[2017-02-08 15:09] guyzmo commented on #378
ok, after discussion with @flatcap:

I'm implementing ②:

- `AliasFile` defaults to `NONE` ;
- when `AliasFile` is set to `NONE`, it uses the latest loaded muttrc ;
- if then no muttrc is loaded, exit gracefully with an error.

[2017-02-08 15:48] nobrowser commented on #377
Taking this as the first step towards general header break up.

[2017-02-08 15:50] nobrowser commented on #377
I think you missed at least some.  The code I worked on in pattern.c takes BUFFERs for error tracking purposes.

[2017-02-08 16:43] gahr commented on #374
Oh, now I see what you mean.. it's true that `LIST` is only a linked list of strings, but there are a lot of other datastructures that have a `next` pointer in them. The benefit of a generic approach to node-based datastructures would be quite huge :)

[2017-02-08 17:04] d-k-c commented on #374
Do we have a list of the structures with a `next` pointer in them? I think there are quite a few of them, and that we would benefit from a generic, battle-proofed solution.

[2017-02-08 17:17] gahr commented on #374
[code]

First 2-sec glance shows this. If we unify handling of these, we're a good step forwards :)

[2017-02-08 17:35] guyzmo commented on #374
[code]

[2017-02-08 18:17] guyzmo commented on #374
So for all the real linked lists we can have a type-agnostic struct like:

[code]

and for each of the pure single linked list above, make them into a type without self reference, and use the canonical set of functions or macros to init it and apply the needed algorithms on them. (we could be using the sys headers, or our own cooked thing).

for how to do it, I guess we should go iteratively, refa

[2017-02-08 19:28] guyzmo opened #381 "[RFC] change UPPERCASE types into type_t or struct Type"
Because the usage is to use `ALL_UPPER_CASE` to either macro definitions or global constants, whereas typing is better suited with:

- `type_t` for opaque types, and
- `struct Type` for public type (not using a typedef)

following up on discussion in #369.

[2017-02-08 19:38] guyzmo commented on #377
@nobrowser there are a huge number of functions that take buffers it's like one of the main types, but I guess @flatcap wants to gather all basic buffer manipulation in one place, eventually breaking general headers like `protos.h`, with the compilation unit being not clear (is it defined in `main.c`? `muttlib.c`? `init.c`? some place else?).

[2017-02-08 23:02] gahr commented on #381
I would avoid _t for non-opaque types.

[2017-02-08 23:24] guyzmo commented on #381
what do you mean by *non-opaque* types ? types you directly access members from instead of using function handlers?

[2017-02-08 23:29] gahr commented on #381
Yes, types you know the internals of. The rationale is that with foo_t is not clear wheter you have a pod type, a struct, or a pointer. I would raher spell struct Foo.

[2017-02-08 23:45] gahr commented on #381
.. as it shows, it's too late for me to type anything that makes any sense.. let's talk tomorrow :)

[2017-02-08 23:48] gahr commented on #374
I will soon come up with a proof of concept

[2017-02-09 06:30] xdgc commented on #224
I just learned about this conversation. I also just learned about clang-format. Sounds promising. My only solid input on the subject of reformatting until I get through the issue discussion is: for the sake of all that's holy, do not use Indent. Mainly because there are at least three incompatible versions of it.

I'm warm to clang, but I want to learn more about it. I also think that upstream we

[2017-02-09 12:09] guyzmo commented on #381
so you'd be against typedef'ing the `struct {}` types?

[2017-02-09 13:33] flatcap commented on #224
Welcome to the discussion, @xdgc

Don't worry, that wasn't really a contender.
It's important, though, to give the _impression_ of choice :-)

`clang-format` is a very capable tool.
The config file above matches Mutt's "standard" fairly well

**YES**.  Upstream have been dithering for too long.

Unfortunately, Kevin keeps talking about a piecemeal approach -- fix the indent as new code is added.

[2017-02-09 13:34] flatcap commented on #224
Everyone is pretty much finished with this debate.
They've already moved onto talk about restructuring the code!

Tomorrow, I will close this thread and write up a guide for NeoMutt.

[2017-02-09 13:57] guyzmo commented on #224
I think that using `clang-format` to modify the style is a nice way to enforce it throughout the code, but then, it'd be nice to find a style linter that will warn where the format is not correctly enforced, and have that part of the CI suite. But I don't know any good tool that could do the job ☹

[2017-02-09 14:03] d-k-c commented on #381
Some explanations about that can be found in Linux's Coding Style:
https://github.com/torvalds/linux/blob/master/Documentation/process/coding-style.rst#5-typedefs

But Linux has to deal with portability (but in a difference sense than Neomutt, because the kernel has different implementations of some structs for different architectures, while Neomutt, as a userspace application, tries to have one i

[2017-02-09 14:04] gahr commented on #381
As much as it hurts to say so, I completely agree with Linus here :)

[2017-02-09 14:06] gahr commented on #381
I think so too

[2017-02-09 15:51] kevin8t8 commented on #224
@flatcap wrote:

Huh?  I think perhaps you are confusing me with someone else.  I don't recall advocating piecemeal, and if I did I most certainly have not done so repeatedly.

You can see my comment in this very thread on Nov 7, 2016 and the link to my email in the introduction, where I mentioned this was on my list, possibly for 1.8 or 1.9.  I do agree that upstream (me) is slow, but too long is

[2017-02-09 17:27] #378 closed

[2017-02-09 17:55] gahr commented on #377
I've been thinking for a while about adding small string optimization to buffers. However, that would require making them opaque. Just dropping it here so I don't forget, I'm fine if it's going to me taken care of separately (or even not at all if there's no consensus).

[2017-02-09 18:41] toogley commented on #224
@guyzmo clang-format  can do that (basically applying it to a git diff and figure out if it has changed sth in the code), but the problem is mainly that we would have to put `// clang-format off` and such around code that should stay the way it is.

[2017-02-09 18:45] guiniol commented on #369
I guess this is good to go, so @neomutt/reviewers please review

[2017-02-09 18:46] toogley commented on #224
@kevin8t8 do you have already talked with the other mutt developers about this issue?

[2017-02-09 18:48] #369 closed

[2017-02-09 19:02] toogley opened #382 "figure out how many // clang-format [off/on] lines we have to use for clang-format"
Like i said in [this issue](https://github.com/neomutt/neomutt/issues/224), automatically applying clang-format to our codebase doesn't work, because then diffs like this may happen:

[code]

That means, for this part of the code, we have to surround it with `// clang-format off` and `// clan-format on`.  That means we have to figure ot in how many places we have to do that.

[2017-02-09 19:03] toogley commented on #382
I think, i can tackle this somewhere in the future..

[2017-02-09 19:20] toogley commented on #224
@xdgc We have internally discussed this already: [thread on our mailinglist](http://mailman.neomutt.org/pipermail/neomutt-devel-neomutt.org/2017-January/000169.html)

Our decision was that we will somewhen will be a fork - but currently aren't, as we upstream still fixes some important bugs.

[2017-02-09 19:21] xdgc commented on #224
int
    function foo(int x)
    {

Obviously neomutt is making its own decision here, but the reason for this style is:
* not everyone uses an IDE, nor should they need to;
* placing the function name on a separate line greatly simplifies finding functions when not using an IDE
* placing { on a separate is conventional C style, and while I'm not totally opposed to the other approach and indeed use

[2017-02-09 19:22] xdgc commented on #224
That's my complaint, you've only discussed it internally.

[2017-02-09 20:04] toogley commented on #224
@xdgc Well, first of all: i came relatively late to the party so therefore i don't have the frustration of the other neomutt members. But as far as i understood, neomutt members had multiple times proposed refactoring patches which were rejected by upstream.

That means: my impression of the consens among the neomutt developers is that we, on the one hand, would like to work more closely together

[2017-02-09 21:02] kevin8t8 commented on #224
@toogley Really, you're going to spout hearsay about what supposedly happened?  I'll tell you my side of the story then.

Flatcap, completely unknown to the community, introduced himself to upstream by proposing to reformat all the code.  I had finally gotten the development going again and released 1.5.24, and was starting to look at outstanding patches.  The timing was wrong, and in any case no

[2017-02-09 21:08] xdgc commented on #224
I would love for neomutt developers to work more closely with upstream. We're not unreasonable. We do insist on not breaking things, to the extent we can predict it, and on maintaining support for all the things we support; as a result our review process can be difficult. The sidebar patch that gets a lot of praise is a good example: we opposed it for many years not because it's a bad idea, but be

[2017-02-09 21:13] xdgc commented on #224
Kevin's leadership has been a huge improvement. The rest of the committers have been with mutt longer, but he's taken time that we've been unable to provide and, IMO, very much turned the project around.

It's hard to express how saddening it is that at the same time we're making that progress, we see two forks (also mutt-kz, whose maintainer has literally never posted to a mutt ML) splitting off

[2017-02-09 21:16] #362 closed

[2017-02-09 21:26] toogley commented on #224
@kevin8t8 and @xdgc thanks for your point of view.

Okay, i think you got that wrong somewhere. At least my impression is that neomutt is **not** hostile. The reason we don't call neomutt a fork at the moment is that we are in a
kind of "abeyance" phase. That means, we have to figure out if a fork is a reasonable idea, the above style changes are at the moment just ideas being discussed.

Do i und

[2017-02-09 21:31] toogley commented on #224
Additionally: @kevin8t8 i don't want to make accusations on anything. I just want to understand you. :)

[2017-02-09 21:45] gahr opened #383 "KyotoCabinet data should be free'd with kcfree()"
... which internally calls c++ operator `delete[]`. The data type is a `char *` so no c++ destructors are involved and it *should* be functionally equivalent to release the memory with `free()`.. but let's stay on the safe side and do as they say.

From [upstream 09bb4a62ceb1](https://dev.mutt.org/hg/mutt/rev/09bb4a62ceb1).

[2017-02-09 22:15] gahr commented on #367
This would sum up to
1. download only the headers (if not cached) on SELECT (when opening a mailbox)

[2017-02-09 22:57] flatcap commented on #367
Just getting the headers seems like a very light way to work.

An alterntive is NNTP's approach which gets a fixed number of emails.
It's lacking a paging system, though -- e.g. it'll just pull the latest 100 emails.
(I don't know if IMAP's capable of this, or not, but I imagine so).

[2017-02-09 23:24] flatcap commented on #224
I've spent a year reaching out to people, bringing them together, encouraging them to contribute.
I've successfully built a community.  When Mutt can offer *that*, then there'll be no need for NeoMutt.

[2017-02-09 23:25] flatcap commented on #224
# CLOSED
As the on-topic part of this conversation is concluded, this issue is closed.

[2017-02-09 23:25] #224 closed

[2017-02-10 03:29] #383 closed

[2017-02-10 08:32] gahr opened #386 "Fix coverity warnings"
... reported by the latest coverity scan.

[2017-02-10 09:42] gahr commented on #386
While I'm at it, let's fix a few more..

[2017-02-10 14:01] flatcap commented on #367
In a completely positive, this is a great idea, kind of way.
(Sorry, I was tired when I wrote that).

[2017-02-10 15:08] gahr opened #388 "Fix safe_calloc calls"
Similar to #372.

1. do not cast returns
2. do not check results
3. put `number` and `size` arguments in the correct order

[2017-02-10 15:20] #334 closed

[2017-02-10 15:20] #239 closed

[2017-02-10 17:13] #245 closed

[2017-02-10 17:14] #386 closed

[2017-02-10 17:21] toogley commented on #388
@gahr why is this necessary or advantageous?

[2017-02-10 17:43] gahr commented on #388
@toogley the reason why casting a return of void* to T* is dangerous go back in time, when a function for which a declaration was not provided was assumed to return int. The cast suppressed a potential warning about the conversion from the presumed int to T*.

Nowadays, I would say that the cast is not needed at all. Code that is not needed is better removed ;)

So, it's not strictly necessary, bu

[2017-02-10 17:45] gahr commented on #388
As for not checking the results, it makes reasoning about the code easier. safe_ functions cannot fail, and putting checks around their returns only make that fact unclear. Again, useless code is better removed than kept.

[2017-02-10 17:52] toogley commented on #388
@gahr thanks :)

[2017-02-10 18:24] toogley opened #389 "remove configuration flags which don't depend on external dependencies"
@d-k-c  said in [issue #310](https://github.com/neomutt/neomutt/issues/310#issuecomment-275164875):

[2017-02-10 20:05] toogley commented on #389
This issue was meant as a tracking issue, because IMHO its one of the easiest things to realize (compared to e.g. removing global variables or so).

Does anyone disagree with this change?

[2017-02-10 20:32] gahr commented on #389
Sounds reasonable, as long as default behaviour doesn't change. Example, if --enable-sidebar currently defaults to off and we remove the autoconf switch, I'd like to have sidebar_visible default to no.

[2017-02-11 12:51] toogley commented on #382
I work on the branch [devel/fix-codingstyle-clang-format](https://github.com/neomutt/neomutt/tree/devel/fix-codingstyle-clang-format) on this issue.

[2017-02-11 14:16] bsnjoy commented on #148
in .muttrc change line for urlview - this way you'll pass message date to urlview without w3m modifications:
macro index,pager \cb "<enter-command> unset pipe_decode<enter><pipe-message>urlview<enter>" "get URLs"

[2017-02-11 16:02] toogley commented on #382
@neomutt/reviewers how should i handle `ifndef` walls?

from [lib.h](https://github.com/neomutt/neomutt/blob/master/lib.h):
[code]
if i don't put a `// clang-format [off/on]` line into it, clang-format will reformat that to:
[code]

putting `clang-format [off/on]` in lib.h is IMHO not a nice solution, because either we have to use a lot of those comments all over the code or we don't put anything

[2017-02-11 16:28] gahr commented on #382
I would not indent preprocessor directives surrounded by #ifndef , as that is used all around our header files as include guard.

[2017-02-11 16:44] guyzmo commented on #382
generally speaking I like to have indented preprocessor directives, with the `#` at column 0. With the exception of guards (for which I prefer the usage of `#pragma once`, even if it's not in standard).

The places where it's really useful is in places where there's a high cyclometric complexity in the preprocessor code. But when it happens, we shouldn't try to make the macros readable, we should

[2017-02-12 01:03] WPettersson opened #393 "SegFault in complete_all_nm_tags"
I'm a Gentoo user, and I recently upgraded from 20160530 to 20170206, and since then the notmuch integration has been playing up for me. I've tried with both notmuch 0.23.3 and 0.23.5. The default keybind (\`) for `modify-labels` has not been applying, which is annoying, but also possibly related so I thought I'd mention it.

However, the real problem is that I'm getting segfaults in `complete_all

[2017-02-12 12:10] guyzmo commented on #393
Hi, and thank you @WPettersson for reporting this!
I'm really sorry that you encounters what sounds like a regression.
What sequence of actions are you exactly doing that leads to the crash?

[2017-02-12 13:06] toogley opened #394 "syntax highlighting inside mails"
I think this would be a really great feature, but I'm not sure how realistic it is to implement.

* [Pygments](http://pygments.org/faq/) can print out ANSI sequences (console output)
* [markdown lexer for pygments](https://pygments-markdown-lexer.readthedocs.io/en/latest/)

[2017-02-12 15:10] nobrowser commented on #377
gahr, can you explain what optimization you mean? thanks.

[2017-02-12 16:11] guyzmo commented on #394
I think this is not directly a desirable feature.

The first question is *when* do you want to show highlighted syntax?

The only use case is when a given mail actually use some sort of parseable formatting. Those are html on one hand, and all the wiki syntaxes on the other.

So what you really want is to change the content type of a (e.g.) markdown content within a `text/plain` file, into a `text

[2017-02-12 16:17] gahr commented on #377
@nobrowser, google for small string optimization

[2017-02-12 16:41] d-k-c commented on #394
I'm not for this feature, but another possible situation is patches. Usually they are sent as plain text, and basic coloring helps a lot for readability (like `git diff --color`).

[2017-02-12 17:32] guyzmo commented on #394
again, if the diff is a mime attachment, you can use some external program to colourise it properly. We just need to make sure mutt can handle ANSI colour (or 24bit colouring) within the pager, everything else is not mutt's problem.

[2017-02-12 18:44] ElDeveloper commented on #394
FWIW, I have had (on and off) a few highlighting rules specifically targeting git patches and github emails:

[code]

Though GitHub has ever-since changed the format of the diffs they send over email, so these rules won't work very well anymore.

---------

Recently, I also came across these rules, but I haven't tried them:

[code]

[2017-02-12 20:17] WPettersson commented on #393
I start mutt, and highlight any email in the index. I then call `<modify-labels>` by pressing  \` , and type `+se` and press `<tab>`, which results in the segfault.

[2017-02-12 20:44] toogley commented on #394
@ElDeveloper Great idea.

[2017-02-12 20:45] guyzmo commented on #393
I'm not reproducing the issue with latest `master`, or with `20170128`. Could you try with latest revision from `master`, please?

[2017-02-12 21:08] d-k-c commented on #394
I also use this kind of coloring, but it impacts all emails, so it can have some side effects (for instance, where list elements starts with a dash).

[2017-02-12 23:12] guyzmo commented on #394
well, it could be used with a hook that will only format mails from places where you expect diffs from!

otherwise, it's pretty great, I've added that ☺

[2017-02-12 23:14] ElDeveloper commented on #394
@d-k-c, that has indeed been a problem! What needs to happen is that someone needs to come up with some very github-specific regexes that will do the trick, but then again, once GitHub's emailing format changes, those will need to be updated so ` ¯\_(ツ)_/¯`.

[2017-02-12 23:23] guyzmo commented on #394
another argument for a lua scripting integration, along with some way of distributing and updating plugins ☺

[2017-02-12 23:25] xdgc commented on #394
One of the guiding principles in mutt has been to think of new features as specific cases of broader scenarios. Don't implement in code what you can do in external processes, but do everything possible to empower externals.

Consider implementing this as an external display filter rather than coding it into neomutt. Here's what I would encourage:

1. extend display_filter to accept a stack of filt

[2017-02-13 00:34] WPettersson commented on #393
I can reproduce with latest master with my current setup, but if I create a new notmuch backend location I cannot reproduce. It seems notmuch is sending potentially bad information to neomutt, I'll do some more digging to see if I can find out what notmuch is doing.

Ok, I forgot to submit that post. Turns out that for some reason, notmuch has a empty tag in my database. As in, an empty string. I'

[2017-02-13 00:43] guyzmo commented on #393
ok, that was about to be my next question: have you got an empty tag in your notmuch database ☺

The issue is that in many places in mutt's code base, an empty string is replaced by a `NULL` pointer. I'm not sure what's the rationale for that (maybe memory efficiency…), but that's what biting you here.

Because anything can be a tag, even an empty string, I think the check is necessary. So please

[2017-02-13 08:33] gahr commented on #393
Are you not perhaps confusing what the NOTNULL macro does? It turns a NULL pointer into an empty string, so it's easily passed down the stack to str functions that'd crash in passed a NULL pointer.

[2017-02-13 10:14] guyzmo commented on #393
not really, I'm more thinking of the `:set` variables that are being `NULL`'ed when set to an empty string. But the `NOTNULL` macro is just the way to handle that

[2017-02-13 10:25] gahr commented on #393
Oh, and how is that related to the issue at hand?

[2017-02-13 12:38] #388 closed

[2017-02-13 13:25] flatcap commented on #377
@gahr
Hmm... a quick google shows lots of interesting ideas.
I think that would first need a good bit of research into how we use strings.
I think that should be discussed on the mailing list.

[2017-02-13 13:30] flatcap commented on #377
@nobrowser
The functions I mentioned are self-contained.  There may be others.
I suppose I'd like to see two files that don't contain: `#include <mutt.h>` :-)

[2017-02-13 15:29] guyzmo commented on #217
I guess you could use `folder-hook`s.

[2017-02-13 15:31] guyzmo commented on #308
ahah, I just had the crash again. I got to choose a solution. Nobody has an idea about that?

[2017-02-13 15:34] gahr commented on #217
My solution to this is
`
set trash= /path/to/my/trash/folder
macro index d '<delete-message><sync-mailbox>y'
`

[2017-02-13 15:42] gahr commented on #308
Untested:

[code]

[2017-02-13 15:49] gahr commented on #308
Or some variation thereof:
[code]

;)

[2017-02-13 19:49] nobrowser commented on #377
@flatcap, ok, I get it now.

Is there a branch?  What should it be named?

[2017-02-13 20:12] flatcap commented on #377
As a member, you can create a branch.
Call it: "devel/SHORT-NAME" -- buffer, or buffer-refactor -- whatever you can be bothered to type.

When you're ready for others' views, then you can create a pull-request.

[2017-02-13 23:49] jidanni opened #398 "No way to turn off "GPGME: CMS protocol not available" warnings"
User cannot stop
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=849762
Debian Bug report logs - #849762
mutt: complains about GPGME

There is no command line to stop it.

The muttrc man page mentions some variables,

and some can only be used in .muttrc

(but maybe also with -e??!!)

anyway, assume the user is on a read-only filesystem.

If one uses 2>/dev/null one will miss real errors.

The u

[2017-02-14 09:02] gahr commented on #398
If for whatever reason gpgme is not working on that system, the first thing to try would be to turn it off. Does launching neomutt with the `-e "set crypt_use_gpgme=no"` option helps?

[2017-02-14 09:23] jidanni commented on #398
That works! Thanks.
I didn't try it because the man page said it was already "no".

       crypt_use_gpgme
              Type: boolean
              Default: no

$ mutt -D|grep use_gpg
GPGME: CMS protocol not available
crypt_use_gpgme is set
pgp_use_gpg_agent is unset

if "is set" means "yes" then the man page is wrong.

Also please change

       Note that you need to set this option in .muttrc;

[2017-02-14 09:35] gahr commented on #398
Yep the manual could be a bit clearer.

[2017-02-14 10:30] riesebie commented on #398
@jidanni  those seetings are placed in /etc/Muttrc.d/gpg.rc which is a part of Debian's mutt installation. Nothing wrong in the source code.

[2017-02-14 10:34] gahr commented on #398
@riesebie thanks for the clarification, I'll close this.

[2017-02-14 10:34] #398 closed

[2017-02-14 14:17] guyzmo commented on #308
that patch is good enough 👍

the mail still is in the list, but it's not opening a pager when you try to open it (or if you move from the former message to that one the pager closes).

I think it's a pretty acceptable solution. Anyway anything other than a crash 💣 is acceptable 😀

do you want to make a PR?

[2017-02-14 14:49] #308 closed

[2017-02-14 18:24] #393 closed

[2017-02-15 03:12] somini commented on #389
The debug configuration flag should remain in theory, but I'm not sure it's worth it to keep non--debug builds.

[2017-02-15 06:17] toogley commented on #389
@somini good point. What exactly does the debug flag do? does it more than enabling the -D option?

[2017-02-15 09:14] #336 closed

[2017-02-15 16:05] gahr commented on #389
... most of which are in regex.c.. (I can't... resist... the urge... to killl...)

[2017-02-15 16:28] toogley commented on #389
@flatcap i don't understand why you've deleted all mutt_debug() operations. In my understanding, mutt_debug() did just write to `.muttdebug0` - which isn't harming anything IMHO. so i don't understand why you removed the additional debugging information completely instead of just removing the #ifdef DEBUG.

[2017-02-15 17:09] flatcap commented on #389
@toogley That was **just a bit of fun**.  I WILL NOT COMMIT THAT BRANCH.

I was just curious to see what DEBUG actually did -- I'm not sure I've ever asked that question of a large project before.

I figured that the simplest way to see the `#ifdef`s and `mutt_debug()`s was to delete them and look at the diff.

[2017-02-15 17:13] toogley commented on #389
@flatcap aaah, okay. 👍

[2017-02-16 00:05] Polichronucci opened #404 "Use of gpg's group option"
GPG has an option to define groups in order to add an alias email as recipient in an email and encrypt it with multiple keys. This doesn't work with Mutt or NeoMutt because the %r variable passed to the gpg command in gpg.rc is a keyid/fingerprint and not an email address.

I have not thought this through how this can be managed. Thunderbird with the Enigmail plugin manages this through the menu e

[2017-02-16 00:22] kilobyte commented on #398
"set crypt_use_gpgme=no" break the new fancy pinentry integration, but otherwise GPG keeps working.

So it appears that gpgme actually **is** working, just this message is bogus.

[2017-02-16 01:34] flatcap commented on #398
At startup Mutt checks for both "OpenPGP" and "CMS" protocols, complaining but not stopping if either is missing:
[code]

I haven't looked any deeper, but it might be possible to only check for the protocols we need.

[2017-02-16 02:26] xdgc commented on #389
* On 14 Feb 2017, Tobias Angele wrote:

The theory is that a non-debug version is more performant, because
dprint()s are never compiled.  I'm sure this is true on older systems.
I'm not sure it's true on anything modern.

I'm not sure why it's desirable to remove either, though.

--
David Champion • dgc@bikeshed.us

[2017-02-16 06:54] gahr commented on #389
I agree with this.

[2017-02-16 11:13] EdwardBetts opened #407 "Interrupted system call error with non-ssl imap makes neomutt unusable"
I read my mail via IMAP using the dovecot IMAP server on my laptop. The connection is not using ssl.

Mutt keeps crashing with this message: "Error talking to localhost (Interrupted system call)". It didn't used to do this.

The problem goes away if I configure dovecot to use ssl.

I used git bisect to find when this problem started, it is commit 1f19f808dbcfe1cb02e4806a9f583ae9c657b7e5.

Steps to

[2017-02-16 12:09] flatcap commented on #389
Let me reiterate: It was never my intention to remove any of the debug code from NeoMutt.

As a visualisation method, I *did* remove it from a test branch.  I've deleted the branch.

[2017-02-16 14:01] gahr commented on #407
@EdwardBetts , I can test with a local dovecot over plain port 143. I have been running the loop for over a minute but I can't get it to crash. How long does it usually take?

Also, can you post your `mutt -v` and `mutt -DS`? Thanks!

[2017-02-16 14:04] flatcap commented on #404
Is this a commonly-used feature of gpg?
Who would an email be addressed to? Multiple people or just the alias email?
What is the command line for gpg that you'd need?

If you can explain the steps, we can figure out what we'd need to change.

[2017-02-16 14:10] EdwardBetts commented on #407
Normally within seconds.

Try with these settings:

set mail_check=1
set timeout=2
unset ssl_starttls

[mutt-v.txt](https://github.com/neomutt/neomutt/files/780343/mutt-v.txt)
[mutt-D.txt](https://github.com/neomutt/neomutt/files/780344/mutt-D.txt)

[2017-02-16 14:13] gahr commented on #407
`unset ssl_starttls` did it. Thanks, I can now reproduce.

[2017-02-16 14:34] EdwardBetts commented on #407
How come the "Interrupted system call" error only happens with SSL disabled?

[2017-02-16 14:38] EdwardBetts commented on #407
I often get "Mailbox closed" after the "Interrupted system call" error. The message list disappears and the status bar says "(no mailbox)".

[2017-02-16 14:41] gahr commented on #407
Because of the difference between how the [plain](https://github.com/neomutt/neomutt/blob/master/mutt_socket.c#L428) and the [ssl](https://github.com/neomutt/neomutt/blob/master/mutt_ssl.c#L319) sockets handle EINTR.

[2017-02-16 14:43] EdwardBetts commented on #407
The raw_socket_write function starts with mutt_allow_interrupt (1) and ends with mutt_allow_interrupt (0). The ssl_socket_read doesn't call mutt_allow_interrupt. Does that mean interrupts are permitted within raw_socket_write but disallowed within ssl_socket_read?

[2017-02-16 14:49] gahr commented on #407
Well, interrupts are surely enabled inside `raw_socket_write`. Their enabledness inside `ssl_socket_write` depends on the caller.. however, even if we figured out that in this code path interrupts are disabled by the time we get to `ssl_socket_write`, I would not feel confident to remove the enabling within `ssl_socket_write`.

[2017-02-16 15:22] EdwardBetts commented on #407
It doesn't make sense to check errno if read/write didn't return -1.

[2017-02-16 16:34] guyzmo opened #409 "Misusage of mutt_allow_interrupt?"
cf #408 it looks like there are places where [`mutt_allow_interrupt(int)`](https://github.com/neomutt/neomutt/blob/master/signal.c#L242,L352) might be misused as a way to scope enabling of sigint interrupt handler and disabling it (using its parameter with `0` or `1`).

But looking at the code it's not what the function does, and to check whether an interrupt has happened, one need to check the `S

[2017-02-17 10:04] gahr opened #410 "Issues with IMAP and reconnect"
This is a spinoff of #346, as mentioned:

I can also sometimes reproduce weird behaviours after reconnecting, but it is not yet clear to me where the problem is. Using the issue to track investigation.

[2017-02-17 19:26] guyzmo commented on #409
I'm closing it, as it's looking ok. Renaming could be considered at some point though.

[2017-02-17 19:26] #409 closed

[2017-02-19 02:37] guyzmo opened #414 "Functional and unit tests for CI"
following #222 and all the others discussion about testing. It took me some time, but I finally found out a decent way to implement functional and unit testing for (neo)mutt.

## functional tests

Those are tests being done using the mutt runtime, calling commands using mutt's eventloop. To achieve that, the Lua API is a good way to go #298.

So I've done exactly that: https://gist.github.com/35be

[2017-02-19 15:31] toogley commented on #222
closing in favor of [#414](https://github.com/neomutt/neomutt/issues/414)

[2017-02-19 15:31] #222 closed

[2017-02-19 23:15] dset0x opened #416 "postponed dir indexed by notmuch causes neomutt to attempt renaming already-moved message"
As titled, with @flatcap's help, after patching neomutt with:
[code]
the following is logged:
[code]

A workaround is to stop indexing the `postponed` directory altogether, but perhaps someone is able to come up with a better solution.

[2017-02-20 11:48] gahr commented on #414
While I think using Lua for functional tests could be a fair solution and something worth investigating, I object to using any foreign language + FFI for **unit** testing. There are a few reasons for that.

- unit tests are often the best documentation available on a particular function or data structure. In contrast to comments-based documentation (read: doxygen)- which we all know tends to rot a

[2017-02-20 13:30] guyzmo commented on #414
I strongly disagree about the two above. If tests are the best source of documentation for your code, and not the *code* itself (and the few comments to help understanding of the function), then the project has real design and usabality issues. Furthermore, tests are not designed to be showing *HOW* the tested function works, but cover not only the general usecase, but all the edge cases. That wou

[2017-02-20 14:50] guyzmo commented on #414
so you asked what's good about lua test harness?

1. *consistency*: to build the functional test harness, taking advantage of the embedded lua interpreter in mutt, I've added lua functional tests. Making unit tests in lua as well makes sens, so we have consistency in:
  * how test specs are written and,
  * how the reporting is done.
2. *accessibility*: the [busted] test framework offers a [BDD] d

[2017-02-20 15:09] guyzmo commented on #414
to prove I'm not narrow minded, I stumbled across that small test framework that checks a few ticks:

* [x] BDD oriented
* [x] TAP support
* [x] Smaller and simpler

might be worth trying it out.

[2017-02-20 15:44] sileht commented on #131
Using <tag-thread> and then <modify-labels-then-hide>, select all messages in the threads and <modify-labels-then-hide> applies new labels to all messages in the threads and then hide them.

(but the code is buggy if the thread is collapsed)

[2017-02-20 16:04] mvdan commented on #176
@flatcap I got sick of this and finally tried the hosts workaround. I can confirm that the following lines (`carbon` being my hostname) fix it:

[code]

[2017-02-20 17:21] #382 closed

[2017-02-21 16:27] gahr commented on #176
Uhm.. is there any possibility that `getdnsdomainname` actually reports anything else than what `utsname.nodename`?

[2017-02-21 16:34] gahr commented on #176
Anyway, you could avoid dns lookup by setting the `domain` variable in muttrc.

[2017-02-21 16:41] sileht commented on #176
Maybe we should use getaddrinfo_a if present instead of getaddrinfo to be able to set a smaller timeout.

[2017-02-21 16:48] gahr commented on #176
that piece of code looks weird.. it constructs `Fqdn` with whatever is in `utsname.nodename`, followed by a dot, followed by whatever returned by `getdnsdomainname` (which removes the first component).

[2017-02-21 16:58] flatcap commented on #176
That sounds like a good idea.  Are you interested adding it?
You'd need to tweak `configure.ac` to check for `getaddrinfo_a`

[2017-02-22 08:42] guyzmo opened #421 "Crash 💣 (happened during idle)"
This morning I found my neomutt crashed. IIRC I was on the index (I usually am when not reading my mail).

Here's the BT:

[code]

Edit: fix format (newlines) in stack trace

[2017-02-22 08:45] guyzmo commented on #421
I guess a quickfix would be to make sure that we cannot call `fseek` on a `NULL`'d pointer. But the real issue would need some digging.

[2017-02-22 09:13] guyzmo commented on #421
interesting if that's the same issue as #401

[2017-02-22 09:15] gahr commented on #421
yup, #401 should prevent this from happening.

[2017-02-22 15:57] toogley commented on #337
I don't recall exactly what i did (probably, among other things, changing the OS, reinstalling everything, etc.) - but it works now. therefore i consider this as a "human error" (caused by me) and not a bug.

=> closing.

[2017-02-22 15:57] #337 closed

[2017-02-22 16:20] flatcap commented on #361
It was a repeatable crash for someone using "torify" around mutt.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=834408

[2017-02-22 20:39] toogley opened #423 "add a mention bot to github"
The GIthub of [NixOS](https://github.com/NixOS/nixpkgs/pull/23085#issuecomment-281790667) has a really nice bot, who's basically mentioning people who have already worked in the part of the files the PR is changing .

Although our current development team is rather small, i think it might be valuable in the future.

 BTW: [here](https://github.com/facebook/mention-bot)'s the corresponding Github r

[2017-02-22 20:59] toogley opened #424 "merge bind and macro commands"
At the moment, both `bind` and `macro` commands do IMHO very similar things - as far as i understand, `macro` just allows multiple function calls, bind only one.

That also means that we have two different parts of our code doing very similar things - therefore i think we can simplify our code.

## Additional Question:

* Does the usage of `bind` provide any advantage over `macro` ?
* as this will

[2017-02-22 21:27] guiniol commented on #424
I'm not sure I for that.
`macro` syntax is actually a bit different than `bind` because macro literally acts as if you typed whatever is in it's definition. In addition, you could break a lot of things in a `macro`, so understanding the difference with a simple `bind` is useful IMHO.

[2017-02-22 21:32] guiniol commented on #423
That sounds neat. I have two concerns, but they are not very big:
- we have to be careful not to become specialists, ie that person wrote code in this file so now, he's in charge of that file and doesn't really look outside. I don't actually think there's a big risk (the code is not large enough), but it's worth noting.
- I would think we haven't committed in a lot of places, so we have to be care

[2017-02-22 21:56] flatcap commented on #423
It's a nice idea for big projects
I'm sure we can steal some ideas...

Yes, that would be bad.
We'd need a whitelist of our users (or a blacklist of theirs).

I was planning to use a "dummy" user for the mass transformations.

[2017-02-22 23:26] flatcap opened #425 "NeoMutt Release Cadence"
/cc @neomutt/downstream-packagers

For those of you who haven't heard, we're trialling a new release pattern.
- **Three weeks** of development leading to a "**feature release**" (due on Friday)
- **One week** of bug-fixing leading to a "**bug-fix release**"

The first cycle was very successful so we're planning to continue.

**Notes**: https://www.neomutt.org/dev/bug-week

The feature releases are

[2017-02-23 19:42] toogley commented on #414
@gahr

would keeping unit tests inside the source code have any advantage?

[2017-02-23 20:15] toogley opened #427 "toggling notmuch tag works not in a macro and executes as a external program."
I have

[code]

in my muttrc. When i call that macro,  my mutt complains:

[code]

My neomutt version is `NeoMutt 20170206-257-ef55ad (1.7.2)` (that's current master)

[2017-02-23 21:23] guyzmo commented on #427
cf #403. Solution is being discussed by: #69.

[2017-02-23 21:23] #427 closed

[2017-02-24 04:18] toogley commented on #427
@guyzmo ah, i forgot that. Thanks.

[2017-02-24 10:29] gahr opened #428 "Unit test suite using a minimal C Framework"
Here's my take at a minimal unit-testing framework in C.

The work is being carried out in the [feature/unit-test](https://github.com/neomutt/neomutt/tree/feature/unit-test) branch.

### Basics
1.  Unit-tests are based on the header-only [cutest](https://github.com/mity/cutest) framework. This provides a no-dependency, simple drop-in solution.
2. Unit-tests are compiled into the mutt executable wh

[2017-02-24 10:31] gahr commented on #428
The first thing I would like to discuss is whether we want to unconditionally build and enable unit-tests, so removing the `--with-unittest` flag. I would be in favour of doing so.

[2017-02-24 10:32] guyzmo commented on #424
well, I believe that bind should get the ability to call a chain of commands. or, simply using Lua scripting you can leverage that (the binding call /one/ command, but that command is a lua function that does a bunch of stuff).

But there's a bigger task ahead on macros to make them more reliable (stop the macro upon failure of one command), and make it possible to record temporary macros (like vi

[2017-02-24 10:54] gahr commented on #428
Running unit tests has been integrated in Travis when building the `feature/unit-test` branch:

https://travis-ci.org/neomutt/neomutt/builds/204913282

[2017-02-24 12:04] toogley commented on #428
As far as i understand, unit tests should not rely on dependencies (by that i mean typical things like databases, external servers, internet connection, filesystem, etc. pp.) (I have read this in a book called ["The art of unit testing"](https://www.manning.com/books/the-art-of-unit-testing-second-edition?a_bid=f6ea80f5&a_aid=iserializable)).

How would you solve this issue with your minimal unit

[2017-02-24 12:32] gahr commented on #428
I would not tackle this problem just now/here. My intent is to have a functional unit-testing framework so we can assess the correctness of basic building blocks in isolation. Some simple mocks and stubs might be needed for certain parts, but I would defer testing, say, a complete connection and authentication to an IMAP server to a feature testing stage/space.

As a concrete example, speaking of

[2017-02-24 14:43] #176 closed

[2017-02-24 16:37] #407 closed

[2017-02-24 16:48] #425 closed

[2017-02-24 19:47] pete3215 opened #429 "Host certificate file does not work"
Hi,

I have been using mutt for a while now and included a setting that included the mailserver certificate instead of using the CA model. Details can be found here https://gist.github.com/bnagy/8914f712f689cc01c267#tofu

Basically this works by manually accepting and saving the cert the first time you use this setting. You can also reject the CA cert and only accept and save the host certificate

[2017-02-24 22:02] adrianVmariano opened #430 "Pressing return doesn't view text/html attachment with mailcap"
My distro switched me from mutt to neomutt and I immediately noticed that I could no longer view html attachments using my mailcap rule.   (If I select a message, hit "v" and then hit "enter" the HTML is simply shown in text.)  I finally dug into this issue and I noticed that the help text for <Enter> says "view-attach" and describes this as "view attachment using mail cap entry if necessary".  I

[2017-02-24 22:56] toogley commented on #428
Hm..

Why do we even have to compile the unit tests into the mutt binary?

* Isn't that inconvenient, because if you change a small thing in the unit test or sth like that, you have to rebuild everything? or do i miss sth here?

* I'd like to have a time measurement for **every** test. Because when the one test takes the double/triple amount of time (compared to other tests), we probably won't not

[2017-02-25 03:09] guyzmo commented on #428
* *[…] not building a separate mutt-test executable*: if you're running tests within the mutt executable, then you're not doing unit tests, you're doing functional tests. The difference being that you're running functions in the context of the application's runtime, and not within a controlled petri-dish environment. So this is a big no from me for doing it this way.
* a better way is to keep each

[2017-02-25 10:01] toogley commented on #428
Of course. But what i mean is: as far as i understand, unit tests should be really fast, that means a runtime of about <1 second (or so). When we have about 50 unit tests, we won't notice if one of them takes 10 seconds, but it may be hint that the unit test is not working really good - maybe its not isolated enough, or does things complicated, etc. pp.

[2017-02-25 10:13] sthen opened #432 "GCC 4.2 warnings following conversion of macros to inline functions"
https://github.com/neomutt/neomutt/commit/dca6feacfd242f70842d3728945e02dcd802f7e6 converts macros to inline functions, however with GCC 4.2 this results in a bunch of warnings:

[code]

[2017-02-25 10:23] toogley commented on #432
@sthen thanks for reporting.

[2017-02-25 10:39] guyzmo commented on #428
@toogley a test might also be hanging because the load on the machine is running got very high which can happen because something in another container or another VM is momenteraly killing the performances of yours. For most checks, they're likely to take 1µs, and might get up to 10µs when something is slowing them down.

This is why in benchmark tests you run the same tested function like 1000000

[2017-02-25 10:41] toogley commented on #428
@guyzmo agreed.

[2017-02-25 11:02] guyzmo commented on #414
I have built 3 branches, following that [comment](https://github.com/neomutt/neomutt/issues/428#issuecomment-282455473):

* [Unittests with luajit **only**](https://github.com/neomutt/neomutt/tree/feature/testing-luajit)
* [Unittests with bdd-for-c **only**](https://github.com/neomutt/neomutt/tree/feature/testing-bdd-for-c) (PR #431)
* [Unittests with luajit **and** bdd-for-c](https://github.com/n

[2017-02-25 15:39] guiniol commented on #424
If we have a specific syntax for `bind` to execute multiple commands in a row in a half intelligent manner instead of the "you typed a bunch of things very fast and I'm going to execute it through to the end whatever happens" that `macro`s have. We would at least need the equivalent of bash's `;` and `&&`. Ideally, we would need options for commands. What I mean is, look at the save entry command.

[2017-02-25 16:07] pete3215 commented on #429
This issue also affects mutt since version 1.8
https://dev.mutt.org/trac/ticket/3916#ticket

[2017-02-25 16:38] toogley opened #435 "in browser.c one line won't ever be executed."
In [browser.c](https://github.com/neomutt/neomutt/blob/master/browser.c#L254), we have the assignment

[code]

But later, in the same method, we have:

[code]

That means, the second mutt_FormatString won't ever be executed (because its case is already handled inside the first `if(optional)`). Therefore this is a bug - but i don't know how to fix that.

Of course, we could just remove the else par

[2017-02-25 16:51] guyzmo commented on #435
if you look at the big switch statement in between, you'll see `optional` being assigned `0`. When optional is set to `0` by code in there, `flags & MUTT_FORMAT_OPTIONAL` will still hold the same original value, and the first condition will be false, and the `else if` will be valued.

[2017-02-25 16:51] #435 closed

[2017-02-25 16:56] toogley commented on #435
@guyzmo Aaah, okay.

[2017-02-25 17:00] gahr commented on #429
That's what I suspected. There've been some changes in handling certificates, [3ba3210] comes to mind.

[2017-02-25 17:05] gahr commented on #432
Wow, gcc 4.2, the last release from that series was 9 years ago. From the [release notes](https://gcc.gnu.org/gcc-4.2/changes.html):

"In the next release of GCC, 4.3, -std=c99 or -std=gnu99 will direct GCC to handle inline functions as specified in the C99 standard. In preparation for this, GCC 4.2 will warn about any use of non-static inline functions in gnu99 or c99 mode. This new warning may b

[2017-02-25 17:21] gahr commented on #429
I'll look into this

[2017-02-25 18:01] gahr commented on #429
I confirm that your use case stopped working with 541c486.

[2017-02-25 18:07] gahr commented on #432
I'm tempted to close this as "not-a-bug"..

[2017-02-25 18:14] guyzmo commented on #432
though +1 on warning against old compilers loudly at compile time

[2017-02-25 18:17] pete3215 commented on #429
Thanks for looking into this. Let me know if I can help with testing any patches.

[2017-02-25 18:21] guyzmo commented on #430
Hello @adrianVmariano and thank you for reporting your issue,

could you please give some more details on your issue?

* what is your distro?
* what version of neomutt are you running (`mutt -v`)?
* could you attach the output of `mutt -DS` to show your configuration?
* can you provide the mailcap lines that used to work and no longer are?
* and can you tell exactly what behaviour you're expecting

[2017-02-25 18:35] gahr commented on #429
I'll track this, but let's see how the discussion on https://dev.mutt.org/trac/ticket/3916 evolves.

[2017-02-25 18:48] adrianVmariano commented on #430
First of all, the mailcap lines still work fine when mutt actually uses them.  It's just that mutt is deciding not to use them.

This is the relevant line from /etc/mailcap:

text/html; /usr/bin/sensible-browser %s; description=HTML Text; nametemplate=%s.html

At risk of repeating what I already wrote above:  I look at my summary list of messages which shows the subject lines.  I select a message

[2017-02-26 12:26] gahr commented on #432
I have been able to test on FreeBSD/sparc with gcc 4.2.1, autoconf correctly figures out the `-std=gnu99` switch.

[code]

I cannot reproduce.

[2017-02-26 13:18] guyzmo commented on #432
@sthen could you give more details on the system you're running?

[2017-02-26 16:13] #421 closed

[2017-02-26 16:14] guyzmo commented on #341
were you able to reproduce the error? And nail a way to make it reprocduceable?

[2017-02-26 16:25] guyzmo commented on #268
hello @apertome

is the problem still happening with more recent versions?
if it does did you find a way to reproduce the issue (like a specific message that causes the crash)?

if it does, could you provide a `mutt -DS` of all your configuration? And a minimal copy of a message signature that causes a crash?

without a way to reproduce the problem, or at least a core dump from it (you can get it

[2017-02-26 16:32] guyzmo commented on #227
* is it still happening?
* @d-k-c any ideas?
* have anyone tried to hack the code to add a log point at where the folder-hook is running and see if it actually gets called?

has a bug been opened in upstream?

[2017-02-26 16:43] guyzmo commented on #215
I just tried the issue and could reproduce it.

@bradking what was your intent in using `\Ch` as binding?
Having <kbd>\\</kbd> followed by <kbd>C</kbd> followed by <kbd>h</kbd> as a key sequence to open help?

Has a bug been opened on upstream?

[2017-02-26 16:48] guyzmo commented on #170
Hello @doweaver, is the issue still happening with latest version?
And is having that warning ending in unexpected behaviours? Or is it doing what you expected?

[2017-02-26 16:50] guyzmo commented on #113
@flatcap:

have you thought of *something* yet? :)

[2017-02-26 17:00] guiniol commented on #341
Not by my own volition, but it does happen once in a while. And rivarun on irc was (maybe) having the same bug.
I can attach a gdb but I'm not sure where to put a breakpoint, and I haven't had time to figure it out. I need to spend more time in the pager/index code/event loop. Simply doing `continue`s does not work as gdb complains about not knowing the scope of the function at some point (not sur

[2017-02-26 17:04] guyzmo commented on #64
just checked with latest. indeed quite interesting one. I can see two ways to theoretically solve the issue:

- reset all colour attributes when applying a format (including bright, underlined, inversed etc.)
- when applying a colour force all the attributes to the expected value (not bright, not inversed etc.)

[2017-02-26 17:11] guyzmo commented on #341
ok I'll keep those tags on as long as you're not providing a way for someone else to actually reproducing the issue.

[2017-02-26 17:17] guiniol commented on #341
No worries. I'll try to debug it on my own too.

[2017-02-26 17:49] toogley opened #436 "list of architectures/operating system's mutt does run on"
@flatcap said he's being reluctant to change the build system, because he doesn't know which Operating system or architecture that would break.

## cmake supported platforms

* https://gitlab.kitware.com/cmake/cmake/tree/master/Modules/Platform

---------------------------------------------------------------------------------------

## Architectures

### confirmed

I think it makes sense to orient

[2017-02-26 18:49] guyzmo commented on #436
QNX is supported by CMake AFAICT.

[2017-02-26 18:52] toogley commented on #436
@guyzmo yep, it does - at least it has a [QNX module](https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/Platform/QNX.cmake)

[2017-02-27 08:52] mrunge opened #438 "fedora builds are broken (neomutt-1.8.0-20170225.fc25.x86_64)"
I'm using the packages from
https://copr.fedorainfracloud.org/coprs/flatcap/neomutt/

Last weekend, neomutt was updated to neomutt-1.8.0-20170225.fc25.x86_64
displaying an email works once, but I can not display an email afterwards.

Pressing '?' does not work at all, I'm getting a message in bottom line:
����/mutt-sofja-1000-13288-6067559085332765643: No such file or directory (errno = 2)

Fun fa

[2017-02-27 10:10] toogley commented on #181
@flatcap Should the new variable also use a global variable like `folder_format`'s [FolderFormat](https://github.com/neomutt/neomutt/blob/master/globals.h#L55) ?

[2017-02-27 10:59] 0-wiz-0 commented on #436
I can't confirm that neomutt builds on all architectures mentioned above. However, they share the same compiler and mostly the same headers (except for CPU specific ones), so I don't expect trouble.
A list of confirmed builds or breakages when building from pkgsrc is at https://bulktracker.appspot.com/pkgresults/mail/neomutt
We really should get more build hardware :-(

[2017-02-27 11:02] toogley commented on #436
@0-wiz-0 thanks for the update.

[2017-02-27 12:17] gahr opened #440 "Bug under fmemopen + torify"
See #361

I have not been able to reproduce the crash, but I do see an unexpected behaviour.

When running under torify with fmemopen enabled, closing a FILE opened with `open_memstream` does not automatically update the size pointer. This results in assuming the body length is zero.

[2017-02-27 12:42] gahr commented on #440
This only happens with relatively small messages and seems to be due to internal buffers not being automatically flushed if not filled. This also confirms that the fix is likely correct.

[2017-02-27 12:54] flatcap commented on #438
Hmm... I create (and use) the Fedora packages.  I have no idea what's happening.
What was the last version you used? (version, or rough date)

Do you have header-caching enabled?  Can you delete the cache (or rename it temporarily).

[2017-02-27 13:02] flatcap commented on #181
Yes.  This is the simple fix.

The bigger (better) solution would be to refactor the browser to move a lot of the code into the mailboxes.
For each mailbox type, (e.g. maildir, imap, notmuch) work out what they'd want to display, then create a browser that knows nothing about its data.

[2017-02-27 13:08] gahr commented on #361
Doc fix was merged.

[2017-02-27 13:08] #361 closed

[2017-02-27 13:09] mrunge commented on #438
I've used the previous version, and I'm quite sure I was updating regularly.

yes, I have header_cache enabled.

After playing with it again, I can not reproduce the issue any more. I'm closing this for now, sorry for the noise.

[2017-02-27 13:11] flatcap commented on #438
Not a problem :-)

[2017-02-27 13:14] flatcap commented on #211
This no longer seems to be reproduceable.

[2017-02-27 13:14] #211 closed

[2017-02-27 13:15] flatcap commented on #220
This no longer seems to be reproduceable.

[2017-02-27 13:15] #220 closed

[2017-02-27 13:21] gahr commented on #154
When selecting an IMAP folder, mutt fetches the UID and FLAGS attributes. Isn't this what you're seeing?

[2017-02-27 13:23] gahr commented on #154
@phmarek sorry your paste has expired. Could you please post your .muttdebug0 when running mutt with -d3?

[2017-02-27 13:38] flatcap commented on #244
This now has a permanent home: https://www.neomutt.org/contrib/hcache-bench

[2017-02-27 13:38] #244 closed

[2017-02-27 13:40] flatcap commented on #271
@mingsu
We didn't hear back from you.
Hopefully this means the problem went away.
If not, please re-open this issue and we will investigate some more.

[2017-02-27 14:35] toogley commented on #154
@phmarek ... and to prevent that the paste is lost again in the future, could you add it to your post? thanks.

[2017-02-27 16:26] bradking commented on #215
@guyzmo my goal was to bind `Ctrl-h` as help.  The `\C` part means `Ctrl-` IIRC.  I'm not aware of any upstream report.

[2017-02-27 17:48] toogley opened #442 "fix indendation of manual.xml.head using libtidy"
This is just an issue to make sure i don't forget this.

Basically, http://www.html-tidy.org/ allows reindenting xml files which would greatly help our xml file mess.

[2017-02-27 17:55] guyzmo commented on #442
or simply using vim `gg=G` to reindent it properly.

[2017-02-27 17:58] toogley commented on #442
@guyzmo Ah, i forgot that vim can do this too^^

But yes, i agree. This is even better at the moment, because libtidy removed lines in between the sections. (but i'm sure this can be turned off).

[2017-02-27 18:38] gahr commented on #442
xmllint - part of libxml2 - does proper indentaion too. Just tossing it here for the record ;)

[2017-02-27 19:51] flatcap commented on #442
Much as I love vim, it's not the right tool here (unless you set `equalprg=tidy`).
I've used (lib)tidy a lot, but I couldn't get it to understand the `screen` sections which need to be left intact.
`xmllint` understood the `screen`s, so it's winning for me.

[2017-02-27 21:05] d-k-c commented on #227
Didn't really find anything during my first tests and then kind of forgot about it.

[2017-02-27 22:08] toogley commented on #442
@flatcap do you want to fix the indendation of the manual also with the clang-format fix?

[2017-02-28 05:28] nobrowser commented on #377
Hi again.

Finally I am working on this.  And immediately I hit a style issue that we completely missed in that big discussion: transitive include dependencies.  IMO **THESE ARE MADNESS** and must be avoided.  What I mean is: if a file mentions, say, isspace(), then THAT file MUST #include <ctypes.h>, and NOT rely on another include file to accidentally drag it in.  It requires some discipline: yo

[2017-02-28 09:18] guyzmo commented on #377
@nobrowser on that topic *I* think we can be a bit relaxed on a few includes, like the few "stdlib" ones we expose through `mutt.h`, i.e.: `stdio.h`, `stdlib.h`, `stdint.h` etc. But if it does not belong in `mutt.h` (so it's exposed everywhere), then I agree one should never rely on another header for the usage of a given function.

[2017-02-28 12:35] flatcap commented on #377
There's a tool I've been playing with called `iwyu` (Include What You Use), which deals with this problem head-on.  It analyses your file and tells you what it should include.  (It also tells you WHY each file should be included).

Of course Mutt, being Mutt, the tool gets a bit upset :-)

Using `iwyu` would lead to some large lists of `#include`s to start with, but it will probably help us split

[2017-02-28 13:03] gahr commented on #429
@pete3215 Hi, I just imported the two patches suggested upstream. I don't mean to merge them as-is - I just want to be up-to-date on this. I'd be grateful if you could give it a go! Thanks a lot!

[2017-02-28 22:11] nobrowser commented on #377
I'll have to look up iwyu: it sounds super useful.

[2017-03-01 07:19] phmarek commented on #154
Hmmm, I can't see any duplicated `imap_read_literal` right now. Or perhaps I misread the log file?
Most of the time I don't have debugging active; is there a way to switch the debug log on while having mutt running?

Having the logfile auto-expire was on purpose, in case I left too much information in it ;)

[2017-03-01 07:41] mrunge commented on #438
Unfortunately, I have to re-open this.

How do I submit useful output, if the issue does not occur, when launching with debug enabled?
Disabling  caches does not help either.

[2017-03-01 07:49] mrunge commented on #438
Builds are not broken in general, something seems to get into strange state. Once it get's re-ordered again, everything works as expected. Q is still: how to trigger both events

[2017-03-01 08:25] sileht commented on #430
I have reproduce it with 'implicit_autoview unset' and 'no auto_view' configured.

debian/ubuntu package was having debian/patches/upstream/611410-no-implicit_autoview-for-text-html.patch applied. But according https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=816706 it have been removed since package 1.6.0-1

Mutt upstream have closed their related bug (https://dev.mutt.org/trac/ticket/3496) but

[2017-03-01 08:51] pete3215 commented on #429
Works in neomutt as expected.
I guess upstream still wants to get some changes in though.

[2017-03-01 09:05] gahr commented on #429
Yes, I'm following the discussion as well :)

[2017-03-01 12:22] flatcap commented on #154
No, but that's a reasonable thing to be able to do.  (added to the list)

[2017-03-01 14:18] flatcap opened #445 "Make the debug level configurable within neomutt"
Starting neomutt with the option `-d 2` enables debug logging (if enabled by the build).
Often, the user hasn't enabled this logging when then encounter a problem.
Often, restarting will leave neomutt in a slightly different state to the one that caused the problem.

I propose changing the internal `debuglevel` variable into a user-configurable `$debug_level`

Use case: User sees some unexpected b

[2017-03-01 16:43] blentz commented on #438
I'm seeing this same issue, but I have no additional info on how to reproduce it just yet.

[2017-03-01 16:46] ElDeveloper opened #446 "Thread tree doesn't draw until cursor navigates through that email"
* **bug reports**

    * Expected behavior: the thread tree should always be visible.
    * Actual behavior: a thread will be grouped together, but the tree won't show on screen, only a tiny piece for the email at the top of the thread.
    * Steps to reproduce: This happens sporadically and not with every thread.
    * Used program versions: NeoMutt 20170225-6-dc9f31 (1.8.0)
    * Operating Syste

[2017-03-01 16:49] flatcap commented on #438
@blentz Thanks for letting us know.

[2017-03-01 17:20] guyzmo commented on #445
then debugfile should be configurable as well!

[2017-03-01 17:54] blentz commented on #438
I can confirm that running with '-d1' or -d2' works around the issue. With the flags allows me to open messages, without the flags messages don't open and sounds the terminal bell.

[2017-03-01 19:11] sileht commented on #445
+1 for the idea

I like the idea to have an configurable debugfile. I don't like the current behavior I would prefer to always append to the same file.

I can work on this, if nobody step in.

[2017-03-01 19:39] toogley commented on #445
@sileht Nobody has assigned theirselfes to this issue yet, therefore you can of course work on this.

I'll assign you to it, so that people know this is WIP.

Thanks! :)

[2017-03-01 20:29] gahr commented on #341
@guinol how do you mean that this happens in index-only too? I thought it was when getting back from the pager into the index. Thanks for clarifying!

[2017-03-01 20:34] guiniol commented on #341
@gahr I'm pretty sure I've had it jump around in the index only too. I'll have to check next time it appears.

[2017-03-01 20:34] guiniol commented on #341
btw, it's guiniol, with and `i`. You just mentionned someone else ☺

[2017-03-01 20:43] gahr commented on #341
Sorry for that, blame it on the phone ;)

[2017-03-01 20:50] guiniol commented on #341
@gahr no worries, just saying ^^

[2017-03-01 21:10] dset0x commented on #341
I have been seeing the same problem as @guiniol . Note that `next-entry` jumps to #(message-that-`exit`-would-jump-to + 1), so neomutt really acts as if exiting a different message.

[2017-03-01 21:19] dset0x commented on #341
In an inbox with 9 messages {0..8}.

* Pager on #8. `exit` jumps to #2.
* Pager on #8. `toggle-weed` jumps to #2 and toggles weeding.
* Pager on #8. `next-entry` jumps to #3.
* Pager on #8. `next-entry` jumps to #1.

Works as expected when {0..7} is in the pager.

[2017-03-02 00:33] guyzmo commented on #430
@sileht I agree with your position, and thank you for the historic on this.
My opinion: `text/html` should only be seen like any special data format that needs an external program to be shown. If you want to see it nicely, you should setup your mailcap rule and the `auto_view text/html`. That's how I'm setup (with `lynx -dump -stdin`), and thus I never ran into that issue.

Though I think the debi

[2017-03-02 08:25] gahr commented on #410
I might have tracked down the issue to the fact that IMAP does not *always* get back in status SELECTED after a reconnect. Investigating.

[2017-03-02 08:50] rr- commented on #410
Information: this behavior seems to be very dependent on the IMAP server. Since I have switched from `gmail.com` to `mailbox.org`, the problem seems to no longer occur.

[2017-03-02 09:15] sileht commented on #430
debian have reintroduced the patch :) https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823971

anyways this is still good to have ithis n neomutt.

[2017-03-02 10:13] gahr commented on #430
In my opinion, a solution where mime/types are hard-coded into the source code is a no-go. If you look at the [IANA registered](http://www.iana.org/assignments/media-types/media-types.xhtml#text) `text/*` MIME types, I don't see many of that fit the description of "auto viewable in the pager".

Perhaps we should be better off in only automatically displaying text/plain, and let everything else be

[2017-03-02 10:20] Natureshadow commented on #430
to be no-go (adjective)
a no-no (noun)

[2017-03-02 10:21] gahr commented on #430
... so, make everything with a copiousoutput property be displayed through mailcap in the pager, and everything else only through the attachment browser

[2017-03-02 17:31] sthen commented on #432
This is with GCC 4.2.1 (i.e. the last GPLv2 release) which is the system compiler on OpenBSD for most architectures at present. The majority of C programs in the ports tree are OK with this (the main reason for using a different compiler is c++11). autoconf does pick up -std=gnu99 but it also needs either -fgnu89-inline or using an attribute to avoid the warnings.

It's possible to build with a di

[2017-03-02 17:41] sthen commented on #432
...hmm, actually, they're not just warnings - linking fails.

```/usr/obj/ports/neomutt-20170225/neomutt-20170225/mutt.h:1136: multiple definition of `mutt_new_enter_state'
addrbook.o:/usr/obj/ports/neomutt-20170225/neomutt-20170225/mutt.h:1136: first defined here
alias.o: In function `mutt_new_header':
/usr/obj/ports/neomutt-20170225/neomutt-20170225/mutt.h:934: multiple definition of `mutt_new_h

[2017-03-02 18:59] nobrowser commented on #432
I think we ought to require c99 at least (not necessarily gnu99), right at configure time.  If we don't, there will be surprises when code has c99 features.

[2017-03-02 19:23] guyzmo commented on #432
we do, so even if for the time being it's ok with some patches, there's going to be a point where it'll break. You should better switch either to GLP3 Gcc or to Clang to build neomutt.

[2017-03-02 19:43] gahr commented on #432
@sthen I can get access to an openbsd box and figure it out. Strange on freebsd/sparc/gcc 4.2.1 I couldn't reproduce.

[2017-03-03 10:45] P-EB commented on #446
Do you remember some context that might be useful when this bug occured?

[2017-03-03 14:16] flatcap commented on #438
OK, the problem's been introduced by the new hostname lookup code (#420).

A temporary workaround is to add a line to `/etc/hosts` with your hostname, e.g.
[code]

[2017-03-03 17:07] ElDeveloper commented on #446
I have seen this happen a couple of times, but I haven't figured out what is common between the occurrences. Sometimes I am in the pager when I notice, sometimes I am in the index when I notice. Just in case, these are my compilation flags:

[code]

[2017-03-03 18:46] gahr commented on #432
In FreeBSD we have a patched version of gcc 4.2.1. This could be the reason I cannot reproduce.

That being said, I think we could safely get a half step back and turn those functions into static inlines. This is not to fully retract the C99 support commitment, but it would be nice and fair to those forced to use an old compiler. Being gcc 4.2.1 the latest in the gpl2 series does indeed have impor

[2017-03-03 20:24] toogley commented on #432
@ghar do you think of this as a temporary solution or as permanent?